header nav .navbar-items .links li hr, header nav .account li hr {
  position: absolute;
  bottom: 7px;
  left: 0;
  margin: 0;
  height: 0.5px;
  width: 0px;
  background-color: white !important;
}

header nav .navbar-items .links li:hover hr, header nav .account li:hover hr {
  width: 100% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav .navbar-items .links, header nav .account {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navbar-items .links li, header nav .account li {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: relative;
}

header nav .navbar-items .links li a, header nav .account li a {
  color: white !important;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
}

header nav .navbar-items .links li a:hover, header nav .account li a:hover {
  text-decoration: none;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in, header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset, #subscribe .form-holder .form-field .subs-btn, #shop-cart .shop-table-wrapper .empty-alert a, #shop-cart .cart-totals .checkout-btn a {
  padding: 10px 24px;
  display: inline-block;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
  background-color: #769484;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  z-index: 1;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in::before, header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset::before, #subscribe .form-holder .form-field .subs-btn::before, #shop-cart .shop-table-wrapper .empty-alert a::before, #shop-cart .cart-totals .checkout-btn a::before {
  content: "";
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #3a3b74;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in:hover, header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset:hover, #subscribe .form-holder .form-field .subs-btn:hover, #shop-cart .shop-table-wrapper .empty-alert a:hover, #shop-cart .cart-totals .checkout-btn a:hover {
  color: white;
  text-decoration: none;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in:hover::before, header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset:hover::before, #subscribe .form-holder .form-field .subs-btn:hover::before, #shop-cart .shop-table-wrapper .empty-alert a:hover::before, #shop-cart .cart-totals .checkout-btn a:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#subscribe .subscribe-title h1 {
  font-size: 46px;
  font-family: ludicrous;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #subscribe .subscribe-title h1 {
    font-size: 40px;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #subscribe .subscribe-title h1 {
    font-size: 28px;
  }
}

#subscribe .subscribe-title hr {
  margin: 8px 0;
  height: 0.7px;
  width: 60px;
  background-color: white;
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #subscribe .subscribe-title hr {
    width: 45px;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #subscribe .subscribe-title hr {
    width: 35px;
  }
}

#subscribe .subscribe-title p {
  padding-top: 16px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #subscribe .subscribe-title p {
    font-size: 13px;
  }
}

footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}

footer .footer-top a {
  color: white;
  font-weight: 200;
  font-size: 15px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

footer .footer-top a:hover {
  text-decoration: none;
  color: #aac5b7 !important;
}

header nav .account li .login-box-holder .same-style-input-area .alert, header nav .account li .login-box-holder #reset-form .reset-password .alert, #subscribe .form-holder .alert {
  padding: 5px 0 0;
  color: red;
  font-weight: 400;
  font-size: 14px;
}

footer .footer-bottom .social-media ul li .instagram::before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

footer .footer-bottom .social-media ul li a {
  font-size: 16px;
  color: white;
  width: 35px;
  height: 35px;
  background-color: transparent;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  position: relative;
  z-index: 99;
}

footer .footer-bottom .social-media ul li a::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: -1;
}

footer .footer-bottom .social-media ul li:hover .facebook::before {
  background-color: #4867aa;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer-bottom .social-media ul li:hover .instagram::before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer-bottom .social-media ul li:hover .youtube::before {
  background-color: red;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer .footer-bottom .social-media ul li:hover .twitter::before {
  background-color: #00a2f3;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area .btn {
  width: 33px;
  height: 37px;
  color: #0f0e0e;
  border: 1px solid #aaaaaa;
  background-color: #eef0f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
  font-size: 10px;
  outline: none;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area .btn:focus {
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area .btn:hover {
  background-color: #3a3b74;
  border: 1px solid #3a3b74;
  color: white;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area .minus-btn {
  border-radius: 3px 0 0 3px;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area .plus-btn {
  border-radius: 0 3px 3px 0;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area input {
  background-color: #eef0f2;
  text-align: center;
  width: 55px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .increase-decrease .increase-decrease-area input:focus {
  outline: none;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .tour-price span, #shop-cart .cart-totals .total span {
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
}

#top-header {
  background-color: black;
  padding: 0 93px;
  height: 34px;
}

#top-header .phone {
  padding-top: 5px;
}

#top-header .phone span {
  font-size: 13px;
}

#top-header .phone span i {
  margin-right: 4px;
}

#top-header .langs {
  height: 100%;
  padding-top: 3px;
}

#top-header .langs ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  height: 100%;
}

#top-header .langs ul li {
  font-size: 14px;
  width: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 13px;
}

#top-header .langs ul li a {
  color: white;
}

#top-header .langs ul li a:hover {
  color: #aac5b7 !important;
  text-decoration: none;
}

#top-header .langs ul li:first-of-type {
  border-right: 1px solid #b8b6b6;
}

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

header nav {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 0 70px 2px 70px !important;
  height: 75px;
  z-index: 7;
}

header nav img {
  width: 90px;
}

header nav .navbar-items {
  width: 60% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 55px;
}

header nav .account {
  width: 165px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .account li {
  height: 20px;
  width: 33%;
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .account li a {
  padding: 0;
}

header nav .account li a i {
  z-index: 11;
  position: relative;
}

header nav .account li a i sup {
  font-size: 10px;
  font-style: normal;
  position: absolute;
  top: 0px;
  right: -6px;
}

header nav .account li a i::before {
  font-size: 17px;
  margin-left: 0;
}

header nav .account li a:hover {
  color: #aac5b7 !important;
}

header nav .account li .search-area-holder {
  width: 300px;
  height: 50px;
  position: fixed;
  top: 112px;
  right: 192px;
  border-radius: 4px;
  -webkit-animation: fadeEffect 0.7s;
          animation: fadeEffect 0.7s;
  display: none;
  -webkit-box-shadow: 0 2px 6px 0 #2e2d2d;
          box-shadow: 0 2px 6px 0 #2e2d2d;
}

header nav .account li .search-area-holder input[type="text"] {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  border: 0;
  padding-left: 15px;
  border-radius: 5px;
}

header nav .account li .search-area-holder input[type="text"]:focus {
  outline: 0;
  border: 1px solid black;
}

header nav .account li .search-area-holder a {
  position: absolute;
  top: 11px;
  right: 15px;
}

header nav .account li .search-area-holder a i::before {
  color: black;
  font-size: 18px;
}

header nav .account li .login-box-holder {
  width: 420px;
  background: #5c755e;
  -webkit-box-shadow: 0 2px 8px 0 #050505;
          box-shadow: 0 2px 8px 0 #050505;
  border-radius: 5px;
  position: fixed;
  top: 114px;
  right: 139px;
  padding: 35px 40px 50px;
  overflow: hidden;
  -webkit-animation: fadeEffect 0.7s;
          animation: fadeEffect 0.7s;
  display: none;
}

header nav .account li .login-box-holder .same-style-input-area {
  width: 100%;
}

header nav .account li .login-box-holder .same-style-input-area .input-area {
  width: 100%;
  height: 55px;
  margin-top: 15px;
  font-size: 16px;
  color: #3c3c3c;
  position: relative;
}

header nav .account li .login-box-holder .same-style-input-area .input-area i {
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 18px;
  color: red;
  z-index: 0;
}

header nav .account li .login-box-holder .same-style-input-area .input-area .success-icon {
  color: green;
  z-index: 5;
}

header nav .account li .login-box-holder .same-style-input-area .input-area input {
  border-radius: 4px;
  padding: 0 25px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none;
}

header nav .account li .login-box-holder .same-style-input-area .input-area input:focus {
  border: 1px solid black;
}

header nav .account li .login-box-holder .same-style-input-area .forgot-area {
  text-align: right;
  margin: 10px 0 20px 0;
}

header nav .account li .login-box-holder .same-style-input-area .forgot-area a {
  font-size: 14px;
  font-weight: 200;
  color: white;
}

header nav .account li .login-box-holder .same-style-input-area .forgot-area a:hover {
  color: #e4e0e0 !important;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-up {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-up:hover {
  color: #e0dada !important;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in {
  cursor: pointer;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in:hover {
  color: white !important;
}

header nav .account li .login-box-holder .same-style-input-area .bottom-links .sign-in:focus {
  outline: none;
}

header nav .account li .login-box-holder #reset-form .reset-password p {
  color: white;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links {
  padding-top: 20px !important;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .go-back {
  color: white;
  font-weight: 300;
  font-size: 15px;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .go-back:hover {
  color: #e0dada !important;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset {
  cursor: pointer;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset:hover {
  color: white !important;
}

header nav .account li .login-box-holder #reset-form .reset-password .bottom-links .reset:focus {
  outline: none;
}

header nav .account li .login-box-holder #reset-form .hidden {
  display: none !important;
}

header nav .account li .login-box-holder #reset-form .success {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 165px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .account li .login-box-holder #reset-form .success i {
  font-size: 60px;
  color: #2ab06f;
}

header nav .account li .login-box-holder #reset-form .success h4 {
  margin: 7px 0 0;
  font-weight: 400;
  color: white;
}

header nav .account li .login-box-holder #reset-form .success p {
  margin-bottom: 0;
  font-weight: 100;
  color: white;
}

header nav .account li .visible {
  display: block;
}

header nav .account .user {
  border-left: 1px solid #b8b6b6;
  border-right: 1px solid #b8b6b6;
}

@media (min-width: 280px) and (max-width: 374.98px) {
  header nav .account {
    right: 60px !important;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header nav .hamburger {
  display: none;
}

header nav .active-link hr {
  width: 100% !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #top-header {
    padding: 0 36px 0 42px !important;
  }
  #top-header .langs {
    padding-top: 3px;
  }
  header .navbar {
    height: 75px;
  }
  header .navbar img {
    width: 90px !important;
    position: absolute;
    top: 14px !important;
    left: 40px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 355px !important;
    height: 97%;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 125px 0 0 64px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 33px;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .middle-links {
    height: 280px;
    width: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .navbar-items .middle-links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .navbar .navbar-items .middle-links li a {
    font-size: 20px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 180px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 26px;
    right: 120px;
  }
  header .navbar .account li {
    height: 24px;
  }
  header .navbar .account li a i::before {
    font-size: 20px !important;
  }
  header .navbar .account li a i sup {
    top: -3px;
    right: -8px;
    font-size: 13px;
  }
  header .navbar .account li .search-area-holder {
    right: 236px;
  }
  header .navbar .account li .login-box-holder {
    right: 178px !important;
  }
  header .navbar .hamburger {
    display: inline-block !important;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 44px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .change .line-2 {
    opacity: 0;
  }
  header .navbar .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #top-header {
    padding: 0 35px 0 43px !important;
  }
  #top-header .phone span {
    font-size: 13px !important;
  }
  #top-header .langs {
    padding-top: 3px;
  }
  #top-header .langs ul li {
    width: 38px !important;
    font-size: 16px !important;
  }
  header .navbar {
    height: 75px;
  }
  header .navbar img {
    width: 90px !important;
    position: absolute;
    top: 13px !important;
    left: 40px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 325px !important;
    height: 98%;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 125px 0 0 64px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 33px;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .middle-links {
    height: 250px;
    width: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .navbar-items .middle-links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .navbar .navbar-items .middle-links li a {
    font-size: 18px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 180px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 26px;
    right: 120px;
  }
  header .navbar .account li {
    height: 24px;
  }
  header .navbar .account li a i::before {
    font-size: 20px !important;
  }
  header .navbar .account li a i sup {
    top: -3px;
    right: -8px;
    font-size: 12px;
  }
  header .navbar .account li .search-area-holder {
    width: calc(100% - 82px) !important;
    height: 60px !important;
    position: fixed !important;
    left: 41px !important;
  }
  header .navbar .account li .login-box-holder {
    right: 40px !important;
    width: calc(100% - 80px) !important;
  }
  header .navbar .hamburger {
    display: inline-block !important;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 44px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .change .line-2 {
    opacity: 0;
  }
  header .navbar .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #top-header {
    padding: 0 14px 0 21px !important;
  }
  #top-header .phone {
    padding-top: 5px;
  }
  #top-header .phone span {
    font-size: 14px !important;
  }
  #top-header .langs {
    padding-top: 3px;
  }
  #top-header .langs ul li {
    width: 36px !important;
    font-size: 16px !important;
  }
  header .navbar {
    height: 75px;
  }
  header .navbar img {
    width: 75px !important;
    position: absolute;
    top: 16px !important;
    left: 20px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 285px !important;
    height: 98%;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 106px 0 0 60px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 33px;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .middle-links {
    height: 230px;
    width: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .navbar .navbar-items .middle-links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .navbar .navbar-items .middle-links li a {
    font-size: 18px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 180px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 25px;
    right: 76px;
  }
  header .navbar .account li {
    height: 24px;
  }
  header .navbar .account li a i::before {
    font-size: 18px !important;
  }
  header .navbar .account li a i sup {
    top: -1px;
    right: -8px;
    font-size: 12px;
  }
  header .navbar .account li .search-area-holder {
    width: calc(100% - 37px) !important;
    height: 55px !important;
    position: fixed !important;
    left: 18px !important;
  }
  header .navbar .account li .login-box-holder {
    right: 19px !important;
    width: calc(100% - 37px) !important;
    padding: 50px 20px !important;
  }
  header .navbar .account li .login-box-holder .bottom-links .sign-up {
    font-size: 16px !important;
  }
  header .navbar .hamburger {
    display: inline-block !important;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 22px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .change .line-2 {
    opacity: 0;
  }
  header .navbar .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #top-header {
    height: 34px !important;
    padding: 0 7px 0 14px !important;
  }
  #top-header .phone {
    padding-top: 5px;
  }
  #top-header .phone span {
    font-size: 11px !important;
  }
  #top-header .langs {
    padding-top: 3px;
  }
  #top-header .langs ul li {
    width: 32px !important;
    font-size: 13px !important;
  }
  header .navbar {
    height: 75px;
  }
  header .navbar img {
    width: 63px !important;
    position: absolute;
    top: 20px !important;
    left: 12px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 100% !important;
    height: 98%;
    padding-left: 0;
    background-color: black !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 33px;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .links {
    padding-top: 20px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .navbar .navbar-items .links li a {
    font-size: 20px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 124px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 30px;
    right: 50px;
  }
  header .navbar .account li {
    height: 18px;
  }
  header .navbar .account li a i::before {
    font-size: 15px !important;
  }
  header .navbar .account li a i sup {
    top: 1px;
    right: -6px;
    font-size: 9px;
  }
  header .navbar .account li .search-area-holder {
    width: calc(100% - 27px) !important;
    height: 45px !important;
    position: fixed !important;
    left: 12px !important;
  }
  header .navbar .account li .login-box-holder {
    right: 14px !important;
    width: calc(100% - 27px) !important;
    padding: 38px 20px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .input-area {
    height: 45px !important;
    font-size: 11px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .input-area input {
    padding: 0 15px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .alert {
    font-size: 11px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .forgot-area a {
    font-size: 11px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .bottom-links .sign-up {
    font-size: 13px !important;
  }
  header .navbar .account li .login-box-holder .same-style-input-area .bottom-links .sign-in {
    font-size: 13px !important;
    padding: 7px 20px !important;
  }
  header .navbar .account li .login-box-holder .reset-password .alert {
    font-size: 11px !important;
  }
  header .navbar .account li .login-box-holder .reset-password .bottom-links .go-back {
    font-size: 13px !important;
  }
  header .navbar .account li .login-box-holder .reset-password .bottom-links .reset {
    font-size: 13px !important;
    padding: 7px 20px !important;
  }
  header .navbar .hamburger {
    display: inline-block !important;
    width: 25px;
    height: 30px;
    position: absolute;
    top: 22px;
    right: 18px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .line {
    width: 100%;
    height: 2px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .change .line-2 {
    opacity: 0;
  }
  header .navbar .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
}

footer {
  padding: 100px 0px 30px;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

footer .footer-top {
  padding-bottom: 30px;
}

footer .footer-top .about-us {
  padding-right: 10%;
}

footer .footer-top .about-us p {
  color: white;
  font-weight: 200;
  font-size: 15px;
}

footer .footer-top .quick-links {
  padding-left: 18%;
}

footer .footer-top .quick-links li {
  padding-bottom: 5px;
}

footer .footer-top .legal {
  padding-left: 44%;
}

footer .footer-top .legal li {
  padding-bottom: 5px;
}

footer .footer-top .contact {
  padding-left: 35%;
}

footer .footer-top .contact li {
  padding-bottom: 5px;
  color: white;
  font-weight: 200;
  font-size: 15px;
}

footer .footer-top .contact li i {
  margin-right: 10px;
}

footer .footer-bottom {
  padding-top: 40px;
  border-top: 0.1px solid #9e9d9d;
}

footer .footer-bottom .copyright-holder p {
  font-size: 15px;
  font-weight: 200;
}

footer .footer-bottom .social-media {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-bottom .social-media ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .footer-top .about-us {
    padding-right: 20% !important;
  }
  footer .footer-top .quick-links {
    padding-left: 8% !important;
  }
  footer .footer-top .legal {
    padding-left: 33% !important;
  }
  footer .footer-top .contact {
    padding-left: 25% !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  footer .footer-top .about-us {
    padding-right: 20% !important;
  }
  footer .footer-top .quick-links {
    padding-left: 0 !important;
  }
  footer .footer-top .legal {
    padding-left: 28% !important;
  }
  footer .footer-top .contact {
    padding-left: 18% !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  footer .footer-top .about-us {
    padding-right: 27% !important;
  }
  footer .footer-top .quick-links {
    padding: 20px 0 20px 14px !important;
  }
  footer .footer-top .legal {
    padding: 0 0 20px 14px !important;
  }
  footer .footer-top .contact {
    padding-left: 0 !important;
  }
  footer .footer-bottom {
    padding-bottom: 8px;
  }
  footer .footer-bottom .social-media-top {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-bottom .social-media-top .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-bottom .copyright-bottom {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-bottom .copyright-bottom .copyright-holder {
    text-align: center;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  footer {
    padding: 100px 10px 30px !important;
  }
  footer .footer-top .about-us {
    padding-right: 24% !important;
  }
  footer .footer-top .quick-links {
    padding: 20px 0 20px 14px !important;
  }
  footer .footer-top .legal {
    padding: 0 0 20px 14px !important;
  }
  footer .footer-top .contact {
    padding-left: 0 !important;
  }
  footer .footer-bottom {
    padding-bottom: 10px;
  }
  footer .footer-bottom .social-media-top {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-bottom .social-media-top .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-bottom .social-media-top .social-media ul {
    width: 180px !important;
  }
  footer .footer-bottom .copyright-bottom {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-bottom .copyright-bottom .copyright-holder {
    text-align: center;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  footer {
    padding: 100px 5px 30px !important;
  }
  footer .footer-top h4 {
    font-size: 15px !important;
  }
  footer .footer-top a {
    font-size: 13px !important;
  }
  footer .footer-top .about-us {
    padding-right: 5% !important;
  }
  footer .footer-top .about-us p {
    font-size: 13px !important;
  }
  footer .footer-top .quick-links {
    padding: 20px 0 20px 14px !important;
  }
  footer .footer-top .legal {
    padding: 0 0 20px 14px !important;
  }
  footer .footer-top .contact {
    padding-left: 0 !important;
  }
  footer .footer-top .contact li {
    font-size: 13px !important;
  }
  footer .footer-bottom {
    padding-bottom: 10px;
  }
  footer .footer-bottom .social-media-top {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer-bottom .social-media-top .social-media {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-bottom .social-media-top .social-media ul {
    width: 160px !important;
  }
  footer .footer-bottom .social-media-top .social-media ul li a {
    font-size: 15px !important;
  }
  footer .footer-bottom .copyright-bottom {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer-bottom .copyright-bottom .copyright-holder {
    text-align: center;
  }
  footer .footer-bottom .copyright-bottom .copyright-holder p {
    font-size: 13px !important;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1e21;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000;
  font-size: 40px;
  letter-spacing: 11px;
}

@media (min-width: 375px) and (max-width: 530px) {
  .loading-text span {
    font-size: 30px;
    letter-spacing: 7px;
  }
}

@media (max-width: 374.98px) {
  .loading-text span {
    font-size: 22px;
    letter-spacing: 5px;
  }
}

.loading-text span:before {
  content: attr(data-preloader);
  position: absolute;
  top: 0;
  left: 0;
  color: #1ec8e7;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: preload-animation;
          animation-name: preload-animation;
}

.loading-text span:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-text span:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-text span:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-text span:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading-text span:nth-child(6):before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading-text span:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes preload-animation {
  0%,
  100% {
    -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
    opacity: 0;
  }
  20%,
  50% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
    opacity: 0;
  }
}

@keyframes preload-animation {
  0%,
  100% {
    -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
    opacity: 0;
  }
  20%,
  50% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
    opacity: 0;
  }
}

#subscribe {
  padding: 100px 0 120px;
  background: url(../img/bg-images/forest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#subscribe::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(48, 59, 54, 0.6);
}

#subscribe .subscribe-title {
  text-align: center;
  padding-bottom: 50px;
}

#subscribe .subscribe-title h1 {
  color: white;
}

#subscribe .subscribe-title hr {
  background-color: white;
}

#subscribe .subscribe-title p {
  color: white;
}

#subscribe .form-holder {
  position: relative;
}

#subscribe .form-holder .form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#subscribe .form-holder .form-field input {
  width: 60%;
  height: 50px;
  border: 0;
  padding-left: 25px;
  border-radius: 4px 0 0 4px;
}

#subscribe .form-holder .form-field input:focus {
  border-color: #ff6363;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(3, 169, 244, 0.5);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(3, 169, 244, 0.5);
  outline: 0 none;
}

#subscribe .form-holder .form-field .subs-btn {
  text-transform: none;
  border: 0;
  outline: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

#subscribe .form-holder .form-field .subs-btn::before {
  border-radius: 0 4px 4px 0 !important;
}

#subscribe .form-holder i {
  position: absolute;
  top: 16px;
  right: 230px;
  font-size: 18px;
  color: red;
  z-index: 1;
}

#subscribe .form-holder .success-icon {
  color: green;
  z-index: 5;
}

#subscribe .form-holder .alert {
  padding-left: 88px;
  color: #f96220;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #subscribe .form-holder i {
    right: 205px !important;
  }
  #subscribe .form-holder .alert {
    padding-left: 65px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #subscribe .form-holder .form-field input {
    width: 75% !important;
    padding-left: 20px !important;
  }
  #subscribe .form-holder i {
    right: 140px !important;
  }
  #subscribe .form-holder .alert {
    padding-left: 3px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #subscribe .subscribe-title {
    padding: 0 50px 50px !important;
  }
  #subscribe .form-holder .form-field input {
    padding-left: 20px !important;
  }
  #subscribe .form-holder i {
    right: 180px !important;
    font-size: 17px !important;
  }
  #subscribe .form-holder .alert {
    padding-left: 43px !important;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #subscribe .subscribe-title {
    padding: 0 20px 50px !important;
  }
  #subscribe .form-holder .form-field input {
    padding-left: 20px !important;
    width: 65% !important;
  }
  #subscribe .form-holder .form-field .subs-btn {
    font-weight: 300 !important;
    padding: 10px 14px !important;
  }
  #subscribe .form-holder i {
    right: calc(60%/3 + 59px) !important;
    font-size: 17px !important;
  }
  #subscribe .form-holder .alert {
    padding-left: calc(15% - 35px) !important;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #subscribe .subscribe-title {
    padding: 0 11px 25px !important;
  }
  #subscribe .subscribe-title h1 {
    margin-bottom: 5px !important;
  }
  #subscribe .form-holder .form-field input {
    padding-left: 15px !important;
    font-size: 13px;
    height: 40px !important;
    width: 65% !important;
  }
  #subscribe .form-holder .form-field .subs-btn {
    font-size: 13px;
    font-weight: 300 !important;
    padding: 8px 10px !important;
  }
  #subscribe .form-holder i {
    top: 13px !important;
    right: calc(60%/3 + 45px) !important;
    font-size: 14px !important;
  }
  #subscribe .form-holder .alert {
    font-size: 12px !important;
    padding-left: calc(15% - 29px) !important;
  }
}

#topBtn {
  position: fixed;
  right: 30px;
  bottom: 80px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  width: 45px;
  height: 50px;
  border-radius: 4px;
  line-height: 45px;
  background-color: #3a3b74;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  visibility: hidden;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  z-index: 999;
  opacity: 0.8;
}

#topBtn:hover {
  opacity: 1;
}

#topBtn:focus {
  outline: none;
}

#topBtn i::before {
  color: white;
  font-size: 18px;
  margin-left: 0;
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #topBtn {
    right: 20px !important;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #topBtn {
    right: 15px !important;
  }
}

#intro {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 500px;
}

#intro .page-caption {
  height: 500px;
  padding-top: 40px;
}

#intro .page-caption h1 {
  color: white;
  font-family: ludicrous;
  text-transform: uppercase;
  font-size: 65px;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #intro {
    height: 100%;
  }
  #intro .page-caption {
    height: 420px;
  }
  #intro .page-caption h1 {
    font-size: 55px;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #intro {
    height: 100%;
  }
  #intro .page-caption {
    height: 420px;
    padding-top: 30px;
  }
  #intro .page-caption h1 {
    font-size: 55px;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #intro {
    height: 100%;
  }
  #intro .page-caption {
    height: 400px;
    padding-top: 50px;
  }
  #intro .page-caption h1 {
    font-size: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ludicrous";
  src: url(../WOFF-web-fonts/Ludicrous.woff);
  font-weight: 100;
}

.stop-scroll {
  height: 100vh;
  overflow: hidden;
}

#intro {
  background-image: url(../img/bg-images/wood.jpg);
  text-align: center;
}

#shop-cart {
  padding: 70px 0;
  background-color: #ededed;
}

#shop-cart .shop-table-wrapper .shop-table {
  width: 100%;
}

#shop-cart .shop-table-wrapper .shop-table thead {
  background-color: #769484;
  text-align: center;
}

#shop-cart .shop-table-wrapper .shop-table thead .thead-row {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  height: 70px;
  border-bottom: 1px solid #dbc5c5;
}

#shop-cart .shop-table-wrapper .shop-table thead th {
  width: 25%;
}

#shop-cart .shop-table-wrapper .shop-table tbody {
  text-align: center;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row {
  height: 90px;
  border-bottom: 1px solid #dbc5c5;
}

#shop-cart .shop-table-wrapper .shop-table tbody .tbody-row .remove-tour a {
  font-size: 14px;
}

#shop-cart .shop-table-wrapper .empty-alert a {
  text-transform: none;
  padding: 8px 30px;
}

#shop-cart .cart-totals {
  padding-top: 60px;
}

#shop-cart .cart-totals .cart-totals-head h5 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#shop-cart .cart-totals .total {
  height: 50px !important;
}

#shop-cart .cart-totals .total h6 {
  margin-bottom: 0;
}

#shop-cart .cart-totals .total {
  border-top: 1px solid #dbc5c5;
}

#shop-cart .cart-totals .total h6 {
  font-weight: 700;
}

#shop-cart .cart-totals .total span {
  font-size: 24px;
  font-weight: 700;
}

#shop-cart .cart-totals .checkout-btn {
  padding-top: 20px;
}

#shop-cart .cart-totals .checkout-btn a {
  text-transform: none;
  padding: 12px 0;
  width: 100%;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #shop-cart .shop-table tbody .tbody-row .tour-name {
    font-size: 14px;
  }
  #shop-cart .shop-table tbody .tbody-row .tour-price span {
    font-size: 18px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area .btn {
    width: 29px !important;
    height: 35px !important;
    font-size: 9px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area input[type="text"] {
    width: 46px !important;
    font-size: 14px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .remove-tour a {
    font-size: 12px !important;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #shop-cart {
    padding: 45px 0 80px;
  }
  #shop-cart .shop-table th,
  #shop-cart .shop-table td {
    display: block;
    float: left;
  }
  #shop-cart .shop-table th {
    width: 100%;
    padding-top: 10px;
  }
  #shop-cart .shop-table thead {
    display: none;
  }
  #shop-cart .shop-table tbody .tbody-row {
    height: 187px !important;
  }
  #shop-cart .shop-table tbody .tbody-row td {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    font-size: 17px;
  }
  #shop-cart .shop-table tbody .tbody-row td::before {
    display: block;
    font-weight: bold;
    margin: 12px 0 3px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(1):before {
    content: "Tour";
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(2):before {
    content: "Price";
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(3):before {
    content: "Quantity";
    margin-bottom: 8px;
  }
  #shop-cart .shop-table tbody .tbody-row .tour-price span {
    font-size: 20px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area .btn {
    width: 28px !important;
    height: 32px !important;
    font-size: 9px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area input[type="text"] {
    width: 44px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .remove-tour {
    margin-top: 46px;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #shop-cart {
    padding: 45px 0 80px;
  }
  #shop-cart .shop-table th,
  #shop-cart .shop-table td {
    display: block;
    float: left;
  }
  #shop-cart .shop-table th {
    width: 100%;
    padding-top: 10px;
  }
  #shop-cart .shop-table thead {
    display: none;
  }
  #shop-cart .shop-table tbody .tbody-row {
    height: 175px !important;
  }
  #shop-cart .shop-table tbody .tbody-row td {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
    font-size: 14px;
  }
  #shop-cart .shop-table tbody .tbody-row td::before {
    display: block;
    font-weight: bold;
    margin: 12px 0 3px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(1):before {
    content: "Tour";
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(2):before {
    content: "Price";
  }
  #shop-cart .shop-table tbody .tbody-row td:nth-child(3):before {
    content: "Quantity";
    margin-bottom: 8px;
  }
  #shop-cart .shop-table tbody .tbody-row .tour-price span {
    font-size: 17px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area .btn {
    width: 26px !important;
    height: 32px !important;
    font-size: 8px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .increase-decrease-area input[type="text"] {
    width: 38px !important;
    font-size: 14px !important;
  }
  #shop-cart .shop-table tbody .tbody-row .remove-tour {
    margin-top: 46px;
  }
  #shop-cart .shop-table tbody .tbody-row .remove-tour a {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=cart.css.map */