@media (min-width: 992px) and (max-width: 1199.98px) {
  header {
    nav {
      height: 76px;
      padding: 10px 0 10px 0 !important;
      img {
        width: 90px !important;
        position: absolute;
        top: 12px;
        left: 22px;
      }

      .left {
        padding-left: 275px !important;
        li{
          hr{
            display: none;
          }
        }
      }

      .account {
        width: 90px !important;
        position: absolute;
        right: 35px;
        top: 22px;
        li{
          hr{
            display: none;
          }
        }
        a {
          font-size: 17px !important;
          span{
            position: absolute;
            top: 0px;
            right: -12px;
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -70px !important;
    .carousel-item {
      height: 720px !important;
    }

    .carousel-control-next {
      .carousel-control {
        margin: 238px 0 0 107px !important;
      }
    }
    .carousel-control-prev {
      .carousel-control {
        margin: 238px 107px 0 0 !important;
      }
    }

    .caption {
      width: 280px !important;
      height: 120px !important;
      top: 350px !important;
      left: 370px !important;
      h3 {
        font-size: 24px !important;
      }

      h1 {
        font-size: 24px !important;
      }

      .button {
        width: 120px !important;
        height: 30px !important;
        line-height: 30px !important;
        font-size: 11px !important;
        border-radius: 2px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    img {
      width: 90px !important;
    }

    .navbar-toggler {
      border: none;
      font-size: 18px;
      padding: 0 0 5px 0;
      &:focus {
        outline: none;
      }
    }

    .left {
      padding: 15px 0 13px 20px !important;
      li{
        hr{
          display: none;
        }
      }
    }

    .account {
      position: absolute;
      right: 110px;
      top: 19px;
      li{
        hr{
          display: none;
        }
      }
      a {
        font-size: 18px !important;
        position: relative;
        span{
          sup{
            position: absolute !important;
            font-size: 12px;
            top: 5px !important;
            right: -8px !important;
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -70px !important;
    .carousel-item {
      height: 720px !important;
    }

    .carousel-control-next {
      .carousel-control {
        margin: 238px 0 0 70px !important;
      }
    }
    .carousel-control-prev {
      .carousel-control {
        margin: 238px 70px 0 0 !important;
      }
    }

    .caption {
      width: 280px !important;
      height: 120px !important;
      top: 350px !important;
      left: 242px !important;
      h3 {
        font-size: 24px !important;
      }

      h1 {
        font-size: 24px !important;
      }

      .button {
        width: 120px !important;
        height: 29px !important;
        line-height: 26px !important;
        font-size: 11px !important;
        border-radius: 2px !important;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    .navbar-toggler {
      border: none;
      font-size: 14px;
      padding: 3px 20px 3px 0;
      &:focus {
        outline: none;
      }
    }

    .left {
      padding: 15px 0 13px 0 !important;
      li{
        hr{
          display: none;
        }
      }
    }

    .account {
      position: absolute;
      right: 40px;
      top: 26px;
      li{
        hr{
          display: none;
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -70px !important;
    .carousel-item {
      height: 420px !important;
      img {
        height: 100% !important;
      }
    }

    .carousel-control-prev {
      display: none !important;
    }
    .carousel-control-next {
      display: none !important;
    }

    .caption {
      width: 180px !important;
      height: 90px !important;
      top: 210px !important;
      left: 102px !important;
      h3 {
        font-size: 15px !important;
      }

      h1 {
        font-size: 15px !important;
      }

      .button {
        width: 60px !important;
        height: 16px !important;
        line-height: 9px !important;
        font-size: 7px !important;
        border-radius: 1px !important;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 575.98px) {
  header {
    nav {
      min-height: 40px !important;
      padding: 10px 0 10px 0 !important;
      img {
        width: 50px !important;
        position: absolute;
        left: 15px;
        top: 6px;
      }

      .navbar-toggler {
        border: none;
        font-size: 11px;
        position: absolute;
        right: 8px;
        top: 6px;
        &:focus {
          outline: none;
        }
      }

      .left {
        padding: 23px 0 0 0 !important;
        li {
          a {
            font-size: 9px !important;
          }
          hr{
            display: none;
          }
        }
      }

      .account {
        width: 60px !important;
        position: absolute;
        right: 70px;
        top: 6px;
        li {
          hr{
            display: none;
          }
          &:first-of-type{
            padding-top: 0px !important;
          }
          a {
            font-size: 11px !important;
            position: relative;
            span{
             sup{
              font-size: 8px;
              position: absolute;
              top: 2px;
              right: -6px;
             }
            }
            span:before{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -55px !important;
    .carousel-item {
      height: 420px !important;
      img {
        height: 100% !important;
      }
    }

    .carousel-control-prev {
      display: none !important;
    }
    .carousel-control-next {
      display: none !important;
    }

    .caption {
      width: 180px !important;
      height: 90px !important;
      top: 210px !important;
      left: 180px !important;
      h3 {
        font-size: 15px !important;
      }

      h1 {
        font-size: 15px !important;
      }

      .button {
        width: 70px !important;
        height: 20px !important;
        line-height: 16px !important;
        font-size: 7px !important;
        border-radius: 1px !important;
      }
    }
  }
}

@media (min-width: 400px) and (max-width: 499.98px) {
  header {
    nav {
      min-height: 40px !important;
      padding: 10px 0 10px 0 !important;
      img {
        width: 50px !important;
        position: absolute;
        left: 15px;
        top: 6px;
      }

      .navbar-toggler {
        border: none;
        font-size: 11px;
        position: absolute;
        right: 8px;
        top: 6px;
        &:focus {
          outline: none;
        }
      }

      .left {
        padding: 23px 0 0 0 !important;
        li {
          hr{
            display: none;
          }
          a {
            font-size: 9px !important;
          }
        }
      }

      .account {
        width: 60px !important;
        position: absolute;
        right: 65px;
        top: 6px;
        li {
          hr{
            display: none;
          }
          &:first-of-type{
            padding-top: 0px !important;
          }
          a {
            font-size: 11px !important;
            position: relative;
            span{
             sup{
              font-size: 8px;
              position: absolute;
              top: 2px;
              right: -6px;
             }
            }
            span:before{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -55px !important;
    .carousel-item {
      height: 420px !important;
      img {
        height: 100% !important;
      }
    }

    .carousel-control-prev {
      display: none !important;
    }
    .carousel-control-next {
      display: none !important;
    }

    .caption {
      width: 180px !important;
      height: 90px !important;
      top: 210px !important;
      left: 116px !important;
      h3 {
        font-size: 15px !important;
      }

      h1 {
        font-size: 15px !important;
      }

      .button {
        width: 70px !important;
        height: 20px !important;
        line-height: 17px !important;
        font-size: 7px !important;
        border-radius: 1px !important;
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 399.98px) {
  header {
    nav {
      min-height: 40px !important;
      padding: 10px 0 10px 0 !important;
      img {
        width: 50px !important;
        position: absolute;
        left: 15px;
        top: 6px;
      }

      .navbar-toggler {
        border: none;
        font-size: 11px;
        position: absolute;
        right: 8px;
        top: 6px;
        &:focus {
          outline: none;
        }
      }

      .left {
        padding: 23px 0 0 0 !important;
        li {
          hr{
            display: none;
          }
          a {
            font-size: 9px !important;
          }
        }
      }

      .account {
        width: 60px !important;
        position: absolute;
        right: 65px;
        top: 6px;
        li {
          hr{
            display: none;
          }
          &:first-of-type{
            padding-top: 0px !important;
          }
          a {
            font-size: 11px !important;
            position: relative;
            span{
             sup{
              font-size: 8px;
              position: absolute;
              top: 2px;
              right: -6px;
             }
            }
            span:before{
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -55px !important;
    .carousel-item {
      height: 420px !important;
      img {
        height: 100% !important;
      }
    }

    .carousel-control-prev {
      display: none !important;
    }
    .carousel-control-next {
      display: none !important;
    }

    .caption {
      width: 180px !important;
      height: 90px !important;
      top: 210px !important;
      left: 102px !important;
      h3 {
        font-size: 15px !important;
      }

      h1 {
        font-size: 15px !important;
      }

      .button {
        width: 70px !important;
        height: 20px !important;
        line-height: 18px !important;
        font-size: 7px !important;
        border-radius: 1px !important;
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 299.98px) {
  header {
    nav {
      min-height: 35px !important;
      padding: 10px 0 10px 0 !important;
      img {
        width: 40px !important;
        position: absolute;
        left: 15px;
        top: 6px;
      }

      .navbar-toggler {
        border: none;
        font-size: 9px;
        position: absolute;
        right: 4px;
        top: 6px;
        &:focus {
          outline: none;
        }
      }

      .left {
        padding: 15px 0 0 0 !important;
        li {
          hr{
            display: none;
          }
          a {
            font-size: 7px !important;
          }
        }
      }

      .account {
        width: 45px !important;
        position: absolute;
        right: 48px;
        top: 3px;
        li {
          hr{
            display: none;
          }
          &:first-of-type{
            padding-top: 0px !important;
          }
          a {
            font-size: 9px !important;
            position: relative;
            span{
             sup{
              font-size: 6px;
              position: absolute;
              top: 4px;
              right: -6px;
             }
            }
            span:before{
              font-size: 10px;
              margin: 0;
            }
          }
        }
      }
    }
  }

  #intro {
    position: absolute;
    top: -50px !important;
    .carousel-item {
      height: 280px !important;
      img {
        height: 100% !important;
      }
    }

    .carousel-control-prev {
      display: none !important;
    }
    .carousel-control-next {
      display: none !important;
    }

    .caption {
      width: 140px !important;
      height: 90px !important;
      top: 140px !important;
      left: 72px !important;
      h3 {
        font-size: 12px !important;
      }

      h1 {
        font-size: 12px !important;
      }

      .button {
        width: 60px !important;
        height: 16px !important;
        line-height: 14px !important;
        font-size: 6px !important;
        border-radius: 1px !important;
      }
    }
  }
}
