@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .banner-area {
    top: 38% !important;
    width: 90% !important;
    left: 5% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 76px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 44px !important;
    padding: 50px 0 80px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 24px !important;
    border-radius: 2px !important;
  }
  #our-advantages {
    padding: 80px 0 145px 0 !important;
  }
  #our-advantages .holder h4 {
    font-size: 22px !important;
  }
  #special-offers .img-box {
    height: 200px !important;
  }
  #discount .discount_title h1 {
    font-size: 58px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 96%;
  }
  #discount .discount_btn {
    padding-top: 118px !important;
  }
  #popular-tours {
    padding: 100px 30px 120px 30px !important;
  }
  #popular-tours .img-box {
    height: 406px !important;
  }
  #popular-tours .item {
    height: 459px !important;
  }
  #popular-tours .item .content {
    height: 138px !important;
  }
  #popular-tours .item .content .content-header {
    padding: 14px 15px 8px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 14px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 17px !important;
    letter-spacing: 0.3px;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 12px !important;
    margin-right: 3px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 10px !important;
  }
  #popular-tours .item .content .content-links {
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 12px !important;
  }
  #popular-tours .popular-tours-caption {
    padding-bottom: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header .navbar {
    height: 92px;
  }
  header .navbar img {
    width: 110px !important;
    position: absolute;
    top: 15px !important;
    left: 40px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 100% !important;
    height: 100%;
    background-color: #27302c !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .hamburger {
    display: inline-block !important;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 27px;
    right: 44px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .navbar-items .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .navbar-items .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .navbar-items .change .line-2 {
    opacity: 0;
  }
  header .navbar .navbar-items .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
  header .navbar .navbar-items .links {
    height: 507px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navbar .navbar-items .links li a {
    font-size: 36px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 140px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 19px;
    right: 120px;
  }
  header .navbar .account li a {
    font-size: 22px;
  }
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    top: 30% !important;
  }
  #intro .banner-area .caption {
    width: 80% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 70px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 36px !important;
    padding: 40px 0 60px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 20px !important;
  }
  #our-advantages {
    padding: 80px 0 100px 0 !important;
  }
  #our-advantages .holder {
    margin: 20px 0;
    padding: 0 10px;
    font-size: 17px;
  }
  #view-tours {
    padding: 70px 0 88px 0 !important;
  }
  #view-tours .view-tours-text {
    text-align: center !important;
    padding-bottom: 40px;
  }
  #view-tours .view-tours-text h4 {
    font-size: 35px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 22px !important;
    padding: 12px 34px !important;
  }
  #discount {
    padding: 120px 0 140px 0 !important;
  }
  #discount .discount_title h1 {
    font-size: 54px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 96%;
  }
  #discount .counterdowns .counter .timer .cdowns {
    font-size: 44px !important;
    width: 100px !important;
    height: 100px !important;
    margin-right: 15px !important;
    border-radius: 16px;
  }
  #discount .counterdowns .counter .timer .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .days::before {
    top: 60px;
    left: 28px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .hours::before {
    top: 60px;
    left: 24px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .minutes::before {
    top: 60px;
    left: 35px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .seconds::before {
    top: 60px;
    left: 34px;
    font-size: 19px;
  }
  #discount .discount_btn {
    text-align: left !important;
    padding-top: 86px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 100px 100px 120px 100px !important;
  }
  #popular-tours .item {
    height: 600px !important;
  }
  #popular-tours .item .price-info {
    padding: 7px 15px 24px 15px !important;
  }
  #popular-tours .item .price-info h5 {
    font-size: 46px !important;
  }
  #popular-tours .item .price-info span {
    font-size: 20px !important;
  }
  #popular-tours .item .img-box {
    height: 540px !important;
  }
  #popular-tours .item .content {
    padding: 0 15px;
  }
  #popular-tours .item .content .content-header {
    padding: 17px 15px 8px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 20px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 25px !important;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 16px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 15px !important;
  }
  #popular-tours .item .content .content-links {
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 13px !important;
  }
  #popular-tours .item .content .content-links a:first-child {
    font-size: 15px !important;
  }
  #popular-tours .popular-tours-caption {
    padding-bottom: 20px !important;
  }
  #our-achievements {
    padding: 100px 0 100px 0 !important;
  }
  #our-achievements .content {
    height: 320px !important;
  }
  #our-achievements .content i::before {
    font-size: 55px !important;
  }
  #our-achievements .content h2 {
    font-size: 50px !important;
  }
  #our-achievements .content h3 {
    font-size: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header .navbar {
    height: 75px;
  }
  header .navbar img {
    width: 90px !important;
    position: absolute;
    top: 12px !important;
    left: 40px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 100% !important;
    height: 100%;
    background-color: #27302c !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .hamburger {
    display: inline-block !important;
    width: 35px;
    height: 30px;
    position: fixed;
    top: 22px;
    right: 44px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .navbar-items .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .navbar-items .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .navbar-items .change .line-2 {
    opacity: 0;
  }
  header .navbar .navbar-items .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
  header .navbar .navbar-items .links {
    height: 507px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .navbar .navbar-items .links li a {
    font-size: 30px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 112px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 18px;
    right: 120px;
  }
  header .navbar .account li a {
    font-size: 16px;
  }
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    top: 29% !important;
  }
  #intro .banner-area .caption {
    width: 90% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 66px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 34px !important;
    padding: 40px 0 70px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 21px !important;
  }
  #our-advantages {
    padding: 120px 0 140px 0 !important;
  }
  #our-advantages .caption {
    padding-bottom: 40px;
  }
  #our-advantages .holder {
    padding: 40px 90px 0 90px !important;
    height: 280px !important;
  }
  #our-advantages .holder .icon-holder i {
    font-size: 70px !important;
  }
  #our-advantages .holder hr {
    height: 1px !important;
    width: 40px !important;
  }
  #special-offers .slide-links a {
    font-size: 10px !important;
  }
  #view-tours {
    padding: 70px 0 88px 0 !important;
  }
  #view-tours .view-tours-text {
    text-align: center !important;
    padding-bottom: 40px;
  }
  #view-tours .view-tours-text h4 {
    font-size: 30px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 18px !important;
    padding: 12px 34px !important;
  }
  #discount {
    padding: 120px 0 140px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 18px !important;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 28px !important;
  }
  #discount .discount_title h1 {
    font-size: 40px !important;
    margin-bottom: 15px;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 100px !important;
    height: 100px !important;
    border-radius: 15px !important;
    font-size: 44px;
    margin-right: 15px;
    margin-bottom: 34px;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 62px;
    left: 30px;
    font-size: 18px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 62px;
    left: 24px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 62px;
    left: 35px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 62px;
    left: 34px;
    font-size: 19px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 72px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 100px 80px 120px 80px !important;
  }
  #popular-tours .item {
    height: 500px !important;
  }
  #popular-tours .item .price-info {
    padding: 7px 15px 24px 15px !important;
  }
  #popular-tours .item .price-info h5 {
    font-size: 42px !important;
  }
  #popular-tours .item .price-info span {
    font-size: 18px !important;
  }
  #popular-tours .item .img-box {
    height: 435px !important;
  }
  #popular-tours .item .content {
    height: 148px !important;
    padding: 0 5px;
  }
  #popular-tours .item .content .content-header {
    padding: 17px 15px 8px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 19px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 22px !important;
  }
  #popular-tours .item .content .content-header .tour-date {
    padding-top: 2px;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 16px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 14px !important;
  }
  #popular-tours .item .content .content-links {
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 13px !important;
  }
  #popular-tours .item .content .content-links a:first-child {
    font-size: 14px !important;
  }
  #popular-tours .popular-tours-caption {
    padding: 0 20px 20px !important;
  }
  #our-achievements {
    padding: 125px 0 100px 0 !important;
  }
  #our-achievements .content {
    height: 370px !important;
    padding-top: 60px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  header .navbar {
    height: 70px;
  }
  header .navbar img {
    width: 90px !important;
    position: absolute;
    top: 10px !important;
    left: 20px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 100% !important;
    height: 100%;
    background-color: #27302c !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .hamburger {
    display: inline-block !important;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 19px;
    right: 22px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .navbar-items .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .navbar-items .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .navbar-items .change .line-2 {
    opacity: 0;
  }
  header .navbar .navbar-items .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
  header .navbar .navbar-items .links {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .navbar .navbar-items .links li a {
    font-size: 30px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 102px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 16px;
    right: 76px;
  }
  header .navbar .account li a {
    font-size: 16px;
  }
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    width: 90% !important;
    top: 30% !important;
    left: 5% !important;
  }
  #intro .banner-area .caption {
    width: 100% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 48px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 25px !important;
    padding: 40px 0 60px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 15px !important;
  }
  #our-advantages {
    padding: 80px 0 100px 0 !important;
  }
  #our-advantages .caption h1 {
    padding: 40px 0 80px 0 !important;
    font-size: 40px !important;
  }
  #our-advantages .caption hr {
    width: 45px !important;
  }
  #our-advantages .holder {
    padding: 40px 70px 0 70px !important;
    height: 280px !important;
    font-size: 17px;
  }
  #our-advantages .holder i::before {
    font-size: 50px !important;
  }
  #our-advantages .holder hr {
    width: 25px !important;
  }
  #our-advantages .holder p {
    font-size: 16px !important;
    width: 250px;
  }
  #special-offers {
    padding: 120px 50px 130px 50px !important;
  }
  #special-offers .specials h1 {
    font-size: 40px !important;
  }
  #special-offers .specials hr {
    width: 45px !important;
  }
  #view-tours {
    padding: 60px 0 75px 0 !important;
  }
  #view-tours .view-tours-text {
    text-align: center !important;
    padding-bottom: 40px;
  }
  #view-tours .view-tours-text h4 {
    font-size: 26px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 16px !important;
    padding: 10px 30px !important;
  }
  #discount {
    padding: 130px 0 160px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 15px !important;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 28px !important;
  }
  #discount .discount_title h1 {
    font-size: 35px !important;
    margin-bottom: 15px;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 70px !important;
    height: 72px !important;
    margin-bottom: 34px;
    margin-right: 13px !important;
    border-radius: 13px !important;
    font-size: 32px !important;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 43px;
    left: 19px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 43px;
    left: 16px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 43px;
    left: 24px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 43px;
    left: 24px;
    font-size: 14px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 60px !important;
  }
  #discount .discount_btn a {
    padding: 10px 34px !important;
  }
  #popular-tours {
    padding: 100px 20px 120px 20px !important;
  }
  #popular-tours .item {
    height: 440px !important;
  }
  #popular-tours .item .img-box {
    height: 405px !important;
  }
  #popular-tours .item .content .content-header {
    padding: 20px 15px 8px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 17px !important;
    margin-right: 5px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 22px !important;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 13px !important;
    margin-right: 3px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 14px !important;
  }
  #popular-tours .item .content .content-links {
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 12px !important;
  }
  #popular-tours .item .content .content-links a:first-child {
    font-size: 13px !important;
  }
  #popular-tours .popular-tours-caption {
    padding: 0 20px 20px !important;
  }
  #popular-tours .popular-tours-caption h1 {
    font-size: 40px !important;
  }
  #popular-tours .popular-tours-caption hr {
    width: 45px !important;
  }
  #popular-tours .popular-tours-caption p {
    font-size: 16px !important;
  }
  #our-achievements {
    padding: 125px 0 100px 0 !important;
  }
  #our-achievements .achievements-caption h1 {
    font-size: 40px !important;
  }
  #our-achievements .achievements-caption hr {
    width: 45px !important;
  }
  #our-achievements .content {
    height: 340px !important;
    padding-top: 60px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #our-achievements .content i::before {
    font-size: 50px !important;
  }
  #our-achievements .content h2 {
    font-size: 53px !important;
  }
  #our-achievements .content h3 {
    font-size: 30px !important;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  header .navbar {
    height: 60px;
  }
  header .navbar img {
    width: 70px !important;
    position: absolute;
    top: 10px !important;
    left: 12px;
    z-index: 99;
  }
  header .navbar .navbar-items {
    width: 100% !important;
    height: 100%;
    background-color: #27302c !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.7s cubic-bezier(1, 0, 0, 1);
    transition: right 0.7s cubic-bezier(1, 0, 0, 1);
  }
  header .navbar .navbar-items .hamburger {
    display: inline-block !important;
    width: 25px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 18px;
    cursor: pointer;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .navbar .navbar-items .line {
    width: 100%;
    height: 3px;
    background-color: white;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  header .navbar .navbar-items .change .line-1 {
    -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
            transform: rotateZ(-45deg) translate(-8px, 6px);
  }
  header .navbar .navbar-items .change .line-2 {
    opacity: 0;
  }
  header .navbar .navbar-items .change .line-3 {
    -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
            transform: rotateZ(45deg) translate(-8px, -6px);
  }
  header .navbar .navbar-items .links {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .navbar .navbar-items .links li a {
    font-size: 20px;
  }
  header .navbar .active {
    right: 0 !important;
  }
  header .navbar .account {
    width: 85px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: 14px;
    right: 64px;
  }
  header .navbar .account li a {
    font-size: 13px;
  }
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    width: 96% !important;
    top: 30% !important;
    left: 3% !important;
  }
  #intro .banner-area .caption {
    width: 100% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 38px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 20px !important;
    letter-spacing: 2px !important;
    padding: 30px 0 50px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 13px !important;
    padding: 7px 20px !important;
  }
  #our-advantages {
    padding: 70px 0 80px 0 !important;
  }
  #our-advantages .caption h1 {
    font-size: 28px !important;
    padding: 20px 0 80px 0 !important;
  }
  #our-advantages .caption hr {
    width: 42px !important;
  }
  #our-advantages .holder {
    height: 240px !important;
    padding: 32px 35px 0 35px !important;
  }
  #our-advantages .holder i::before {
    font-size: 36px !important;
  }
  #our-advantages .holder h4 {
    font-size: 20px !important;
    padding-top: 10px !important;
  }
  #our-advantages .holder hr {
    width: 24px !important;
  }
  #our-advantages .holder p {
    font-size: 12px !important;
  }
  #special-offers {
    padding: 100px 10px 130px 10px !important;
  }
  #special-offers .specials h1 {
    font-size: 28px !important;
  }
  #special-offers .specials hr {
    width: 42px !important;
  }
  #special-offers .specials p {
    font-size: 12px !important;
  }
  #view-tours {
    padding: 60px 0 75px 0 !important;
  }
  #view-tours .view-tours-text {
    text-align: center !important;
    padding-bottom: 40px;
  }
  #view-tours .view-tours-text h4 {
    font-size: 20px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 12px !important;
    padding: 10px 20px !important;
  }
  #discount {
    padding: 110px 0 135px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 14px !important;
    padding-bottom: 10px;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 22px !important;
    padding-bottom: 15px !important;
  }
  #discount .discount_title h1 {
    font-size: 27px !important;
    margin-bottom: 15px;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 59px;
    height: 61px;
    margin-right: 10px;
    border-radius: 7px;
    font-size: 25px;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 35px;
    left: 15px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 35px;
    left: 13px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 35px;
    left: 19px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 35px;
    left: 19px;
    font-size: 12px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 60px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 100px 5px 120px 5px !important;
  }
  #popular-tours .item {
    height: 405px !important;
  }
  #popular-tours .item .img-box {
    height: 370px !important;
  }
  #popular-tours .item .content {
    height: 131px !important;
  }
  #popular-tours .item .content .content-header {
    padding: 11px 15px 8px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 14px !important;
    margin-right: 3px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 16px !important;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 11px !important;
    margin-right: 3px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 9px !important;
  }
  #popular-tours .item .content .content-links {
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 8px !important;
  }
  #popular-tours .item .content .content-links a:first-child {
    font-size: 9px !important;
  }
  #popular-tours .popular-tours-caption {
    padding: 0 20px 7px !important;
  }
  #popular-tours .popular-tours-caption h1 {
    font-size: 28px !important;
  }
  #popular-tours .popular-tours-caption hr {
    width: 42px !important;
  }
  #popular-tours .popular-tours-caption p {
    font-size: 12px !important;
  }
  #our-achievements {
    padding: 110px 0 100px 0 !important;
  }
  #our-achievements .achievements-caption {
    padding-bottom: 18px !important;
  }
  #our-achievements .achievements-caption h1 {
    font-size: 28px !important;
  }
  #our-achievements .achievements-caption hr {
    width: 42px !important;
  }
  #our-achievements .content {
    height: 260px !important;
    padding-top: 50px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #our-achievements .content i::before {
    font-size: 40px !important;
  }
  #our-achievements .content h2 {
    font-size: 40px !important;
    padding: 12px 0 !important;
  }
  #our-achievements .content h3 {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=responsive.css.map */