@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .banner-area {
    top: 37% !important;
    width: 90% !important;
    left: 5% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 80px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 40px !important;
    padding: 50px 0 80px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 20px !important;
    border-radius: 2px !important;
  }
  #our-advantages {
    padding: 80px 0 145px 0 !important;
  }
  #our-advantages .holder h4 {
    font-size: 22px !important;
  }
  #special-offers {
    padding: 100px 30px 120px !important;
  }
  #discount .discount_title h1 {
    font-size: 58px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 96%;
  }
  #discount .discount_btn {
    padding-top: 118px !important;
  }
  #popular-tours {
    padding: 100px 30px 120px 30px !important;
  }
  #popular-tours .popular-tours-caption {
    padding-bottom: 0 !important;
  }
  #popular-tours .img-box {
    height: 406px !important;
  }
  #popular-tours .item {
    height: 459px !important;
  }
  #popular-tours .item .content {
    height: 138px !important;
  }
  #popular-tours .item .content .content-header {
    padding: 18px 15px 12px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 14px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 17px !important;
    letter-spacing: 0.3px;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 12px !important;
    margin-right: 3px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 10px !important;
  }
  #popular-tours .item .content .content-links {
    height: 81px !important;
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    top: 35% !important;
  }
  #intro .banner-area .caption {
    width: 80% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 76px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 36px !important;
    padding: 40px 0 60px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 20px !important;
  }
  #our-advantages {
    padding: 80px 0 100px 0 !important;
  }
  #our-advantages .holder {
    margin: 20px 0;
    padding: 0 10px;
    font-size: 17px;
  }
  #special-offers {
    padding: 100px 30px 120px !important;
  }
  #view-tours {
    padding: 70px 0 40px 0 !important;
  }
  #view-tours .view-tours-text {
    padding: 0 0 40px !important;
  }
  #view-tours .view-tours-text h4 {
    font-size: 25px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 18px !important;
    padding: 10px 28px !important;
  }
  #discount {
    padding: 120px 0 140px 0 !important;
  }
  #discount .discount_title h1 {
    font-size: 54px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 96%;
  }
  #discount .counterdowns .counter .timer .cdowns {
    font-size: 44px !important;
    width: 100px !important;
    height: 100px !important;
    margin-right: 15px !important;
    border-radius: 16px;
  }
  #discount .counterdowns .counter .timer .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .days::before {
    top: 60px;
    left: 28px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .hours::before {
    top: 60px;
    left: 24px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .minutes::before {
    top: 60px;
    left: 35px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .seconds::before {
    top: 60px;
    left: 34px;
    font-size: 19px;
  }
  #discount .discount_btn {
    text-align: left !important;
    padding-top: 86px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 100px 20px 120px !important;
  }
  #popular-tours .popular-tours-caption {
    padding-bottom: 0 !important;
  }
  #popular-tours .item {
    height: 488px !important;
  }
  #popular-tours .item .price-info {
    padding: 7px 12px 15px 12px !important;
  }
  #popular-tours .item .price-info h5 {
    font-size: 25px !important;
  }
  #popular-tours .item .price-info span {
    font-size: 12px !important;
  }
  #popular-tours .item .img-box {
    height: 425px !important;
  }
  #popular-tours .item .content {
    height: 147px !important;
  }
  #popular-tours .item .content .content-header {
    padding: 23px 15px 15px 15px !important;
  }
  #popular-tours .item .content .content-header .tour-name i {
    font-size: 15px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-name h4 {
    font-size: 18px !important;
  }
  #popular-tours .item .content .content-header .tour-date i {
    font-size: 14px !important;
    margin-right: 7px !important;
  }
  #popular-tours .item .content .content-header .tour-date span {
    font-size: 13px !important;
  }
  #popular-tours .item .content .content-links {
    height: 83px !important;
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .item .content .content-links a .top-info-box {
    left: 26%;
  }
  #popular-tours .item .content .content-links a .top-info-box::after {
    left: calc(57% - 8px);
  }
  #popular-tours .item .content .content-links a:hover .top-info-box {
    bottom: calc(93% + 5px);
  }
  #popular-tours .item .content .content-links a:first-child {
    font-size: 15px !important;
  }
  #coming-soon .content {
    padding: 0 30px !important;
  }
  #coming-soon .content .content-name i::before {
    font-size: 30px !important;
    margin: 0 15px 0 0;
  }
  #coming-soon .content .content-name h3 {
    font-size: 26px !important;
    padding-top: 10px !important;
  }
  #coming-soon .content .content-text p {
    padding-left: 46px !important;
  }
  #our-achievements {
    padding: 100px 0 100px 0 !important;
  }
  #our-achievements .content {
    height: 320px !important;
  }
  #our-achievements .content i::before {
    font-size: 55px !important;
  }
  #our-achievements .content h2 {
    font-size: 50px !important;
  }
  #our-achievements .content h3 {
    font-size: 30px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    top: 36% !important;
  }
  #intro .banner-area .caption {
    width: 90% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 65px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 30px !important;
    padding: 40px 0 70px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 17px !important;
  }
  #our-advantages {
    padding: 120px 0 140px 0 !important;
  }
  #our-advantages .caption {
    padding-bottom: 40px;
  }
  #our-advantages .holder {
    padding: 40px 90px 0 90px !important;
    height: 280px !important;
  }
  #our-advantages .holder .icon-holder i::before {
    font-size: 70px !important;
  }
  #our-advantages .holder hr {
    height: 1px !important;
    width: 40px !important;
  }
  #special-offers {
    padding: 100px 20px 110px !important;
  }
  #special-offers .owl-carousel .owl-dots {
    margin-top: 15px !important;
  }
  #special-offers .owl-carousel .owl-dots .owl-dot span {
    width: 23px !important;
  }
  #view-tours {
    padding: 55px 0 88px 0 !important;
  }
  #view-tours .view-tours-text {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-bottom: 40px;
  }
  #view-tours .view-tours-text i::before {
    font-size: 48px !important;
    margin: 0 15px 0 0 !important;
  }
  #view-tours .view-tours-text h4 {
    font-size: 30px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 18px !important;
    padding: 12px 30px !important;
  }
  #discount {
    padding: 120px 0 140px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 18px !important;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 28px !important;
  }
  #discount .discount_title h1 {
    font-size: 40px !important;
    margin-bottom: 15px;
  }
  #discount .discount_title .price .norm-price {
    font-size: 30px !important;
  }
  #discount .discount_title .price .discount-price {
    font-size: 40px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 100px !important;
    height: 100px !important;
    border-radius: 15px !important;
    font-size: 44px;
    margin-right: 15px;
    margin-bottom: 34px;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 62px;
    left: 30px;
    font-size: 18px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 62px;
    left: 24px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 62px;
    left: 35px;
    font-size: 19px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 62px;
    left: 34px;
    font-size: 19px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 72px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 100px 20px 120px !important;
  }
  #popular-tours .popular-tours-caption {
    padding: 0 20px 0 !important;
  }
  #popular-tours .owl-carousel .owl-dots {
    margin-top: 15px !important;
  }
  #popular-tours .owl-carousel .owl-dots .owl-dot span {
    width: 23px !important;
  }
  #popular-tours .owl-carousel .item {
    height: 464px !important;
  }
  #popular-tours .owl-carousel .item .price-info {
    padding: 7px 12px 15px 12px;
  }
  #popular-tours .owl-carousel .item .price-info h5 {
    font-size: 25px !important;
  }
  #popular-tours .owl-carousel .item .price-info span {
    font-size: 12px !important;
  }
  #popular-tours .owl-carousel .item .img-box {
    height: 400px !important;
  }
  #popular-tours .owl-carousel .item .content {
    height: 148px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header {
    padding: 20px 14px 12px 14px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name i {
    font-size: 14px !important;
    margin-right: 3px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name h4 {
    font-size: 18px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date {
    padding-top: 2px;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date i {
    font-size: 12px !important;
    margin-right: 3px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date span {
    font-size: 12px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links {
    height: 80px !important;
    padding: 16px 14px 25px 14px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links a:first-child {
    font-size: 12px !important;
  }
  #coming-soon .coming-soon-caption {
    padding-bottom: 60px !important;
  }
  #coming-soon .content {
    height: 320px !important;
    padding: 0 30px !important;
  }
  #coming-soon .content .content-name i::before {
    font-size: 35px !important;
    margin: 0 15px 0 0;
  }
  #coming-soon .content .content-name h3 {
    font-size: 28px !important;
    padding-top: 10px !important;
  }
  #coming-soon .content .content-text p {
    padding-left: 51px !important;
  }
  #coming-soon .img-box {
    height: 320px !important;
  }
  #coming-soon .third {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #coming-soon .fourth {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #our-achievements {
    padding: 125px 0 100px 0 !important;
  }
  #our-achievements .content {
    height: 370px !important;
    padding-top: 60px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #our-achievements .content i::before {
    font-size: 70px !important;
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    width: 90% !important;
    left: 5% !important;
  }
  #intro .banner-area .caption {
    width: 100% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 48px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 25px !important;
    padding: 40px 0 60px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 15px !important;
  }
  #our-advantages {
    padding: 80px 0 100px 0 !important;
  }
  #our-advantages .caption h1 {
    padding: 40px 0 80px 0 !important;
  }
  #our-advantages .holder {
    padding: 40px 70px 0 70px !important;
    height: 280px !important;
    font-size: 17px;
  }
  #our-advantages .holder i::before {
    font-size: 60px !important;
  }
  #our-advantages .holder hr {
    width: 25px !important;
  }
  #our-advantages .holder p {
    font-size: 16px !important;
    width: 250px;
  }
  #special-offers {
    padding: 100px 50px 110px 50px !important;
  }
  #special-offers .owl-carousel .owl-dots {
    margin-top: 15px !important;
  }
  #special-offers .owl-carousel .owl-dots .owl-dot span {
    width: 20px !important;
  }
  #view-tours {
    padding: 45px 0 75px 0 !important;
  }
  #view-tours .view-tours-text {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-bottom: 20px;
  }
  #view-tours .view-tours-text i::before {
    font-size: 48px !important;
    margin: 0 15px 0 0 !important;
  }
  #view-tours .view-tours-text h4 {
    font-size: 26px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 16px !important;
    padding: 10px 30px !important;
  }
  #discount {
    padding: 100px 0 120px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 15px !important;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 28px !important;
  }
  #discount .discount_title h1 {
    font-size: 35px !important;
    margin-bottom: 15px;
  }
  #discount .discount_title .price .norm-price {
    font-size: 26px !important;
  }
  #discount .discount_title .price .discount-price {
    font-size: 36px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 70px !important;
    height: 72px !important;
    margin-bottom: 34px;
    margin-right: 13px !important;
    border-radius: 13px !important;
    font-size: 32px !important;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 43px;
    left: 19px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 43px;
    left: 16px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 43px;
    left: 24px;
    font-size: 14px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 43px;
    left: 24px;
    font-size: 14px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 60px !important;
  }
  #discount .discount_btn a {
    padding: 10px 34px !important;
  }
  #popular-tours {
    padding: 120px 50px 130px 50px !important;
  }
  #popular-tours .popular-tours-caption {
    padding: 0 15px 0 !important;
  }
  #popular-tours .popular-tours-caption p {
    font-size: 16px !important;
  }
  #popular-tours .owl-carousel .owl-dots {
    margin-top: 15px !important;
  }
  #popular-tours .owl-carousel .owl-dots .owl-dot span {
    width: 20px !important;
  }
  #popular-tours .owl-carousel .item {
    height: 500px !important;
  }
  #popular-tours .owl-carousel .item .img-box {
    height: 438px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header {
    padding: 21px 15px 14px 15px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name i {
    font-size: 17px !important;
    margin-right: 5px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name h4 {
    font-size: 22px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date i {
    font-size: 13px !important;
    margin-right: 3px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date span {
    font-size: 14px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links {
    height: 81px !important;
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links a:first-child {
    font-size: 13px !important;
  }
  #coming-soon .coming-soon-caption {
    padding: 0 20px 60px !important;
  }
  #coming-soon .content {
    height: 320px !important;
    padding: 0 25px !important;
  }
  #coming-soon .content .content-name i::before {
    font-size: 35px !important;
  }
  #coming-soon .content .content-name h3 {
    font-size: 28px !important;
    padding-top: 10px !important;
  }
  #coming-soon .content .content-text p {
    padding-left: 51px !important;
  }
  #coming-soon .img-box {
    height: 320px !important;
  }
  #coming-soon .third {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #coming-soon .fourth {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #our-achievements {
    padding: 125px 0 100px 0 !important;
  }
  #our-achievements .content {
    height: 330px !important;
    padding-top: 50px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #our-achievements .content i::before {
    font-size: 60px !important;
  }
  #our-achievements .content h2 {
    font-size: 53px !important;
  }
  #our-achievements .content h3 {
    font-size: 30px !important;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #intro .carousel-item {
    height: 100vh !important;
  }
  #intro .carousel-control {
    opacity: 0;
  }
  #intro .banner-area {
    width: 96% !important;
    top: 38% !important;
    left: 2% !important;
  }
  #intro .banner-area .caption {
    width: 100% !important;
  }
  #intro .banner-area .caption h3 {
    font-size: 43px !important;
  }
  #intro .banner-area .caption h1 {
    font-size: 20px !important;
    letter-spacing: 2px !important;
    padding: 30px 0 50px 0 !important;
  }
  #intro .banner-area .caption .button {
    font-size: 13px !important;
    padding: 7px 20px !important;
  }
  #our-advantages {
    padding: 50px 0 90px 0 !important;
  }
  #our-advantages .caption {
    height: 110px !important;
  }
  #our-advantages .caption h1 {
    padding: 20px 0 80px 0 !important;
  }
  #our-advantages .holder {
    height: 220px !important;
    padding: 32px 35px 0 35px !important;
  }
  #our-advantages .holder i::before {
    font-size: 50px !important;
  }
  #our-advantages .holder h4 {
    font-size: 20px !important;
    padding-top: 10px !important;
  }
  #our-advantages .holder hr {
    width: 24px !important;
  }
  #our-advantages .holder p {
    font-size: 12px !important;
  }
  #special-offers {
    padding: 80px 5px 90px 5px !important;
  }
  #special-offers .owl-carousel .owl-dots {
    margin-top: 5px !important;
  }
  #special-offers .owl-carousel .owl-dots .owl-dot span {
    width: 20px !important;
  }
  #view-tours {
    padding: 50px 0 75px 0 !important;
  }
  #view-tours .view-tours-text {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-bottom: 10px;
  }
  #view-tours .view-tours-text i::before {
    font-size: 35px !important;
    margin: 0 15px 0 0 !important;
  }
  #view-tours .view-tours-text h4 {
    font-size: 16px !important;
  }
  #view-tours .view-tours-btn {
    text-align: center !important;
  }
  #view-tours .view-tours-btn a {
    font-size: 12px !important;
    padding: 10px 18px !important;
  }
  #discount {
    padding: 90px 0 110px 0 !important;
  }
  #discount .discount_title {
    text-align: center;
  }
  #discount .discount_title h2 {
    font-size: 14px !important;
    padding-bottom: 10px;
  }
  #discount .discount_title h2:first-of-type {
    font-size: 22px !important;
    padding-bottom: 15px !important;
  }
  #discount .discount_title h1 {
    font-size: 27px !important;
    margin-bottom: 15px;
  }
  #discount .discount_title .price .norm-price {
    font-size: 18px !important;
    margin-right: 9px !important;
  }
  #discount .discount_title .price .discount-price {
    font-size: 27px !important;
  }
  #discount .counterdowns .counter .timer {
    width: 100%;
  }
  #discount .counterdowns .counter .timer .autob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #discount .counterdowns .counter .timer .autob .cdowns {
    width: 59px;
    height: 61px;
    margin-right: 10px;
    border-radius: 7px;
    font-size: 25px;
  }
  #discount .counterdowns .counter .timer .autob .cdowns:last-of-type {
    margin-right: 0 !important;
  }
  #discount .counterdowns .counter .timer .autob .days::before {
    top: 35px;
    left: 15px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .hours::before {
    top: 35px;
    left: 13px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .minutes::before {
    top: 35px;
    left: 19px;
    font-size: 12px;
  }
  #discount .counterdowns .counter .timer .autob .seconds::before {
    top: 35px;
    left: 19px;
    font-size: 12px;
  }
  #discount .discount_btn {
    text-align: center !important;
    padding-top: 60px !important;
  }
  #discount .discount_btn a {
    padding: 10px 30px !important;
  }
  #popular-tours {
    padding: 80px 5px 80px 5px !important;
  }
  #popular-tours .owl-carousel .owl-dots {
    margin-top: 15px !important;
  }
  #popular-tours .owl-carousel .owl-dots .owl-dot span {
    width: 20px !important;
  }
  #popular-tours .owl-carousel .item {
    height: 405px !important;
  }
  #popular-tours .owl-carousel .item .price-info {
    padding: 7px 12px 15px 12px;
  }
  #popular-tours .owl-carousel .item .price-info h5 {
    font-size: 25px !important;
  }
  #popular-tours .owl-carousel .item .price-info span {
    font-size: 12px !important;
  }
  #popular-tours .owl-carousel .item .img-box {
    height: 370px !important;
  }
  #popular-tours .owl-carousel .item .content {
    height: 131px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header {
    padding: 9px 15px 10px 15px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name i {
    font-size: 14px !important;
    margin-right: 3px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-name h4 {
    font-size: 16px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date i {
    font-size: 13px !important;
    margin-right: 3px !important;
  }
  #popular-tours .owl-carousel .item .content .content-header .tour-date span {
    font-size: 11px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links {
    height: 75px !important;
    padding: 16px 15px 25px 15px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links a:first-child {
    font-size: 10px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links a .top-info-box {
    font-size: 10px !important;
  }
  #popular-tours .owl-carousel .item .content .content-links a:hover .top-info-box {
    bottom: calc(86% + 5px) !important;
  }
  #coming-soon {
    padding-top: 70px !important;
  }
  #coming-soon .coming-soon-caption {
    padding: 0 7px 50px !important;
  }
  #coming-soon .content {
    height: 260px !important;
    padding: 0 15px !important;
  }
  #coming-soon .content .content-name i::before {
    font-size: 28px !important;
  }
  #coming-soon .content .content-name h3 {
    font-size: 21px !important;
    padding-top: 10px !important;
  }
  #coming-soon .content .content-text p {
    font-size: 12px !important;
    padding-left: 46px !important;
  }
  #coming-soon .img-box {
    height: 260px !important;
  }
  #coming-soon .third {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #coming-soon .fourth {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #our-achievements {
    padding: 90px 0 100px 0 !important;
  }
  #our-achievements .achievements-caption {
    padding-bottom: 18px !important;
  }
  #our-achievements .content {
    height: 250px !important;
    padding-top: 40px !important;
  }
  #our-achievements .content:hover {
    padding-top: 20px !important;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  #our-achievements .content i::before {
    font-size: 50px !important;
  }
  #our-achievements .content h2 {
    font-size: 40px !important;
    padding: 12px 0 !important;
  }
  #our-achievements .content h3 {
    font-size: 20px !important;
  }
}
/*# sourceMappingURL=responsive.css.map */