@import "partials/extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.pre-icon {
  background: url("../img/loader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}


//=== header start ===//
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  nav {
    padding: 10px 40px 10px 40px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 7;
    img {
      width: 80px;
    }

    .left {
      padding-left: 435px;

      li {
        margin-right: 36px;
        transition: transform .2s;
        position: relative;
        hr{
          @extend %nav-li-line;
        }
        @extend %nav-li-hover;
        &:hover .contact-line{
          width: 83% !important;
          transition: 0.2s linear;
        }
        a {
          @extend %nav-a;
        }
      }
    }

    .account {
      width: 110px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li:first-of-type{
        padding-top: 4px;
        position: relative;
        hr{
          @extend %nav-li-line;
          position: absolute !important;
          bottom: 0px;
          left: 0px;
        }
        &:hover hr{
          width: 42px !important;
          height: 2% !important;
          transition: 0.2s linear;
        }
      }  
      a {
        @extend %nav-a;
        span{
          sup{
            font-style: normal;
            top: -10px;
            right: 3px;
          }
        }
      }  
    }
  }
}
//=== header end ===//

//=== intro section start ===//
#intro {
  .carousel-item {
    height: 830px;
    img {
      height: 100% !important;
      animation: zoom 20s;
      filter: brightness(60%);
      object-fit: cover !important;
    }
  }

  .carousel-control-prev {
    @extend %left-arrow;
    .carousel-control {
      margin: 130px 180px 0 0;
      i {
        font-size: 20px;
      }
    }
  }

  .carousel-control-next {
    @extend %right-arrow;
    .carousel-control {
      margin: 130px 0 0 180px;
      i {
        font-size: 20px;
      }
    }
  }

  .caption {
    width: 600px;
    position: absolute;
    top: 310px;
    left: 460px;
    color: white;
    h3 {
      font-weight: normal;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 8px;
    }

    h1 {
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 4px;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
      padding: 15px 0;
    }
    .button {
      width: 180px;
      height: 45px;
      line-height: 40px;
      font-weight: bold;
      border: none;
      border-radius: 3px;
      color: white;
      border: 2px solid white;
      text-align: center;
      background-color: transparent;
      &:hover {
        text-decoration: none;
        background-color: white;
        color: black;
        transition: 0.2s linear;
      }
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
}
//=== intro section end ===//

//=== we-are-best section start ===//
#we-are-best{
  padding: 70px 0 20px 0;
  background-color: white;
  .caption{
    h1{
      padding: 30px 0 80px 0;
      font-weight: 700;
      font-size: 36px;
      position: relative;
      &::after{
        content: "";
        height: 3px;
        width: 45px;
        border-radius: 2px;
        background-color: #32325D;;
        position: absolute;
        top: 98px;
        right: 146px;
      }
    }
  }

  .holder{
    padding-top: 40px;
    height: 280px;
    transition: 0.4s ease-in-out;
    &:hover{
      padding-top: 15px !important;
      transition: 0.4s ease-in-out;
    }
    i{
      position: relative;
      font-size: 42px;
      color: #32325D;
      &::after{
        content: "";
        width: 95px;
        height: 95px;
        border: 2px solid #32325D;
        border-radius: 50%;
        position: absolute;
        top: -26px;
        right: -23px;
      }
    }

    h4{
      padding-top: 47px;
      font-weight: 700;
      font-size: 20px;
    }

    p{
      position: relative;
      padding-top: 22px;
      &::before{
        content: "";
        height: 2px;
        width: 30px;
        background-color: #32325D;
        position: absolute;
        bottom: 61px;
        left: 113px;
      }
    }
  }
}
//=== we-are-best section end ===//