header nav .left li a, header nav .account a {
  color: white !important;
  font-weight: bold;
  font-size: 16px;
}

header nav .left li a:hover, header nav .account a:hover {
  text-decoration: none;
}

header nav .left li hr, header nav .account li:first-of-type hr {
  position: absolute;
  bottom: 7px;
  left: 7px;
  margin: 0;
  height: 1%;
  width: 0px;
  background-color: white !important;
}

header nav .left li:hover hr {
  width: 78% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#intro .carousel-control-prev::before {
  content: "";
  background-color: rgba(239, 186, 108, 0.6);
  height: 50px;
  width: 52px;
  border-radius: 0 100px 100px 0;
  position: absolute;
  top: 452px;
  left: 0;
  z-index: -1;
}

#intro .carousel-control-next::before {
  content: "";
  background-color: rgba(239, 186, 108, 0.6);
  height: 50px;
  width: 52px;
  border-radius: 100px 0 0 100px;
  position: absolute;
  top: 452px;
  right: 0;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.pre-icon {
  background: url("../img/loader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}

header nav {
  padding: 10px 40px 10px 40px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  z-index: 7;
}

header nav img {
  width: 80px;
}

header nav .left {
  padding-left: 435px;
}

header nav .left li {
  margin-right: 36px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  position: relative;
}

header nav .left li:hover .contact-line {
  width: 83% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav .account {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .account li:first-of-type {
  padding-top: 4px;
  position: relative;
}

header nav .account li:first-of-type hr {
  position: absolute !important;
  bottom: 0px;
  left: 0px;
}

header nav .account li:first-of-type:hover hr {
  width: 42px !important;
  height: 2% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav .account a span sup {
  font-style: normal;
  top: -10px;
  right: 3px;
}

#intro {
  position: absolute;
  top: -70px;
}

#intro .carousel-item {
  height: 830px;
}

#intro .carousel-item img {
  height: 100% !important;
  -webkit-animation: zoom 20s;
          animation: zoom 20s;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

#intro .carousel-control-prev .carousel-control {
  margin: 130px 180px 0 0;
}

#intro .carousel-control-prev .carousel-control i {
  font-size: 20px;
}

#intro .carousel-control-next .carousel-control {
  margin: 130px 0 0 180px;
}

#intro .carousel-control-next .carousel-control i {
  font-size: 20px;
}

#intro .caption {
  width: 400px;
  position: absolute;
  top: 410px;
  left: 565px;
  color: white;
}

#intro .caption h3 {
  font-weight: normal;
  font-size: 40px;
}

#intro .caption h1 {
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  margin-bottom: 0;
}

#intro .caption .button {
  width: 180px;
  height: 45px;
  line-height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
  text-align: center;
  background-color: transparent;
}

#intro .caption .button:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}
/*# sourceMappingURL=style.css.map */