@import "partials/extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.pre-icon {
  background: url("../img/loader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}

//=== header start ===//
header {
  nav {
    padding: 10px 40px 10px 40px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    z-index: 7;
    img {
      width: 80px;
    }

    .left {
      padding-left: 435px;

      li {
        margin-right: 36px;
        transition: transform .2s;
        position: relative;
        hr{
          @extend %nav-li-line;
        }
        @extend %nav-li-hover;
        &:hover .contact-line{
          width: 83% !important;
          transition: 0.2s linear;
        }
        a {
          @extend %nav-a;
        }
      }
    }

    .account {
      width: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li:first-of-type{
        padding-top: 4px;
        position: relative;
        hr{
          @extend %nav-li-line;
          position: absolute !important;
          bottom: 0px;
          left: 0px;
        }
        &:hover hr{
          width: 42px !important;
          height: 2% !important;
          transition: 0.2s linear;
        }
      }  
      a {
        @extend %nav-a;
        span{
          sup{
            font-style: normal;
            top: -10px;
            right: 3px;
          }
        }
      }  
    }
  }
}
//=== header end ===//

//=== intro section start ===//
#intro {
  position: absolute;
  top: -70px;
  .carousel-item {
    height: 830px;
    img {
      height: 100% !important;
      animation: zoom 20s;
      filter: brightness(60%);
      object-fit: cover !important;
    }
  }

  .carousel-control-prev {
    @extend %left-arrow;
    .carousel-control {
      margin: 130px 180px 0 0;
      i {
        font-size: 20px;
      }
    }
  }

  .carousel-control-next {
    @extend %right-arrow;
    .carousel-control {
      margin: 130px 0 0 180px;
      i {
        font-size: 20px;
      }
    }
  }

  .caption {
    width: 400px;
    position: absolute;
    top: 410px;
    left: 565px;
    color: white;
    h3 {
      font-weight: normal;
      font-size: 40px;
    }

    h1 {
      font-weight: bold;
      font-size: 22px;
      display: inline-block;
      margin-bottom: 0;
    }
    .button {
      width: 180px;
      height: 45px;
      line-height: 40px;
      font-weight: bold;
      border: none;
      border-radius: 3px;
      color: white;
      border: 2px solid white;
      text-align: center;
      background-color: transparent;
      &:hover {
        text-decoration: none;
        background-color: white;
        color: black;
        transition: 0.2s linear;
      }
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
}
//=== intro section end ===//
