header nav .navbar-items .links li a, header nav .account li a {
  color: white !important;
  font-weight: 600;
  font-size: 16px;
}

header nav .navbar-items .links li a:hover, header nav .account li a:hover {
  text-decoration: none;
}

header nav .navbar-items .links li hr, header nav .account li hr {
  position: absolute;
  bottom: 7px;
  left: 0;
  margin: 0;
  height: 1%;
  width: 0px;
  background-color: white !important;
}

header nav .navbar-items .links li:hover hr, header nav .account li:hover hr {
  width: 100% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

header nav .navbar-items .links, header nav .account {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .navbar-items .links li, header nav .account li {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  position: relative;
}

#intro .carousel-button .carousel-control {
  width: 50px;
  height: 50px;
  background-color: rgba(7, 8, 10, 0.5);
  border-radius: 50%;
  text-align: center;
  z-index: -1;
}

#intro .carousel-button .carousel-control i::before {
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 48px;
  margin-left: 0;
  color: white;
}

#intro .banner-area .caption .button, #special-offers .owl-carousel .item .info .slide-footer a, #discount .discount_btn a {
  padding: 10px 24px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
  text-align: center;
  background-color: transparent;
}

#intro .banner-area .caption .button:hover, #special-offers .owl-carousel .item .info .slide-footer a:hover, #discount .discount_btn a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d1e21;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #000;
  font-size: 40px;
  letter-spacing: 11px;
}

@media (min-width: 375px) and (max-width: 530px) {
  .loading-text span {
    font-size: 30px;
    letter-spacing: 7px;
  }
}

@media (max-width: 374.98px) {
  .loading-text span {
    font-size: 22px;
    letter-spacing: 5px;
  }
}

.loading-text span:before {
  content: attr(data-preloader);
  position: absolute;
  top: 0;
  left: 0;
  color: #1ec8e7;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: preload-animation;
          animation-name: preload-animation;
}

.loading-text span:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading-text span:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading-text span:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading-text span:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading-text span:nth-child(6):before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading-text span:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

@-webkit-keyframes preload-animation {
  0%,
  100% {
    -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
    opacity: 0;
  }
  20%,
  50% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
    opacity: 0;
  }
}

@keyframes preload-animation {
  0%,
  100% {
    -webkit-transform: rotateY(-90deg) scale(1);
            transform: rotateY(-90deg) scale(1);
    opacity: 0;
  }
  20%,
  50% {
    -webkit-transform: rotateY(0) scale(1);
            transform: rotateY(0) scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotateY(0) scale(1.2);
            transform: rotateY(0) scale(1.2);
    opacity: 0;
  }
}

header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;
}

header nav {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 11px 70px !important;
  z-index: 7;
}

header nav img {
  width: 90px;
}

header nav .navbar-items {
  width: 60% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbar-items .hamburger {
  display: none;
}

header nav .account {
  width: 120px;
}

header nav .active-link hr {
  width: 100% !important;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#intro {
  overflow: hidden;
}

#intro .carousel-item {
  height: 100vh;
}

#intro .carousel-item img {
  height: 100% !important;
  -webkit-animation: zoom 20s;
          animation: zoom 20s;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

#intro .carousel-button {
  width: 100px;
}

#intro .banner-area {
  position: absolute;
  top: 36%;
  z-index: 9;
  width: 80%;
  left: 10%;
}

#intro .banner-area .caption {
  width: 90%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#intro .banner-area .caption h3 {
  font-weight: normal;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 8px;
}

@media (min-width: 500px) and (max-width: 575.98px) {
  #intro .banner-area .caption h3 {
    font-size: 58px !important;
  }
}

#intro .banner-area .caption h1 {
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
  padding: 30px 0 50px 0;
}

@media (min-width: 540px) and (max-width: 575.98px) {
  #intro .banner-area .caption h1 {
    font-size: 34px !important;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

#special-offers {
  background-color: white;
  overflow: hidden;
  padding: 100px 0 130px 0;
}

#special-offers .specials img {
  margin-bottom: 30px;
}

#special-offers .specials h1 {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #3a3b74;
}

#special-offers .specials p {
  padding: 20px 0 50px 0;
  font-size: 17px;
}

#special-offers .owl-carousel {
  padding: 0 6%;
}

#special-offers .owl-carousel .owl-dots {
  display: none;
}

#special-offers .owl-carousel .item {
  margin: 6px;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 5px 2px #e4e1e1;
          box-shadow: 0px 0px 5px 2px #e4e1e1;
  background-color: white;
  position: relative;
  cursor: pointer;
}

#special-offers .owl-carousel .item .price-info {
  background-color: rgba(0, 0, 0, 0.32);
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 12px 15px 12px;
  line-height: 3px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 11;
}

@media (min-width: 250px) and (max-width: 315px) {
  #special-offers .owl-carousel .item .price-info {
    padding: 7px 7px 12px 7px !important;
  }
  #special-offers .owl-carousel .item .price-info h5 {
    font-size: 17px;
  }
  #special-offers .owl-carousel .item .price-info span {
    font-size: 12px;
  }
}

#special-offers .owl-carousel .item .img-box {
  height: 300px;
  margin: 5px;
  overflow: hidden;
}

@media (min-width: 250px) and (max-width: 315px) {
  #special-offers .owl-carousel .item .img-box {
    height: 280px;
  }
}

#special-offers .owl-carousel .item .img-box img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#special-offers .owl-carousel .item:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#special-offers .owl-carousel .item .info {
  padding: 30px;
}

@media (min-width: 250px) and (max-width: 315px) {
  #special-offers .owl-carousel .item .info {
    padding: 20px 9px 30px 9px !important;
  }
}

#special-offers .owl-carousel .item .info .slide-header h4 {
  font-size: 26px;
  color: #3a3b74;
  font-weight: 700;
}

#special-offers .owl-carousel .item .info .slide-header span {
  font-size: 18px;
}

@media (min-width: 250px) and (max-width: 315px) {
  #special-offers .owl-carousel .item .info .slide-header h4 {
    font-size: 18px !important;
  }
  #special-offers .owl-carousel .item .info .slide-header span {
    font-size: 14px !important;
  }
}

#special-offers .owl-carousel .item .info .slide-body p {
  font-size: 17px;
}

#special-offers .owl-carousel .item .info .slide-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#special-offers .owl-carousel .item .info .slide-footer a {
  color: #3a3b74;
  padding: 7px 15px;
  font-size: 15px;
  margin-top: 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  border: 2px solid #3a3b74;
}

#special-offers .owl-carousel .item .info .slide-footer a:hover {
  color: white;
  background-color: #3a3b74;
}

@media (min-width: 250px) and (max-width: 315px) {
  #special-offers .owl-carousel .item .info .slide-footer a {
    font-size: 12px !important;
    letter-spacing: 0;
  }
}

#we-are-best {
  position: relative;
  overflow: hidden;
  padding: 80px 0 92px 0;
  background: url(../img/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#we-are-best::before {
  background-color: rgba(58, 59, 116, 0.9);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#we-are-best .caption h1 {
  text-align: center;
  padding: 30px 0 10px 0 !important;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: 1px;
}

#we-are-best .caption hr {
  margin-bottom: 40px;
  height: 1px;
  width: 70px;
  border-radius: 2px;
  background-color: white;
}

@media (min-width: 250px) and (max-width: 315px) {
  #we-are-best .caption h1 {
    font-size: 20px !important;
  }
}

#we-are-best .holder {
  padding: 40px 5px 0 5px !important;
  height: 307px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#we-are-best .holder:hover {
  padding-top: 15px !important;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#we-are-best .holder .icon-holder {
  width: 95px;
  height: 95px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 110px;
}

#we-are-best .holder .icon-holder i {
  font-size: 42px;
  color: white;
}

#we-are-best .holder h4 {
  font-size: 26px;
  padding-top: 47px;
  font-weight: 700;
}

#we-are-best .holder hr {
  height: 1px !important;
  display: inline-block;
  width: 30px;
  margin: 10px 0 0 0;
  background-color: white;
}

#we-are-best .holder p {
  position: relative;
  padding-top: 22px;
  font-size: 17px;
}

@media (min-width: 250px) and (max-width: 315px) {
  #we-are-best .holder h4 {
    font-size: 18px !important;
  }
}

#discount {
  background-color: #373064;
  padding: 120px 0 120px 0;
  position: relative;
  background-attachment: fixed;
  margin: 150px 0;
}

#discount::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(13, 47, 93, 0.8);
}

#discount .discount_title {
  padding-top: 27px;
}

#discount .discount_title h2 {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 27px;
  letter-spacing: 2px;
}

#discount .discount_title h2 span {
  color: #ff6363;
}

#discount .discount_title h1 {
  color: #fff;
  font-size: 65px;
  text-transform: uppercase;
  padding-bottom: 44px;
  font-weight: 600;
}

#discount .counterdowns {
  text-align: left;
}

#discount .counterdowns .cdowns {
  width: 125px;
  height: 125px;
  background: rgba(255, 99, 99, 0.7);
  display: inline-block;
  margin: 0;
  position: relative;
  border-radius: 0;
  text-align: center;
  margin-left: 0;
  margin-right: 34px;
  border-radius: 25px;
}

#discount .counterdowns .cdowns .time-counts {
  line-height: 87px;
  font-size: 60px;
  color: #fff;
}

#discount .counterdowns .cdowns .time-counts p {
  color: #fff;
  font-size: 21px;
  line-height: 0px;
  margin-top: 9px;
}

#discount .counterdowns .cdowns::before {
  position: absolute;
  content: "";
  background: #fff;
  top: 33px;
  right: -24px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

#discount .counterdowns .cdowns::after {
  position: absolute;
  content: "";
  background: #fff;
  top: 79px;
  right: -24px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

#discount .counterdowns .cdowns:last-child::before, #discount .counterdowns .cdowns:last-child::after {
  display: none;
}

#discount .discount_btn {
  padding-top: 97px;
  text-align: right;
}

#discount .discount_btn a {
  color: #fff;
  padding: 12px 47px;
  background: #ff6363;
  border: 0;
  font-size: 18px;
  font-weight: 500;
}

#discount .discount_btn a:hover {
  color: #ff6363;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */