@import "partials/extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.pre-icon {
  background: url("../img/loader.gif") no-repeat center;
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 999;
}

//=== header start ===//
header {
  nav {
    background-color: rgba(0, 0, 0, 0.4) !important;
    z-index: 7;
    img {
      width: 115px;
    }

    .left {
      margin-left: 400px;

      li {
        margin-right: 30px;
        a {
          @extend %nav-link;
        }
      }
    }

    .account {
      a {
        @extend %nav-link;
      }
    }
  }
}
//=== header end ===//

//=== intro section start ===//
#intro {
  position: absolute;
  top: -70px;
  .carousel-item {
    height: 850px;
    img {
      background-color: rgba(0, 0, 0, 0.4) !important;
      height: 100% !important;
      animation: zoom 20s;
    }
  }

  .carousel-control-prev {
    @extend %left-arrow;
    .carousel-control {
      margin: 110px 180px 0 0;
      i {
        font-size: 20px;
      }
    }
  }

  .carousel-control-next {
    @extend %right-arrow;
    .carousel-control {
      margin: 110px 0 0 180px;
      i {
        font-size: 20px;
      }
    }
  }

  .caption {
    position: absolute;
    top: 420px;
    left: 150px;
    text-align: left;
    font-family: "Inter", sans-serif;
    color: white;
    h3 {
      font-weight: normal;
      font-size: 40px;
    }

    h1 {
      font-weight: bold;
      font-size: 38px;
      display: inline-block;
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
}


//=== intro section end ===//
