// ======= Importing Partials and Reused Sections ======= //
@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/partials/common-features";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";
@import "../scss/reused_sections/modal";



// ======= Dark Bg-color Start ======= //
.dark-bgcolor{
  @extend %dark-bg;
}

.active-darkBg {
  opacity: 1;
  pointer-events: all;
}
// ======= Dark Bg-color End ======= //

// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
}
// ======= Intro Section End ======= //

// ======= Our Story Section Start ======= //
#our-story {
  overflow-x: hidden;
  padding: 70px 0 90px;

  .our-story-caption {
    padding-bottom: 60px;
    i {
      @extend %about-icon;
    }

    h3 {
      padding: 15px 0;
      @extend %section-caption;
      color: black;
      margin-bottom: 0;
    }

    hr {
      @extend %section-caption-bottom-line;
      background-color: black;
      margin: 0;
    }
  }

  .text {
    height: 320px;
    p {
      @extend %paragraph;
      padding: 0;

      &:last-of-type {
        margin-top: 15px;
      }
    }
  }

  .our-story-pic {
    background-image: url(../img/about/our-story.jpg);
    @extend %about-back-pic;
  }
}
// ======= Our Story Section End ======= //

// ======= Our Mission Section Start ======= //
#our-mission {
  overflow-x: hidden;
  padding: 70px 0 90px;
  background-color: rgb(118, 148, 132);

  .our-mission-caption {
    padding-bottom: 60px;
    i {
      @extend %about-icon;
    }

    h3 {
      padding: 15px 0;
      @extend %section-caption;
      margin-bottom: 0;
    }

    hr {
      @extend %section-caption-bottom-line;
      margin: 0;
    }
  }

  .text {
    height: 320px;
    color: white;

    p {
      @extend %paragraph;
      padding: 0;

      &:last-of-type {
        margin-top: 15px;
      }
    }
  }

  .our-mission-pic {
    background-image: url(../img/about/our-mission.jpg);
    @extend %about-back-pic;
  }
}
// ======= Our Mission Section End ======= //

// ======= Adventure Team Section Start ======= //
#adventure-team {
  padding: 70px 0;

  .adventure-team-caption {
    padding-bottom: 60px;
    i {
      @extend %about-icon;
    }

    h3 {
      padding: 15px 0;
      @extend %section-caption;
      margin-bottom: 0;
      color: black;
    }

    hr {
      @extend %section-caption-bottom-line;
      margin: 0;
      background-color: black;
    }

    p {
      @extend %paragraph;
      padding-top: 22px;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .holder {
      height: 350px;
      position: relative;
      display: flex;
      justify-content: center;

      img {
        border-radius: 6px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &::before {
        content: "";
        border-radius: 6px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
      }

      .social-media {
        display: flex;
        justify-content: space-between;
        position: absolute !important;
        bottom: 150px !important;
        width: 140px;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
        li {
          @extend %social-media;
        }
      }

      &:hover {
        &::before {
          transition: all 0.4s;
          transform: scaleY(1);
          opacity: 1;
          visibility: visible;
        }

        .social-media {
          bottom: 160px;
          transition: all 0.4s;
          opacity: 1;
          visibility: visible;
          transform: scaleY(1);
          transform-origin: bottom;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      border-radius: 12px;
      background-color: rgb(118, 148, 132);
      height: 100px;
      transform: translateY(-24px);
      h5 {
        color: white;
      }

      h6 {
        color: #dae0e5;
        font-weight: 300;
      }
    }
  }
}
// ======= Adventure Team Section End ======= //

// ======= Careers With Us Section Start ======= //
#careers-with-us {
  background-color: rgb(118, 148, 132);
  padding: 55px 0 85px;

  .careers-with-us-caption {
    padding-bottom: 60px;
    color: white;
    i {
      @extend %about-icon;
      &::before {
        font-size: 55px;
        color: black;
      }
    }

    h3 {
      padding: 2px 0 15px;
      @extend %section-caption;
      margin-bottom: 0;
    }

    hr {
      @extend %section-caption-bottom-line;
      margin: 0;
    }

    p {
      @extend %paragraph;
      padding-top: 22px;
    }
  }

  .accordion {
    .accordion-btn {
      width: 100%;
      height: 50px;
      padding: 0 20px;
      cursor: pointer;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-bottom: 1px solid #dbc5c5;
      background-color: white;
      position: relative;

      &:focus {
        outline: none;
      }

      &:first-of-type {
        border-radius: 4px 4px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 4px 4px;
        &:focus {
          border-bottom-left-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
        }
      }

      h6 {
        margin-bottom: 0;
        font-weight: 700;
        @media (min-width: 280px) and (max-width: 374.98px) {
          font-size: 15px !important;
        }
      }

      i {
        &::before {
          font-size: 13px;
          margin-left: 0;
        }
      }
      
      .vertical {
        transform: rotate(90deg);
        position: absolute;
        bottom: 14px;
        right: 21px;
      }

      .icon-rotate {
        transform: rotate(0deg);
        transition: all 0.5s ease;
        bottom: 25%;
      }
    }

    .accordion-text {
      margin: 0;
      width: 100%;
      height: 0px;
      transition: all 0.5s ease;
      overflow: hidden;
      background-color: rgb(92, 117, 94);

      &:last-of-type {
        border-radius: 0 0 4px 4px;
      }

      p {
        color: white;
        padding: 15px;
        font-size: 15px;
        @extend %paragraph;
        line-height: 24px;

        @media (min-width: 280px) and (max-width: 374.98px) {
          font-size: 14px !important;
        }
      }
    }

    .show-text {
      height: 86px;
      @media (min-width: 300px) and (max-width: 374.98px) {
        height: 152px !important;
      }
    }
  }
}
// ======= Careers With Us Section End ======= //



// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  #our-story {
    .text {
      height: 350px;
    }
  }

  #our-mission {
    padding: 70px 0 95px;
  }

  #careers-with-us {
    .accordion {
      .show-text {
        height: 108px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #our-story {
    padding: 70px 20px 90px;
    .our-story-caption {
      padding-bottom: 40px;
    }
    .text {
      height: 240px;
    }
  }

  #our-mission {
    padding: 70px 20px 90px;
    .our-mission-caption {
      padding-bottom: 40px;
    }

    .text {
      height: 240px;
    }

    .first {
      order: 1;
    }
    .second {
      order: 2;
    }
  }

  #adventure-team {
    padding: 70px 20px 40px;
    .adventure-team-caption {
      padding-bottom: 40px;
    }

    .item {
      .holder {
        height: 230px;

        .social-media {
          bottom: 95px !important;
        }
      }

      .info {
        height: 90px;
        width: 180px;
        transform: translateY(-55px);

        h5 {
          font-size: 19px;
        }
      }
    }
  }

  #careers-with-us {
    .accordion {
      .show-text {
        height: 108px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #our-story {
    padding: 70px 0 90px;
    .our-story-caption {
      padding-bottom: 40px;
    }
    .text {
      height: 304px;
      margin-bottom: 25px;
    }
  }

  #our-mission {
    padding: 70px 0 90px;
    .our-mission-caption {
      padding-bottom: 40px;
    }

    .text {
      height: 280px;
      margin-bottom: 25px;
    }

    .first {
      order: 1;
    }
    .second {
      order: 2;
    }
  }

  #adventure-team {
    padding: 70px 0 40px;
    .adventure-team-caption {
      padding: 0 20px 40px;
    }

    .item {
      .holder {
        height: 480px;
        .social-media {
          bottom: 210px !important;
        }
      }

      .info {
        height: 90px;
        width: 460px;
        transform: translateY(-55px);

        h5 {
          font-size: 19px;
        }
      }
    }
  }

  #careers-with-us {
    .careers-with-us-caption {
      padding: 0 20px 40px !important;
    }

    .accordion {
      .show-text {
        height: 108px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #our-story {
    padding: 70px 0 90px;
    .our-story-caption {
      padding-bottom: 40px;
    }
    .text {
      height: 95%;
      margin-bottom: 25px;
    }
  }

  #our-mission {
    padding: 70px 0 90px;
    .our-mission-caption {
      padding-bottom: 40px;
    }

    .text {
      height: 93%;
      margin-bottom: 25px;
    }

    .first {
      order: 1;
    }
    .second {
      order: 2;
    }
  }

  #adventure-team {
    padding: 70px 0 40px;
    .adventure-team-caption {
      padding: 0 20px 40px;
    }

    .item {
      .holder {
        height: 445px;
        .social-media {
          bottom: 210px !important;
        }
      }

      .info {
        height: 90px;
        width: 88%;
        transform: translateY(-55px);

        h5 {
          font-size: 19px;
        }
      }
    }
  }

  #careers-with-us {
    .careers-with-us-caption {
      padding: 0 20px 40px !important;
    }

    .accordion {
      .show-text {
        height: 132px;
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  .our-mission-pic,
  .our-story-pic {
    height: 320px !important;
  }

  #our-story {
    padding: 40px 0 60px;
    .our-story-caption {
      padding-bottom: 25px;
    }
    .text {
      height: 95%;
      margin-bottom: 25px;
    }
  }

  #our-mission {
    padding: 40px 0 60px;
    .our-mission-caption {
      padding-bottom: 25px;
    }

    .text {
      height: 93%;
      margin-bottom: 25px;
    }

    .first {
      order: 1;
    }
    .second {
      order: 2;
    }
  }

  #adventure-team {
    padding: 40px 0 20px;
    .adventure-team-caption {
      padding: 0 10px 40px;
    }

    .item {
      .holder {
        height: 300px;
        .social-media {
          bottom: 130px !important;
        }
      }

      .info {
        height: 90px;
        width: 86%;
        transform: translateY(-55px);
      }
    }
  }

  #careers-with-us {
    .careers-with-us-caption {
      padding: 0 10px 40px !important;
    }

    .accordion {
      .accordion-btn {
        h6 {
          font-size: 14px;
        }
      }

      .accordion-text {
        p {
          font-size: 13px;
        }
      }

      .show-text {
        height: 174px;
      }
    }
  }
}
// ======= Responsive Design End ======= //
