@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ludicrous";
  src: url(../WOFF-web-fonts/Ludicrous.woff);
  font-weight: 100;
}

.stop-scroll {
  height: 100vh;
  overflow: hidden;
}


// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
  text-align: center;
}
// ======= Intro Section End ======= //

// ======= Shop Cart Section Start ======= //
#shop-cart {
  padding: 70px 0;
  background-color: $light-background;
  .shop-table-wrapper {
    .shop-table {
      width: 100%;

      thead {
        .thead-row {
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          font-size: 13px;
          height: 70px;
          border-bottom: $light-line;
          .tour-img {
            width: 10%;
          }
          .tour-price {
            width: 170px;
          }

          .increase-decrease {
            width: 275px;
          }

          .tour-total {
            width: 110px;
          }
        }
      }

      tbody {
        .tbody-row {
          height: 100px;
          border-bottom: $light-line;

          .total-price,
          .tour-price {
            @extend %cart-price;
          }

          .tour-smallImg {
            height: 50px;
            width: 70px;
            object-fit: cover;
            img {
              height: 100%;
              width: 100%;
            }
          }

          .remove-tour {
            text-align: right;
            a {
              i {
                font-size: 16px;
                color: red;
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                &:hover {
                  color: white;
                  background-color: red;
                }
              }
            }
          }
        }
      }
    }
  }

  .cart-totals {
    padding-top: 60px;
    .cart-totals-head {
      h5 {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
    }

    .total {
      height: 50px !important;
      h6 {
        margin-bottom: 0;
      }
    }

    .total {
      border-top: $light-line;
      h6 {
        font-weight: 700;
      }
      span {
        font-size: 22px;
        font-weight: 700;
        i {
          &::before {
            font-weight: 500;
            font-size: 21px;
          }
        }
      }
    }

    .checkout-btn {
      padding-top: 20px;
      a {
        @extend %website-button;
        text-transform: none;
        padding: 12px 0;
        width: 100%;
      }
    }
  }
}
// ======= Shop Cart Section End ======= //



// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #shop-cart {
    .shop-table {
      thead {
        .thead-row {
          .tour-img {
            width: 13% !important;
          }
          .tour-name {
            width: 190px;
          }
          .tour-price {
            width: 100px !important;
          }
          .increase-decrease {
            width: 195px !important;
          }
          .tour-total {
            width: 100px !important;
          }
        }
      }

      tbody {
        .tbody-row {
          .tour-smallImg {
            height: 46px !important;
            width: 60px !important;
          }

          .increase-decrease-area {
            padding: 0 48px 0px 0 !important;
          }

          .remove-tour {
            i {
              margin-top: 6px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #shop-cart {
    .shop-table {
      thead {
        .thead-row {
          .tour-img {
            width: 13% !important;
          }
          .tour-name {
            width: 190px;
          }
          .tour-price {
            width: 105px !important;
          }
          .increase-decrease {
            width: 168px !important;
          }
          .tour-total {
            width: 90px !important;
          }
        }
      }

      tbody {
        .tbody-row {
          .tour-smallImg {
            height: 46px !important;
            width: 60px !important;
          }

          .tour-name {
            font-size: 14px;
            font-weight: bold;
          }

          .remove-tour {
            i {
              margin-top: 6px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #shop-cart {
    .shop-table {
      th,
      td {
        display: block;
        float: left;
      }

      th {
        width: 100%;
        padding-top: 10px;
      }

      thead {
        display: none;
      }

      tbody {
        .tbody-row {
          td {
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          td::before {
            display: block;
            font-weight: bold;
            margin: 12px 0 3px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 13px;
          }

          td:nth-child(2):before {
            content: "Tour";
          }

          td:nth-child(3):before {
            content: "Price";
          }

          td:nth-child(4):before {
            content: "Quantity";
          }

          td:nth-child(5):before {
            content: "Total";
          }

          .tour-total {
            span {
              margin-top: 5px;
            }
          }

          .remove-tour {
            height: 60px;
            padding-top: 38px;
            margin-bottom: 45px;
            text-align: left !important;
            i {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #shop-cart {
    .shop-table {
      th,
      td {
        display: block;
        float: left;
      }

      th {
        width: 100%;
        padding-top: 10px;
      }

      thead {
        display: none;
      }

      tbody {
        .tbody-row {
          td {
            font-size: 13px !important;
            width: 33.33%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          td::before {
            display: block;
            font-weight: bold;
            margin: 12px 0 3px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 11px;
          }

          td:nth-child(2):before {
            content: "Tour";
          }

          td:nth-child(3):before {
            content: "Price";
          }

          td:nth-child(4):before {
            content: "Quantity";
            margin-top: 20px;
          }

          td:nth-child(5):before {
            content: "Total";
            margin-top: 20px;
          }

          .total-price,
          .tour-price {
            .price-wrapper {
              i {
                &::before {
                  font-size: 15px !important;
                }
              }
              span {
                font-size: 15px !important;
              }
            }
          }

          .tour-total {
            span {
              margin-top: 5px;
            }
          }

          .remove-tour {
            padding-top: 30px;
            margin-bottom: 100px;
            text-align: left !important;
            i {
              margin-left: 8px;
            }
          }

          .tour-smallImg {
            margin-top: 11px;
            width: 53px !important;
            height: 40px !important;
          }
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
