// ======= Importing Partials and Reused Sections ======= //
@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/partials/common-features";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";



// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
  text-align: center;
}
// ======= Intro Section End ======= //

// ======= Shop Cart Section Start ======= //
#shop-cart {
  padding: 70px 0;
  background-color: $light-background;
  .shop-table-wrapper {
    .shop-table {
      width: 100%;

      thead {
        background-color: rgb(118,148,132);
        text-align: center;
        .thead-row {
          font-family: "Montserrat", sans-serif;
          color: white;
          text-transform: uppercase;
          font-size: 13px;
          height: 70px;
          border-bottom: $light-line;
        }
        th{
          width: 25%;
        }
      }

      tbody {
        text-align: center;
        .tbody-row {
          height: 90px;
          border-bottom: $light-line;

          .tour-price {
            span{
              @extend %cart-price;
            }
          }

          .increase-decrease {
            .increase-decrease-area {
              @extend %increase-decrease;
            }
          }

          .remove-tour {
            a {
              font-size: 14px;
            }
          }
        }
      }
    }

    .empty-alert{
      a{
        @extend %website-button;
        text-transform: none;
        padding: 8px 30px;
      }
    }
  }

  .cart-totals {
    padding-top: 60px;
    .cart-totals-head {
      h5 {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 15px;
      }
    }

    .total {
      height: 50px !important;
      h6 {
        margin-bottom: 0;
      }
    }

    .total {
      border-top: $light-line;
      h6 {
        font-weight: 700;
      }
      span {
        @extend %cart-price;
        font-size: 24px;
        font-weight: 700;
      }
    }

    .checkout-btn {
      padding-top: 20px;
      a {
        @extend %website-button;
        text-transform: none;
        padding: 12px 0;
        width: 100%;
      }
    }
  }
}
// ======= Shop Cart Section End ======= //


// ======= Responsive Design Start ======= //
@media (min-width: 576px) and (max-width: 767.98px) {
  #shop-cart {
    .shop-table {
      tbody {
        .tbody-row {
          .tour-name {
            font-size: 14px;
          }

          .tour-price{
            span{
              font-size: 18px !important;
            }
          }

          .increase-decrease-area {
            .btn {
              width: 29px !important;
              height: 35px !important;
              font-size: 9px !important;
            }
            input[type="text"] {
              width: 46px !important;
              font-size: 14px !important;
            }
          }

          .remove-tour{
            a{
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #shop-cart {
    padding: 45px 0 80px;
    .shop-table {
      th,
      td {
        display: block;
        float: left;
      }

      th {
        width: 100%;
        padding-top: 10px;
      }

      thead {
        display: none;
      }

      tbody {
        .tbody-row {
          height: 187px !important;
          td {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            font-size: 17px;
          }

          td::before {
            display: block;
            font-weight: bold;
            margin: 12px 0 3px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 13px;
          }

          td:nth-child(1):before {
            content: "Tour";
          }

          td:nth-child(2):before {
            content: "Price";
          }

          td:nth-child(3):before {
            content: "Quantity";
            margin-bottom: 8px;
          }

          .tour-price{
            span{
              font-size: 20px !important;
            }
          }

          .increase-decrease-area {
            .btn {
              width: 28px !important;
              height: 32px !important;
              font-size: 9px !important;
            }
            input[type="text"] {
              width: 44px !important;
            }
          }

          .remove-tour{
            margin-top: 46px;
          }
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #shop-cart {
    padding: 45px 0 80px;
    .shop-table {
      th,
      td {
        display: block;
        float: left;
      }

      th {
        width: 100%;
        padding-top: 10px;
      }

      thead {
        display: none;
      }

      tbody {
        .tbody-row {
          height: 175px !important;
          td {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            font-size: 14px;
          }

          td::before {
            display: block;
            font-weight: bold;
            margin: 12px 0 3px;
            font-family: "Montserrat", sans-serif;
            text-transform: uppercase;
            font-size: 11px;
          }

          td:nth-child(1):before {
            content: "Tour";
          }

          td:nth-child(2):before {
            content: "Price";
          }

          td:nth-child(3):before {
            content: "Quantity";
            margin-bottom: 8px;
          }

          .tour-price{
            span{
              font-size: 17px !important;
            }
          }

          .increase-decrease-area {
            .btn {
              width: 26px !important;
              height: 32px !important;
              font-size: 8px !important;
            }
            input[type="text"] {
              width: 38px !important;
              font-size: 14px !important;
            }
          }

          .remove-tour{
            margin-top: 46px;
            a{
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
