// ======= Importing Partials and Reused Sections ======= //
@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/partials/common-features";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";
@import "../scss/reused_sections/modal";



// ======= Dark Bg-color Start ======= //
.dark-bgcolor{
  @extend %dark-bg;
}

.active-darkBg {
  opacity: 1;
  pointer-events: all;
}
// ======= Dark Bg-color End ======= //

// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
}
// ======= Intro Section End ======= //

// ======= Get In Touch Start ======= //
#get-in-touch {
  padding: 70px 0 60px;
  background-color: $light-background;

  .get-in-touch-caption {
    padding-bottom: 50px;
    h1 {
      @extend %section-caption;
      color: black;
    }
    hr {
      @extend %section-caption-bottom-line;
      background-color: black;
    }

    p {
      @extend %paragraph;
    }
  }

  .holder {
    height: 300px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .address,
    .email,
    .phone {
      h4 {
        font-weight: 700;
      }
      position: relative;
      &::before {
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: -2px;
        left: -25px;
        color: black;
        font-weight: 900;
        font-size: 20px;
      }
    }

    .address {
      &::before {
        content: "\f3c5";
      }
    }

    .email {
      &::before {
        content: "\f0e0";
        left: -29px;
      }
    }

    .phone {
      &::before {
        content: "\f879";
        left: -27px;
      }
    }
  }

  .message {
    .same-style-input-area {
      width: 100%;
      .input-area {
        @extend %input;

        .msg-area {
          @extend %msg-area;
        }
      }

      .msg-area-holder {
        height: 126px;
      }

      .bottom-links {
        padding-top: 20px;

        .sign-up-btn {
          @extend %website-button;
          padding: 8px 36px;
          text-transform: none;
          cursor: pointer;
          &:hover {
            color: white !important;
          }
          &:focus {
            outline: none;
          }
        }
      }

      .alert {
        @extend %form-alert;
      }
    }
  }
}
// ======= Get In Touch End ======= //

// ======= Map Section Start ======= //
#map-area {
  height: 100%;
  padding: 0 50px 30px;
  height: 580px;
  display: flex;
  align-items: center;
  background-color: rgb(237,237,237);
  iframe {
    border: 30px solid white !important;
    box-shadow: 0 0 7px 0 #cecbcb;
    width: 100%;
    height: 480px;
  }
}
// ======= Map Section End ======= //


// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #map-area {
    padding: 0 30px 30px !important;
    height: 530px !important;
    iframe {
      border: 30px solid white !important;
      height: 430px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #get-in-touch {
    .get-in-touch-caption {
      padding: 0 50px 50px;
    }
    .holder {
      margin-bottom: 50px;
    }
  }

  #map-area {
    padding: 0 30px 50px !important;
    height: 550px !important;
    iframe {
      border: 20px solid white !important;
      height: 450px !important;
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #get-in-touch {
    padding: 70px 0 70px !important;
    .get-in-touch-caption {
      padding: 0 35px 50px;
    }
    .holder {
      height: 270px;
      margin-bottom: 50px;
    }
  }

  #map-area {
    padding: 0 15px 50px !important;
    height: 550px !important;
    iframe {
      border: 15px solid white !important;
      height: 450px !important;
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #get-in-touch {
    padding: 70px 0 50px !important;
    .get-in-touch-caption {
      padding: 0 12px 50px;
    }

    .holder {
      height: 260px;
      margin-bottom: 50px;
      h4 {
        font-size: 17px;
      }
      .address,
      .email,
      .phone {
        &::before {
          top: -4px;
          left: -19px;
          font-size: 17px;
        }
      }

      .email {
        &::before {
          left: -23px;
        }
      }

      .phone {
        &::before {
          left: -22px;
        }
      }
    }
    .message {
      .input-area {
        .msg-area {
          font-size: 13px;
          padding: 10px 15px !important;
        }
      }

      .msg-area-holder {
        height: 102px !important;
      }

      .bottom-links {
        button {
          padding: 8px 26px !important;
          font-size: 13px !important;
        }
      }
    }
  }

  #map-area {
    padding: 0 12px 40px !important;
    height: 500px !important;
    iframe {
      border: 10px solid white !important;
      height: 400px !important;
    }
  }
}
// ======= Responsive Design End ======= //
