@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro {
    .carousel-item {
      height: 100vh !important;
    }

    .banner-area {
      top: 38% !important;
      width: 90% !important;
      left: 5% !important;
      .caption {
        h3 {
          font-size: 76px !important;
        }

        h1 {
          font-size: 44px !important;
          padding: 50px 0 80px 0 !important;
        }

        .button {
          font-size: 24px !important;
          border-radius: 2px !important;
        }
      }
    }
  }

  #our-advantages {
    padding: 80px 0 145px 0 !important;
    .holder {
      h4 {
        font-size: 22px !important;
      }
    }
  }

  #special-offers {
    .img-box {
      height: 200px !important;
    }
  }

  #discount {
    .discount_title {
      h1 {
        font-size: 58px !important;
      }
    }

    .counterdowns {
      .counter {
        .timer {
          width: 96%;
        }
      }
    }

    .discount_btn {
      padding-top: 118px !important;
    }
  }

  #popular-tours {
    padding: 100px 30px 120px 30px !important;
    .popular-tours-caption{
      padding-bottom: 0 !important;
    }

    .img-box{
      height: 406px !important;
    }
    .item {
      height: 459px !important;
      .content {
        height: 138px !important;
        .content-header {
          padding: 14px 15px 8px 15px !important;
          
          .tour-name{
            i{
              font-size: 14px !important;
            }
            h4 {
              font-size: 17px !important;
              letter-spacing: 0.3px;
            }
          }
          .tour-date{
            i{
              font-size: 12px !important;
              margin-right: 3px !important;
            }
            span {
              font-size: 10px !important;
            }
          }
        }
        .content-links {
          padding: 16px 15px 25px 15px !important;
          a{
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    .navbar {
      height: 92px;
      img {
        width: 110px !important;
        position: absolute;
        top: 15px !important;
        left: 40px;
        z-index: 99;
      }

      .navbar-items {
        width: 100% !important;
        height: 100%;
        background-color: rgb(39, 48, 44) !important;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.7s cubic-bezier(1, 0, 0, 1);
        .hamburger {
          display: inline-block !important;
          width: 35px;
          height: 30px;
          position: fixed;
          top: 27px;
          right: 44px;
          cursor: pointer;
          display: flex !important;
          flex-direction: column;
          justify-content: space-around;
        }

        .line {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: all 0.7s;
        }

        .change .line-1 {
          transform: rotateZ(-45deg) translate(-8px, 6px);
        }
        .change .line-2 {
          opacity: 0;
        }
        .change .line-3 {
          transform: rotateZ(45deg) translate(-8px, -6px);
        }

        .links {
          height: 507px;
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            a {
              font-size: 36px;
            }
          }
        }
      }

      .active {
        right: 0 !important;
      }

      .account {
        width: 140px !important;
        flex-direction: row;
        position: absolute;
        top: 19px;
        right: 120px;
        li {
          a {
            font-size: 22px;
          }
        }
      }
    }
  }

  #intro {
    .carousel-item {
      height: 100vh !important;
    }

    .carousel-control {
      opacity: 0;
    }

    .banner-area {
      top: 30% !important;
      .caption {
        width: 80% !important;
        h3 {
          font-size: 70px !important;
        }

        h1 {
          font-size: 36px !important;
          padding: 40px 0 60px 0 !important;
        }

        .button {
          font-size: 20px !important;
        }
      }
    }
  }

  #our-advantages {
    padding: 80px 0 100px 0 !important;

    .holder {
      margin: 20px 0;
      padding: 0 10px;
      font-size: 17px;
    }
  }

  #view-tours {
    padding: 70px 0 40px 0 !important;
    .view-tours-text {
      padding: 0 0 40px !important;
      h4 {
        font-size: 25px !important;
      }
    }

    .view-tours-btn {
      text-align: center !important;
      a {
        font-size: 18px !important;
        padding: 10px 28px !important;
      }
    }
  }

  #discount {
    padding: 120px 0 140px 0 !important;
    .discount_title {
      h1 {
        font-size: 54px !important;
      }
    }

    .counterdowns {
      .counter {
        .timer {
          width: 96%;
          .cdowns {
            font-size: 44px !important;
            width: 100px !important;
            height: 100px !important;
            margin-right: 15px !important;
            border-radius: 16px;
            &:last-of-type {
              margin-right: 0 !important;
            }
          }
          .days {
            &::before {
              top: 60px;
              left: 28px;
              font-size: 19px;
            }
          }
          .hours {
            &::before {
              top: 60px;
              left: 24px;
              font-size: 19px;
            }
          }
          .minutes {
            &::before {
              top: 60px;
              left: 35px;
              font-size: 19px;
            }
          }
          .seconds {
            &::before {
              top: 60px;
              left: 34px;
              font-size: 19px;
            }
          }
        }
      }
    }

    .discount_btn {
      text-align: left !important;
      padding-top: 86px !important;
      a {
        padding: 10px 30px !important;
      }
    }
  }

  #popular-tours {
    padding: 100px 100px 120px 100px !important;
    .popular-tours-caption{
      padding-bottom: 0 !important;
    }
    .item {
      height: 600px !important;
      .price-info {
        padding: 7px 15px 24px 15px !important;
        h5{
          font-size: 46px !important;
        }
        span{
          font-size: 20px !important;
        }
      }
      .img-box{
        height: 540px !important;
      }
      .content {
        padding: 0 15px;
        .content-header {
          padding: 17px 15px 8px 15px !important;
          .tour-name{
            i{
              font-size: 20px !important;
              margin-right: 7px !important;
            }
            h4 {
              font-size: 25px !important;
            }
          }
          .tour-date{
            i{
              font-size: 16px !important;
              margin-right: 7px !important;
            }
            span {
              font-size: 15px !important;
            }
          }
        }
        .content-links {
          padding: 16px 15px 25px 15px !important;
          a{
            font-size: 13px !important;
            &:first-child{
              font-size: 15px !important;
            }
          }
        }
      }
    }
  }

  #coming-soon{
    .content {
      padding: 0 30px !important;
      .content-name {
        i {
          &::before {
            font-size: 30px !important;
            margin: 0 15px 0 0;
          }
        }
  
        h3{
          font-size: 26px !important;
          padding-top: 10px !important;
        }
      }

      .content-text{
        p{
          padding-left: 46px !important;
        }
      }
    }
  }

  #our-achievements{
    padding: 100px 0 100px 0 !important;
    .content{
      height: 320px !important;
      i{
        &::before{
          font-size: 55px !important;
        }
      }
  
      h2{
        font-size: 50px !important;
      }
  
      h3{
        font-size: 30px !important;
      }
    }
  }

  #subscribe{
    .form-holder{
      .form-field {
        input{
          width: 75% !important;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  header {
    .navbar {
      height: 75px;
      img {
        width: 90px !important;
        position: absolute;
        top: 12px !important;
        left: 40px;
        z-index: 99;
      }

      .navbar-items {
        width: 100% !important;
        height: 100%;
        background-color: rgb(39, 48, 44) !important;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.7s cubic-bezier(1, 0, 0, 1);
        .hamburger {
          display: inline-block !important;
          width: 35px;
          height: 30px;
          position: fixed;
          top: 22px;
          right: 44px;
          cursor: pointer;
          display: flex !important;
          flex-direction: column;
          justify-content: space-around;
        }

        .line {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: all 0.7s;
        }

        .change .line-1 {
          transform: rotateZ(-45deg) translate(-8px, 6px);
        }
        .change .line-2 {
          opacity: 0;
        }
        .change .line-3 {
          transform: rotateZ(45deg) translate(-8px, -6px);
        }

        .links {
          height: 507px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          li {
            a {
              font-size: 30px;
            }
          }
        }
      }

      .active {
        right: 0 !important;
      }

      .account {
        width: 112px !important;
        flex-direction: row;
        position: absolute;
        top: 18px;
        right: 120px;
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  #intro {
    .carousel-item {
      height: 100vh !important;
    }

    .carousel-control {
      opacity: 0;
    }

    .banner-area {
      top: 29% !important;
      .caption {
        width: 90% !important;
        h3 {
          font-size: 66px !important;
        }

        h1 {
          font-size: 34px !important;
          padding: 40px 0 70px 0 !important;
        }

        .button {
          font-size: 21px !important;
        }
      }
    }
  }

  #our-advantages {
    padding: 120px 0 140px 0 !important;
    .caption {
      padding-bottom: 40px;
    }

    .holder {
      padding: 40px 90px 0 90px !important;
      height: 280px !important;
      .icon-holder {
        i {
          font-size: 70px !important;
        }
      }
      hr {
        height: 1px !important;
        width: 40px !important;
      }
    }
  }

  #special-offers {
    .tour-name{
      i{
        font-size: 19px !important;
        margin: 4px 7px 0 0 !important;
      }
    }
    .slide-links {
      a {
        font-size: 10px !important;
      }
    }
  }

  #view-tours {
    padding: 55px 0 88px 0 !important;
    .view-tours-text {
      justify-content: center !important;
      padding-bottom: 40px;
      i{
        &::before{
          font-size: 48px !important;
          margin: 0 15px 0 0 !important;
        }
      }
      h4 {
        font-size: 30px !important;
      }
    }

    .view-tours-btn {
      text-align: center !important;
      a {
        font-size: 18px !important;
        padding: 12px 30px !important;
      }
    }
  }

  #discount {
    padding: 120px 0 140px 0 !important;
    .discount_title {
      text-align: center;
      h2 {
        font-size: 18px !important;
        &:first-of-type {
          font-size: 28px !important;
        }
      }
      h1 {
        font-size: 40px !important;
        margin-bottom: 15px;
      }
    }

    .counterdowns {
      .counter {
        .timer {
          width: 100%;
          .autob {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cdowns {
              width: 100px !important;
              height: 100px !important;
              border-radius: 15px !important;
              font-size: 44px;
              margin-right: 15px;
              margin-bottom: 34px;
              &:last-of-type {
                margin-right: 0 !important;
              }
            }
            .days {
              &::before {
                top: 62px;
                left: 30px;
                font-size: 18px;
              }
            }
            .hours {
              &::before {
                top: 62px;
                left: 24px;
                font-size: 19px;
              }
            }
            .minutes {
              &::before {
                top: 62px;
                left: 35px;
                font-size: 19px;
              }
            }
            .seconds {
              &::before {
                top: 62px;
                left: 34px;
                font-size: 19px;
              }
            }
          }
        }
      }
    }

    .discount_btn {
      text-align: center !important;
      padding-top: 72px !important;
      a {
        padding: 10px 30px !important;
      }
    }
  }

  #popular-tours {
    padding: 100px 80px 120px 80px !important;
    .popular-tours-caption{
      padding: 0 20px 0 !important;
    }
    .item {
      height: 500px !important;
      .price-info {
        padding: 7px 15px 24px 15px !important;
        h5{
          font-size: 42px !important;
        }
        span{
          font-size: 18px !important;
        }
      }
      .img-box{
        height: 435px !important;
      }
      .content {
        height: 148px !important;
        padding: 0 5px;
        .content-header {
          padding: 17px 15px 8px 15px !important;
          .tour-name{
            i{
              font-size: 19px !important;
              margin-right: 7px !important;
            }
            h4 {
              font-size: 22px !important;
            }
          }
          .tour-date{
            padding-top: 2px;
            i{
              font-size: 16px !important;
              margin-right: 7px !important;
            }
            span {
              font-size: 14px !important;
            }
          }
        }
        .content-links {
          padding: 16px 15px 25px 15px !important;
          a{
            font-size: 13px !important;
            &:first-child{
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }

  #coming-soon{
    .coming-soon-caption{
      padding-bottom: 60px !important;
    }
    .content {
      height: 320px !important;
      padding: 0 30px !important;
      .content-name {
        i {
          &::before {
            font-size: 35px !important;
            margin: 0 15px 0 0;
          }
        }
  
        h3{
          font-size: 28px !important;
          padding-top: 10px !important;
        }
      }

      .content-text{
        p{
          padding-left: 51px !important;
        }
      }
    }

    .img-box{
      height: 320px !important;
    }
    
    .third{
      order: 1;
    }

    .fourth{
      order: 2;
    }
  }

  #our-achievements{
    padding: 125px 0 100px 0 !important;
    .content{
      height: 370px !important;
      padding-top: 60px !important;
      &:hover {
        padding-top: 20px !important;
        transition: 0.4s ease-in-out;
      }
    }
  }

  #subscribe{
    .subscribe-title {
      padding: 0 50px 50px !important;
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  header {
    .navbar {
      height: 70px;
      img {
        width: 90px !important;
        position: absolute;
        top: 10px !important;
        left: 20px;
        z-index: 99;
      }

      .navbar-items {
        width: 100% !important;
        height: 100%;
        background-color: rgb(39, 48, 44) !important;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.7s cubic-bezier(1, 0, 0, 1);
        .hamburger {
          display: inline-block !important;
          width: 30px;
          height: 30px;
          position: fixed;
          top: 19px;
          right: 22px;
          cursor: pointer;
          display: flex !important;
          flex-direction: column;
          justify-content: space-around;
        }

        .line {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: all 0.7s;
        }

        .change .line-1 {
          transform: rotateZ(-45deg) translate(-8px, 6px);
        }
        .change .line-2 {
          opacity: 0;
        }
        .change .line-3 {
          transform: rotateZ(45deg) translate(-8px, -6px);
        }

        .links {
          height: 500px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          li {
            a {
              font-size: 30px;
            }
          }
        }
      }

      .active {
        right: 0 !important;
      }

      .account {
        width: 102px !important;
        flex-direction: row;
        position: absolute;
        top: 16px;
        right: 76px;
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }

  #intro {
    .carousel-item {
      height: 100vh !important;
    }

    .carousel-control {
      opacity: 0;
    }

    .banner-area {
      width: 90% !important;
      top: 30% !important;
      left: 5% !important;
      .caption {
        width: 100% !important;
        h3 {
          font-size: 48px !important;
        }

        h1 {
          font-size: 25px !important;
          padding: 40px 0 60px 0 !important;
        }

        .button {
          font-size: 15px !important;
        }
      }
    }
  }

  #our-advantages {
    padding: 80px 0 100px 0 !important;
    .caption {
      h1 {
        padding: 40px 0 80px 0 !important;
        font-size: 40px !important;
      }

      hr {
        width: 45px !important;
      }
    }

    .holder {
      padding: 40px 70px 0 70px !important;
      height: 280px !important;
      font-size: 17px;
      i {
        &::before{
          font-size: 50px !important;
        }
      }

      hr {
        width: 25px !important;
      }
      p {
        font-size: 16px !important;
        width: 250px;
      }
    }
  }

  #special-offers {
    padding: 120px 50px 130px 50px !important;
    .specials {
      h1 {
        font-size: 40px !important;
      }
      hr {
        width: 45px !important;
      }
    }
  }

  #view-tours {
    padding: 45px 0 75px 0 !important;
    .view-tours-text {
      justify-content: center !important;
      padding-bottom: 20px;
      i{
        &::before{
          font-size: 48px !important;
          margin: 0 15px 0 0 !important;
        }
      }
      h4 {
        font-size: 26px !important;
      }
    }

    .view-tours-btn {
      text-align: center !important;
      a {
        font-size: 16px !important;
        padding: 10px 30px !important;
      }
    }
  }

  #discount {
    padding: 130px 0 160px 0 !important;
    .discount_title {
      text-align: center;
      h2 {
        font-size: 15px !important;
        &:first-of-type {
          font-size: 28px !important;
        }
      }
      h1 {
        font-size: 35px !important;
        margin-bottom: 15px;
      }
    }

    .counterdowns {
      .counter {
        .timer {
          width: 100%;
          .autob {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cdowns {
              width: 70px !important;
              height: 72px !important;
              margin-bottom: 34px;
              margin-right: 13px !important;
              border-radius: 13px !important;
              font-size: 32px !important;
              &:last-of-type {
                margin-right: 0 !important;
              }
            }

            .days {
              &::before {
                top: 43px;
                left: 19px;
                font-size: 14px;
              }
            }
            .hours {
              &::before {
                top: 43px;
                left: 16px;
                font-size: 14px;
              }
            }
            .minutes {
              &::before {
                top: 43px;
                left: 24px;
                font-size: 14px;
              }
            }
            .seconds {
              &::before {
                top: 43px;
                left: 24px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .discount_btn {
      text-align: center !important;
      padding-top: 60px !important;
      a {
        padding: 10px 34px !important;
      }
    }
  }

  #popular-tours {
    padding: 100px 20px 120px 20px !important;
    .popular-tours-caption{
      padding: 0 15px 0!important;
      h1{
        font-size: 40px !important;
      }
      hr{
        width: 45px !important;
      }
      p{
        font-size: 16px !important;
      }
    }

    .item {
      height: 440px !important;
      .img-box{
        height: 405px !important;
      }
      .content {
        .content-header {
          padding: 20px 15px 8px 15px !important;
          .tour-name{
            i{
              font-size: 17px !important;
              margin-right: 5px !important;
            }
            h4 {
              font-size: 22px !important;
            }
          }
          .tour-date{
            i{
              font-size: 13px !important;
              margin-right: 3px !important;
            }
            span {
              font-size: 14px !important;
            }
          }
        }
        .content-links {
          padding: 16px 15px 25px 15px !important;
          a{
            font-size: 12px !important;
            &:first-child{
              font-size: 13px !important;
            }
          }
        }
      }
    }
  }

  #coming-soon{
    .coming-soon-caption{
      padding: 0 20px 60px !important;
      h1{
        font-size: 40px !important;
      }
      hr{
        width: 45px !important;
      }
    }
    .content {
      height: 320px !important;
      padding: 0 25px !important;
      .content-name {
        i {
          &::before {
            font-size: 35px !important;
          }
        }
  
        h3{
          font-size: 28px !important;
          padding-top: 10px !important;
        }
      }

      .content-text{
        p{
          padding-left: 51px !important;
        }
      }
    }

    .img-box{
      height: 320px !important;
    }
    
    .third{
      order: 1;
    }

    .fourth{
      order: 2;
    }
  }

  #our-achievements{
    padding: 125px 0 100px 0 !important;
    .achievements-caption{
      h1{
        font-size: 40px !important;
      }

      hr{
        width: 45px !important;
      }
    }

    .content{
      height: 330px !important;
      padding-top: 50px !important;
      &:hover {
        padding-top: 20px !important;
        transition: 0.4s ease-in-out;
      }

      i{
        &::before{
          font-size: 50px !important;
        }
      }

      h2{
        font-size: 53px !important;
      }

      h3{
        font-size: 30px !important;
      }
    }
  }

  #subscribe{
    .subscribe-title {
      padding: 0 20px 50px !important;

      h1{
        font-size: 40px !important;
      }
      hr{
        width: 45px !important;
      }
    }
    .form-holder{
      .form-field {
        input{
          padding-left: 20px !important;
          width: 65% !important;
        }
        .subs-btn{
          font-weight: 300 !important;
          padding: 10px 14px !important;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  header {
    .navbar {
      height: 60px;
      img {
        width: 70px !important;
        position: absolute;
        top: 10px !important;
        left: 12px;
        z-index: 99;
      }

      .navbar-items {
        width: 100% !important;
        height: 100%;
        background-color: rgb(39, 48, 44) !important;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        top: 0;
        right: -100%;
        transition: right 0.7s cubic-bezier(1, 0, 0, 1);
        .hamburger {
          display: inline-block !important;
          width: 25px;
          height: 30px;
          position: fixed;
          top: 15px;
          right: 18px;
          cursor: pointer;
          display: flex !important;
          flex-direction: column;
          justify-content: space-around;
        }

        .line {
          width: 100%;
          height: 3px;
          background-color: white;
          transition: all 0.7s;
        }

        .change .line-1 {
          transform: rotateZ(-45deg) translate(-8px, 6px);
        }
        .change .line-2 {
          opacity: 0;
        }
        .change .line-3 {
          transform: rotateZ(45deg) translate(-8px, -6px);
        }

        .links {
          height: 500px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          li {
            a {
              font-size: 20px;
            }
          }
        }
      }

      .active {
        right: 0 !important;
      }

      .account {
        width: 85px !important;
        flex-direction: row;
        position: absolute;
        top: 14px;
        right: 64px;
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }

  #intro {
    .carousel-item {
      height: 100vh !important;
    }

    .carousel-control {
      opacity: 0;
    }

    .banner-area {
      width: 96% !important;
      top: 30% !important;
      left: 3% !important;
      .caption {
        width: 100% !important;
        h3 {
          font-size: 38px !important;
        }

        h1 {
          font-size: 20px !important;
          letter-spacing: 2px !important;
          padding: 30px 0 50px 0 !important;
        }

        .button {
          font-size: 13px !important;
          padding: 7px 20px !important;
        }
      }
    }
  }

  #our-advantages {
    padding: 70px 0 80px 0 !important;
    .caption {
      height: 110px!important;
      h1 {
        font-size: 28px !important;
        padding: 20px 0 80px 0 !important;
      }
      hr {
        width: 42px !important;
      }
    }

    .holder {
      height: 220px !important;
      padding: 32px 35px 0 35px !important;
      i {
        &::before {
          font-size: 36px !important;
        }
      }

      h4 {
        font-size: 20px !important;
        padding-top: 10px !important;
      }

      hr {
        width: 24px !important;
      }

      p {
        font-size: 12px !important;
      }
    }
  }

  #special-offers {
    padding: 100px 10px 110px 10px !important;
    .specials {
      h1 {
        font-size: 28px !important;
      }
      hr {
        width: 42px !important;
      }
      p {
        font-size: 12px !important;
      }
    }
  }

  #view-tours {
    padding: 50px 0 75px 0 !important;
    .view-tours-text {
      justify-content: center !important;
      padding-bottom: 10px;
      i{
        &::before{
          font-size: 35px !important;
          margin: 0 15px 0 0 !important;
        }
      }
      h4 {
        font-size: 16px !important;
      }
    }

    .view-tours-btn {
      text-align: center !important;
      a {
        font-size: 12px !important;
        padding: 10px 18px !important;
      }
    }
  }

  #discount {
    padding: 110px 0 135px 0 !important;
    .discount_title {
      text-align: center;
      h2 {
        font-size: 14px !important;
        padding-bottom: 10px;
        &:first-of-type {
          font-size: 22px !important;
          padding-bottom: 15px !important;
        }
      }
      h1 {
        font-size: 27px !important;
        margin-bottom: 15px;
      }
    }

    .counterdowns {
      .counter {
        .timer {
          width: 100%;
          .autob {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cdowns {
              width: 59px;
              height: 61px;
              margin-right: 10px;
              border-radius: 7px;
              font-size: 25px;
              &:last-of-type {
                margin-right: 0 !important;
              }
            }

            .days {
              &::before {
                top: 35px;
                left: 15px;
                font-size: 12px;
              }
            }
            .hours {
              &::before {
                top: 35px;
                left: 13px;
                font-size: 12px;
              }
            }
            .minutes {
              &::before {
                top: 35px;
                left: 19px;
                font-size: 12px;
              }
            }
            .seconds {
              &::before {
                top: 35px;
                left: 19px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .discount_btn {
      text-align: center !important;
      padding-top: 60px !important;
      a {
        padding: 10px 30px !important;
      }
    }
  }

  #popular-tours {
    padding: 100px 5px 120px 5px !important;
    .popular-tours-caption{
      padding: 0 15px 0 !important;
      h1{
        font-size: 28px !important;
      }
      hr{
        width: 42px !important;
      }
      p{
        font-size: 12px !important;
      }
    }
    .item {
      height: 405px !important;
      .img-box{
        height: 370px !important;
      }
      .content {
        height: 131px !important;
        .content-header {
          padding: 11px 15px 8px 15px !important;
          .tour-name{
            i{
              font-size: 14px !important;
              margin-right: 3px !important;
            }
            h4 {
              font-size: 16px !important;
            }
          }
          .tour-date{
            i{
              font-size: 11px !important;
              margin-right: 3px !important;
            }
            span {
              font-size: 9px !important;
            }
          }
        }
        .content-links {
          padding: 16px 15px 25px 15px !important;
          a{
            font-size: 8px !important;
            &:first-child{
              font-size: 9px !important;
            }
          }
        }
      }
    }
  }

  #coming-soon{
    .coming-soon-caption{
      padding: 0 7px 50px !important;
      h1{
        font-size: 28px !important;
      }
      hr{
        width: 42px !important;
      }
      p{
        font-size: 12px !important;
      }
    }
    .content {
      height: 260px !important;
      padding: 0 15px !important;
      .content-name {
        i {
          &::before {
            font-size: 28px !important;
          }
        }
  
        h3{
          font-size: 21px !important;
          padding-top: 10px !important;
        }
      }

      .content-text{
        p{
          font-size: 12px !important;
          padding-left: 46px !important;
        }
      }
    }

    .img-box{
      height: 260px !important;
    }
    
    .third{
      order: 1;
    }

    .fourth{
      order: 2;
    }
  }

  #our-achievements{
    padding: 110px 0 100px 0 !important;
    .achievements-caption{
      padding-bottom: 18px !important;
      h1{
        font-size: 28px !important;
      }

      hr{
        width: 42px !important;
      }
    }

    .content{
      height: 250px !important;
      padding-top: 40px !important;
      &:hover {
        padding-top: 20px !important;
        transition: 0.4s ease-in-out;
      }

      i{
        &::before{
          font-size: 40px !important;
        }
      }

      h2{
        font-size: 40px !important;
        padding: 12px 0 !important;
      }

      h3{
        font-size: 20px !important;
      }
    }
  }

  #subscribe{
    .subscribe-title {
      padding: 0 0 30px !important;

      h1{
        font-size: 28px !important;
      }
      hr{
        width: 42px !important;
        margin-bottom: 25px !important;
      }
      p{
        font-size: 12px !important;
      }
    }
    .form-holder{
      .form-field {
        input{
          padding-left: 15px !important;
          font-size: 13px;
          height: 40px !important;
          width: 65% !important;
        }
        .subs-btn{
          font-size: 13px;
          font-weight: 300 !important;
          padding: 8px 10px !important
        }
      }
    }
  }
}
