// ======= Importing Partials and Reused Sections ======= //
@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/partials/common-features";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";



// ======= Dark Bg-color Start ======= //
.dark-bgcolor{
  @extend %dark-bg;
}

.active-darkBg {
  opacity: 1;
  pointer-events: all;
}
// ======= Dark Bg-color End ======= //

// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
}
// ======= Intro Section End ======= //

// ======= Sign Up Section Start ======= //
#sign-up-section {
  padding: 70px 0;
  background-color: $light-background;

  .sign-up-holder {
    background: rgb(92, 117, 94);
    box-shadow: 0 2px 10px 3px rgba(66, 63, 63, 0.2);
    border-radius: 5px;
    padding: 40px 40px 45px;

    .caption-area {
      padding-bottom: 15px;
      h3 {
        color: white;
        font-weight: 600;
      }
    }

    .same-style-input-area {
      width: 100%;
      .input-area {
        @extend %input;
      }
      
      .terms {
        padding-top: 20px;

        @extend %checkbox;
        label {
          font-weight: 300;
          margin-bottom: 0 !important;
          color: white;
        }
        input[type="checkbox"] + label:before {
          border: 1px solid white;
        }

        a {
          color: rgb(85,26,139);
          &:hover {
            color: rgb(84, 76, 141);
            text-decoration: none;
          }
        }
      }
      .bottom-links {
        padding-top: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .sign-up-btn {
          @extend %website-button;
          padding: 10px 35px;
          cursor: pointer;
          &:hover {
            color: white !important;
          }
          &:focus {
            outline: none;
          }
        }
      }

      .alert {
        @extend %form-alert;
        color: black;
      }
    }
  }
}
// ======= Sign Up Section End ======= //



// ======= Responsive Design Start ======= //
@media (min-width: 768px) and (max-width: 991.98px) {
  #sign-up-section {
    padding: 70px 155px;
  }
}

@media (min-width: 375px) and (max-width: 420px) {
  #sign-up-section {
    .sign-up-holder {
      padding: 50px 20px;
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #sign-up-section {
    .sign-up-holder {
      padding: 50px 15px;
      .caption-area {
        padding-bottom: 20px;
        h3 {
          font-size: 20px !important;
        }
      }
      .same-style-input-area {
        .terms {
          input[type="checkbox"] + label:before {
            font: 12px/1em sans-serif;
            height: 13px;
            width: 13px;
          }

          label {
            font-size: 13px;
          }
        }

        .bottom-links {
          button {
            padding: 8px 28px !important;
            font-size: 14px;
          }
        }

        .alert {
          font-size: 12px !important;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 299.98px) {
  #sign-up-section {
    .sign-up-holder {
      padding: 40px 15px !important;
    }
  }
}
// ======= Responsive Design End ======= //