@import "../scss/partials/extends";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

// ======= Loader Start ======= //
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 33px;
}
.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}
// ======= Loader End ======= //

// ======= Header Start ======= //
header {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 99;

  nav {
    background-color: rgba(0, 0, 0, 0.3) !important;
    padding: 11px 40px !important;
    z-index: 7;
    img {
      width: 90px;
    }
    .navbar-items {
      width: 60% !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .hamburger {
        display: none;
      }

      .links {
        @extend %nav-link-properties;
      }
    }

    .account {
      width: 120px;
      @extend %nav-link-properties;
    }
  }
}
// ======= Header End ======= //

// ======= Intro Section Start ======= //
#intro {
  overflow: hidden;

  .carousel-item {
    height: 100vh;
    img {
      height: 100% !important;
      animation: zoom 20s;
      filter: brightness(70%);
      object-fit: cover !important;
    }
  }

  .carousel-button {
    width: 100px;
    @extend %carousel-control;
  }

  .banner-area {
    position: absolute;
    top: 36%;
    z-index: 9;
    width: 80%;
    left: 10%;
    .caption {
      width: 90%;
      margin: 0 auto;
      color: white;
      text-align: center;
      h3 {
        font-weight: normal;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: 8px;
        @media (min-width: 500px) and (max-width: 575.98px) {
          font-size: 58px !important;
        }
      }

      h1 {
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 4px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0;
        padding: 30px 0 50px 0;
        @media (min-width: 540px) and (max-width: 575.98px) {
          font-size: 34px !important;
        }
      }
      .button {
        width: 180px;
        height: 45px;
        line-height: 40px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        color: white;
        border: 2px solid white;
        text-align: center;
        background-color: transparent;
        &:hover {
          text-decoration: none;
          background-color: white;
          color: black;
          transition: 0.2s linear;
        }
      }
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
}
// ======= Intro Section End ======= //


// ======= Special Offers Section Start ======= //
#special-offers{
  overflow: hidden;
  padding: 120px 0;
  .specials{
    h4{
      font-size: 36px;
      font-weight: 700;
    }
    p{
      padding: 20px 0 50px 0;
      font-size: 17px;
    }
  }
  .item{
    margin: 6px;
    box-shadow: 0px 0px 2px 1px rgb(245, 240, 240);
    background: #ffffff;
    .img-box{
      height: 238px;
      padding: 10px;
      img{
        height: 100%;
      }
    }

    .info{
      padding: 20px;
    }
  }
}
// ======= Special Offers Section End ======= //


// ======= We Are Best Section Start ======= //
#we-are-best {
  position: relative;
  overflow: hidden;
  padding: 80px 0 92px 0;
  background: url(../img/img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  &::before{
    background-color: rgba(58, 59, 116, 0.9);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .caption {
    h1 {
      padding: 30px 0 80px 0;
      font-weight: 700;
      font-size: 36px;
      position: relative;
      &::after {
        content: "";
        height: 3px;
        width: 45px;
        border-radius: 2px;
        background-color: #D7613F;
        position: absolute;
        top: 98px;
        right: 146px;
      }
    }
  }

  .holder {
    padding-top: 40px;
    height: 280px;
    transition: 0.4s ease-in-out;
    &:hover {
      padding-top: 15px !important;
      transition: 0.4s ease-in-out;
    }
    .icon-holder {
      width: 95px;
      height: 95px;
      border: 2px solid white;
      border-radius: 50%;
      line-height: 110px;
      i {
        font-size: 42px;
        // color: #32325d;
        color: white;
      }
    }

    h4 {
      padding-top: 47px;
      font-weight: 700;
      font-size: 20px;
    }

    p {
      position: relative;
      padding-top: 22px;
      &::before {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #D7613F;
        position: absolute;
        bottom: 61px;
        left: 113px;
      }
    }
  }
}
// ======= We Are Best Section End ======= //
