@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/main_tourItem_design";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: "ludicrous";
  src: url(../WOFF-web-fonts/Ludicrous.woff);
  font-weight: 100;
}

html {
  scroll-behavior: smooth;
}

.stop-scroll {
  height: 100vh;
  overflow: hidden;
}



// ======= Intro Section Start ======= //
#intro {
  overflow: hidden;

  .carousel-item {
    height: 100vh;
    img {
      height: 100% !important;
      animation: zoom 20s;
      filter: brightness(80%);
      object-fit: cover !important;
    }
  }

  .carousel-button {
    width: 100px;
    @extend %carousel-control;
  }

  .banner-area {
    position: absolute;
    top: 36%;
    z-index: 9;
    width: 80%;
    left: 10%;
    .caption {
      width: 90%;
      margin: 0 auto;
      color: white;
      text-align: center;
      h3 {
        font-size: 68px;
        font-family: ludicrous;
        @media (min-width: 500px) and (max-width: 575.98px) {
          font-size: 58px !important;
        }
      }

      h1 {
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0;
        padding: 30px 0 50px 0;
      }
      .button {
        @extend %website-button;
      }
    }

    @media (min-width: 250px) and (max-width: 299.98px) {
      top: 35% !important;
      .caption {
        h3 {
          font-size: 54px !important;
        }
        h1 {
          font-size: 18px !important;
        }
      }
    }
  }

  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
}
// ======= Intro Section End ======= //

// ======= Our Advantages Section Start ======= //
#our-advantages {
  position: relative;
  overflow: hidden;
  padding: 66px 0 99px 0;
  background-color: rgba(118, 148, 132, 1);

  .caption {
    height: 115px;
    h1 {
      @extend %section-caption;
      text-align: center;
      padding: 30px 0 0 !important;
    }
    hr {
      @extend %section-caption-bottom-line;
    }
  }

  .main-holder {
    .holder {
      padding: 40px 5px 0 5px;
      height: 257px;
      transition: 0.4s ease-in-out;
      &:hover {
        padding-top: 15px !important;
        transition: 0.4s ease-in-out !important;
      }
      .icon-holder {
        i {
          color: $icon-color;
          &::before {
            font-size: $big-icon-size;
            margin-left: 0;
          }
        }
      }

      h4 {
        font-size: $item-caption-size;
        font-family: $item-caption-font-family;
        padding-top: 20px;
        font-weight: 400;
        color: white;
      }

      hr {
        height: 0.5px !important;
        display: inline-block;
        width: 26px;
        margin: 10px 0 0 0;
        background-color: white;
      }

      p {
        position: relative;
        padding-top: 22px;
        @extend %paragraph;
      }

      @media (min-width: 250px) and (max-width: 315px) {
        h4 {
          font-size: 17px !important;
        }
      }
    }
  }
}
// ======= Our Advantages Section End ======= //

// ======= Special Offers Section Start ======= //
#special-offers {
  position: relative;
  background: url(../img/bg-images/forest.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 100px 70px 120px;
  .background-overlay {
    background: rgba(48, 59, 54, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .special-offers-caption {
    padding-bottom: 40px;
    h1 {
      @extend %section-caption;
    }
    hr {
      @extend %section-caption-bottom-line;
    }
    p {
      @extend %paragraph;
      color: white;
    }
  }

  .owl-carousel {
    .owl-dots {
      @extend %owl-dots;
    }
  }

  @media (min-width: 900px) and (max-width: 999.98px) {
    padding: 100px 80px 120px !important;
  }

  @media (min-width: 375px) and (max-width: 430px) {
    padding: 100px 30px 110px 30px !important;
  }

  @media (min-width: 576px) and (max-width: 599.98px) {
    padding: 100px 60px 110px 60px !important;

    .item{
      .img-box {
        height: 320px !important;
      }

      .info {
        .tour-name {
          padding: 17px 0 !important;
          h4 {
            font-size: 24px !important;
          }
        }
        .slide-links {
          a {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}
// ======= Special Offers Section End ======= //

// ======= View Tours Section Start ======= //
#view-tours {
  overflow-x: hidden;
  padding: 80px 0;
  .view-tours-text {
    justify-content: flex-end;
    i {
      &::before {
        font-size: 48px;
        color: $icon-color;
        margin: 0 15px 0 0;
      }
    }
    h4 {
      color: rgb(37, 43, 45);
      margin: 0;
      font-size: 27px;
    }
  }

  .view-tours-btn {
    padding-top: 15px;
    text-align: left;
    a {
      @extend %website-button;
      font-size: 16px;
      padding: 10px 30px;
      display: inline-block;
    }
  }

  @media (min-width: 375px) and (max-width: 430px) {
    .view-tours-text {
      padding-right: 0 !important;
      i {
        &::before {
          font-size: 44px !important;
        }
      }
      h4 {
        font-size: 21px !important;
      }
    }
  }

  @media (min-width: 250px) and (max-width: 299.98px) {
    .view-tours-text {
      padding-right: 0 !important;
      i {
        &::before {
          font-size: 45px !important;
        }
      }
      h4 {
        font-size: 20px !important;
      }
    }
  }
}
// ======= View Tours Section End ======= //

// ======= Discount Section Start ======= //
#discount {
  background-image: url(../img/tours/sheki.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 120px 0;
  position: relative;
  overflow-x: hidden;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(48, 59, 54, 0.5);
  }

  .discount_title {
    h2 {
      color: #fff !important;
      text-transform: uppercase;
      font-size: 27px;
      letter-spacing: 2px;
      &:first-of-type {
        font-size: 34px;
        padding-bottom: 10px;

        span {
          font-weight: 700;
          color: white;
        }
      }
      span {
        color: rgb(221, 121, 92);
        font-weight: 700;
      }
    }
    h1 {
      color: #fff;
      font-size: 65px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .price {
      padding-bottom: 44px;
      .norm-price {
        font-family: "Times New Roman", Times, serif;
        text-decoration: line-through;
        margin-right: 20px;
        font-size: 35px;
        color: rgb(221, 121, 92);
      }
      .discount-price {
        font-family: "Times New Roman", Times, serif;
        color: #fff;
        font-size: 50px;
      }
    }

    @media (min-width: 250px) and (max-width: 299.98px) {
      h2 {
        font-size: 15px !important;
        padding: 0 20px 10px;
        &:first-of-type {
          font-size: 23px !important;
          padding-bottom: 10px !important;
        }
      }
      h1 {
        font-size: 23px !important;
      }
      .price {
        .norm-price {
          font-size: 18px !important;
          margin-right: 9px !important;
        }
        .discount-price {
          font-size: 25px !important;
        }
      }
    }
  }

  .counterdowns {
    text-align: left;
    .timer {
      width: 79%;
      .cdowns {
        width: 125px;
        height: 125px;
        background: rgb(58, 59, 116);
        display: inline-block;
        margin: 0;
        position: relative;
        border-radius: 0;
        text-align: center;
        margin-left: 0;
        margin-right: 34px;
        border-radius: 15px;
        font-size: 52px;
        color: white;
        font-weight: 600;
        &:last-of-type {
          margin-right: 0 !important;
        }
      }

      .days {
        position: relative;
        &::before {
          content: "Days";
          position: absolute;
          top: 76px;
          left: 37px;
          font-size: 22px;
        }
      }
      .hours {
        position: relative;
        &::before {
          content: "Hours";
          position: absolute;
          top: 76px;
          left: 32px;
          font-size: 22px;
        }
      }
      .minutes {
        position: relative;
        &::before {
          content: "Min";
          position: absolute;
          top: 76px;
          left: 45px;
          font-size: 22px;
        }
      }
      .seconds {
        position: relative;
        &::before {
          content: "Sec";
          position: absolute;
          top: 76px;
          left: 44px;
          font-size: 22px;
        }
      }
    }

    @media (min-width: 250px) and (max-width: 299.98px) {
      .cdowns {
        width: 46px !important;
        height: 50px !important;
        margin-right: 10px !important;
        border-radius: 5px !important;
        font-size: 22px !important;
      }
      .days {
        &::before {
          top: 30px !important;
          left: 10px !important;
          font-size: 11px !important;
        }
      }
      .hours {
        &::before {
          top: 30px !important;
          left: 8px !important;
          font-size: 11px !important;
        }
      }
      .minutes {
        &::before {
          top: 30px !important;
          left: 14px !important;
          font-size: 11px !important;
        }
      }
      .seconds {
        &::before {
          top: 30px !important;
          left: 14px !important;
          font-size: 11px !important;
        }
      }
    }
  }

  .discount_btn {
    padding-top: 112px;
    text-align: right;
    a {
      @extend %website-button;
      font-size: 16px;
      padding: 10px 30px;
      @media (min-width: 250px) and (max-width: 315px) {
        font-size: 12px !important;
        letter-spacing: 0;
      }
    }
  }
}
// ======= Discount Section End ======= //

// ======= Popular Tours Section Start ======= //
#popular-tours {
  overflow-x: hidden;
  background-color: rgba(118, 148, 132, 1);
  padding: 100px 60px 120px 60px;
  
  .popular-tours-caption {
    padding-bottom: 40px;
    text-align: center;
    h1 {
      @extend %section-caption;
    }
    hr {
      @extend %section-caption-bottom-line;
    }
    p {
      @extend %paragraph;
      color: white;
    }
  }

  .owl-carousel {
    .owl-dots {
      @extend %owl-dots;
    }

    .item {
      height: 467px;
      position: relative;
      margin: 10px;
      &:hover {
        img {
          filter: brightness(70%) !important;
          transition: linear 0.2s;
        }
        .content {
          transform: translateY(-75px);
          transition: 0.4s all;
        }
      }

      .price-info {
        @extend %price-box;
        h5 {
          font-size: 30px;
        }
        span {
          font-size: 14px;
        }
      }

      .img-box {
        height: 400px;
        // overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: linear 0.2s;
          filter: brightness(80%);
        }
      }

      .content {
        width: 100%;
        background-color: white;
        height: 150px;
        transform: translateY(0px);
        transition: 0.4s all;

        .content-header {
          padding: 25px 20px 15px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center !important;
          i {
            font-size: 15px;
            margin-right: 7px;
            color: rgb(98, 107, 114);
          }
          .tour-name {
            h4 {
              font-size: $item-caption-size;
              font-family: $item-caption-font-family;
              letter-spacing: 1px;
            }
          }
          .tour-date {
            span {
              font-size: 13px;
              color: rgb(98, 107, 114);
            }
          }
        }
        .content-links {
          height: 92px;
          padding: 16px 20px 35px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            position: relative;
            @extend %add-to-cart-icon;
            @extend %top-info-box;
            .top-info-box {
              left: 26%;
              box-shadow: -4px 4px 14px 4px rgba(75, 74, 74, 0.2);
              &::after {
                left: calc(57% - 8px);
              }
            }
            &:hover .top-info-box {
              bottom: calc(93% + 5px);
            }

            &:first-of-type {
              @extend %website-button;
              padding: 9px 18px !important;
              font-size: 13px;
              font-weight: 500;
            }
          }

          .spinner{
            @extend %spinner;
          }
    
          .successIcon{
            @extend %successIcon;
          }
    
          @keyframes rotate {
            0%{
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }

  @media (min-width: 576px) and (max-width: 599.98px) {
    padding: 100px 60px 130px 60px !important;
    .owl-carousel {
      .item {
        height: 500px !important;
        .img-box {
          height: 437px !important;
        }
        .content {
          .content-header {
            .tour-name {
              i {
                font-size: 19px !important;
                margin-right: 7px !important;
              }
              h4 {
                font-size: 24px !important;
              }
            }
            .tour-date {
              i {
                font-size: 15px !important;
                margin-right: 7px !important;
              }
              span {
                font-size: 15px !important;
              }
            }
          }
          .content-links {
            a {
              font-size: 14px !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: 375px) and (max-width: 440px) {
    padding: 100px 30px !important;
    .item {
      height: 470px !important;
      .img-box {
        height: 410px !important;
      }
      .content {
        height: 146px !important;
        .content-header {
          padding: 17px 15px 8px 15px !important;
          .tour-name {
            h4 {
              font-size: 18px !important;
              letter-spacing: 0.5px !important;
            }
          }
          .tour-date {
            span {
              font-size: 12px !important;
            }
          }
        }
        .content-links {
          a {
            font-size: 11px !important;
            &:first-child {
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }

  @media (min-width: 250px) and (max-width: 299.98px) {
    .owl-carousel {
      .item {
        height: 370px !important;
        &:hover {
          .content {
            transform: translateY(-110px);
          }
        }
        .price-info {
          top: 14px !important;
          right: 14px !important;
          span {
            font-size: 11px !important;
          }
        }
        .content {
          height: 132px !important;
          transform: translateY(-39px);
          .content-header {
            padding: 11px 12px 10px 12px !important;
            .tour-name {
              i {
                font-size: 12px !important;
                margin-right: 3px !important;
              }
              h4 {
                font-size: 15px !important;
                letter-spacing: 0 !important;
              }
            }
            .tour-date {
              i {
                font-size: 9px !important;
                margin-right: 1px !important;
              }
              span {
                font-size: 9px !important;
                margin-bottom: 1px;
              }
            }
          }
          .content-links {
            padding: 16px 12px 25px 12px !important;
            a {
              .top-info-box {
                &::after {
                  left: calc(57% - 8px);
                }
              }
              &:hover .top-info-box {
                bottom: calc(84% + 5px);
              }

              i {
                &::before {
                  font-size: 18px !important;
                }
              }
              &:first-child {
                font-size: 9px !important;
              }
            }
          }
        }
      }
    }
  }
}
// ======= Popular Tours Section End ======= //

// ======= Cooming Soon Section Start ======= //
#coming-soon {
  padding-top: 100px;
  overflow-x: hidden;

  .coming-soon-caption {
    padding-bottom: 50px;
    text-align: center;
    h1 {
      @extend %section-caption;
      color: rgb(58, 59, 116);
    }
    hr {
      @extend %section-caption-bottom-line;
      background-color: rgb(58, 59, 116);
    }
    p {
      @extend %paragraph;
    }
  }

  .content {
    height: 450px;
    background-color: rgb(58, 59, 116);
    display: flex;
    padding: 0 90px;
    align-items: center;
    text-align: left;
    color: white;

    .content-name {
      i {
        &::before {
          font-size: 40px;
          color: rgb(245, 192, 94);
          margin: 0 15px 0 0;
        }
      }

      h3 {
        padding-top: 12px;
        font-size: 32px;
      }
    }

    .content-text {
      p {
        padding-left: 55px;
        font-size: $paragraph-size;
        font-weight: $paragraph-weight;
      }
    }
  }

  .third .content {
    background-color: white;
    .content-name {
      h3 {
        color: rgb(58, 59, 116);
      }
    }
    .content-text {
      p {
        color: black;
      }
    }
  }

  .img-box {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
  }

  .first-pic {
    background-image: url(../img/coming-soon/coming-soon1.jpg);
    filter: brightness(90%);
  }

  .second-pic {
    background-image: url(../img/coming-soon/coming-soon2.jpg);
    filter: brightness(90%);
  }
}
// ======= Cooming Soon Section End ======= //

// ======= Achievements Section Start ======= //
#our-achievements {
  background-color: rgba(118, 148, 132, 1);
  padding: 90px 0 120px 0;

  .achievements-caption {
    width: 100%;
    text-align: center;
    h1 {
      @extend %section-caption;
    }
    hr {
      @extend %section-caption-bottom-line;
    }
  }

  .content {
    height: 280px;
    padding-top: 50px;
    transition: 0.4s ease-in-out;
    &:hover {
      padding-top: 20px;
      transition: 0.4s ease-in-out;
    }
    i {
      color: $icon-color;
      &::before {
        margin: 0;
        font-size: $big-icon-size;
      }
    }

    h2 {
      padding: 25px 0 10px 0;
      font-size: 50px;
      font-weight: 500;
      color: white;
      // color: rgb(58, 59, 116);
    }

    h3 {
      text-align: center;
      font-size: 28px;
      font-family: $item-caption-font-family;
      letter-spacing: 1px;
    }
  }
}
// ======= Achievements Section End ======= //