@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ludicrous";
  src: url(../WOFF-web-fonts/Ludicrous.woff);
  font-weight: 100;
}

.stop-scroll {
  height: 100vh;
  overflow: hidden;
}


// ======= Dark Bg-Color Start ======= //
.dark-bgcolor {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.show-dark-bgcolor {
  opacity: 0.6 !important;
  visibility: visible !important;
}
// ======= Dark Bg-Color End ======= //

// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
}
// ======= Intro Section End ======= //

// ======= Tours Section Start ======= //
#tours {
  overflow: hidden;
  padding: 80px 20px 60px;
  background-color: rgb(237, 237, 237);
  .sidebar-area {
    height: 430px;
    padding: 20px 40px 0;
    background-color: white;
    .filters {
      .price-filter {
        min-height: 180px;
        padding-top: 30px;
        border-bottom: 1px solid rgb(240, 229, 229);
        h5 {
          padding-bottom: 25px;
          font-size: 18px;
          font-weight: 600;
        }

        .slider-tour-sorting {
          background-color: rgb(237, 237, 237);
          height: 3px;
          border: none;
          span {
            transition: none;
            border: 3px solid rgb(58, 59, 116);
            background: white;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            top: -8px;
            cursor: pointer;
            &:focus {
              outline: none;
            }
          }
          .ui-slider-range {
            height: 3px;
            background: rgb(58, 59, 116);
            transition: none;
          }
          width: 84%;
        }

        .tour-range-detail {
          padding-top: 30px;
          input[type="text"] {
            width: 100%;
            font-size: 17px;
            border: none;
            font-family: "Times New Roman", Times, serif;
            &:focus {
              outline: none;
            }
          }
        }
      }

      .province {
        min-height: 150px;
        padding-top: 40px;
        h5 {
          padding-bottom: 15px;
          font-size: 18px;
          font-weight: 600;
        }

        form {
          label {
            margin-bottom: 12px;
          }
        }

        @extend %checkbox;
      }
    }
  }

  .category-and-sorting {
    height: 60px;
    background-color: white;
    margin: 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    .category-btns {
      display: flex;
      justify-content: space-between;
      width: 370px;
      height: 44px;
      padding-top: 10px;
      margin-bottom: 0;
      li {
        a {
          cursor: pointer;
          padding: 3px 16px;
          font-weight: 300;
          border: none;
          border-radius: 3px;
          color: white;
          background-color: rgb(118, 148, 132);
          &:hover {
            text-decoration: none;
          }
        }

        .active-btn {
          background-color: rgb(58, 59, 116);
        }
      }
    }

    .sorting {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .dropholder {
        display: flex;
        height: 34px;
        padding: 0 0 0 14px;
        color: rgb(58, 59, 116);
        position: relative;
        h5 {
          font-size: 16px;
          color: black;
          line-height: 32px;
        }

        .dropdown {
          cursor: pointer;
          border-radius: 3px;
          background: rgb(58, 59, 116);
          margin-left: 20px;
          width: 162px;
          padding: 0 0 0 14px;
          height: 100%;
          position: relative;
          p {
            font-size: 15px;
            font-weight: 300;
            line-height: 32px;
            color: white;
          }

          i {
            position: absolute;
            right: 12px;
            top: 5px;
            transition: 0.4s all;
            &::before {
              color: white;
              font-size: 13px;
              margin-left: 0;
            }
          }
        }

        .menu {
          position: absolute;
          right: 0;
          top: 35px;
          width: 161px;
          cursor: pointer;
          transition: all 0.6s;
          transform-style: preserve-3d;
          transform: rotatey(180deg) rotateX(5deg) translatey(100px);
          backface-visibility: hidden;
          opacity: 0;
          background: rgb(118, 148, 132);
          border: 1px solid rgb(118, 148, 132);
          border-radius: 3px;
          z-index: 99;
          overflow: hidden;
          padding: 1px;

          li {
            font-size: 14px;
            padding: 9px;
            border-bottom: 1px solid #fff;
            color: #e8f8ff;
            transition: all 0.3s;
            list-style: none;
            &:hover {
              background: rgb(58, 59, 116);
              padding-left: 20px;
            }

            &:last-child {
              border: none;
            }
          }
        }

        .showMenu {
          opacity: 1;
          transform: rotateX(0deg) translatey(0px);
        }
        .rotate {
          transform: rotateZ(-180deg);
        }
      }
    }
  }

  .tour-holder {
    .item {
      padding: 1px;
      margin: 10px 10px 10px;
      background-color: white;
    
      position: relative;
      cursor: pointer;
    
      .price-info {
        @extend %price-box;
      }
    
      .img-box {
        height: 270px;
        margin: 2px;
        overflow: hidden;
        filter: brightness(90%);
        @media (min-width: 250px) and (max-width: 315px) {
          height: 280px;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: transform 0.3s;
        }
      }
    
      &:hover img {
        transform: scale(1.3);
      }
    
      .info {
        padding: 20px 20px 30px 20px;
        .tour-date {
          span,
          i {
            color: rgb(98, 107, 114);
            font-size: 13px;
            font-weight: 400;
          }
        }
        .tour-name {
          padding: 12px 0 20px 0;
          i {
            font-size: 15px;
            margin: 3px 5px 0 0;
            color: rgb(98, 107, 114);
          }
          h4 {
            font-size: 18px;
            font-family: $item-caption-font-family;
            letter-spacing: 1px;
            color: rgb(37, 43, 45);
            font-weight: 500;
          }
        }
        .slide-links {
          height: 38px;
          justify-content: space-between;
          align-items: center;
          a {
            @extend %add-to-cart-icon;
            position: relative;
            &:first-child {
              @extend %website-button;
              padding: 9px 16px;
              font-size: 12px;
              font-weight: 400;
              letter-spacing: 1px;
            }
    
            @extend %top-info-box;
          }
        }
      }
    }
  }

  nav {
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
}
// ======= Tours Section End ======= //



// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  #tours {
    .sidebar-area {
      padding: 20px 25px 0;
    }

    .category-and-sorting {
      .category-btns {
        width: 350px;
        li {
          font-size: 15px;
        }
      }

      .sorting {
        .dropholder {
          h5 {
            font-size: 15px !important;
          }
          .dropdown {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #tours {
    padding: 50px 0px 50px;
    .sidebar-area {
      padding: 0;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 9999;
      .filters {
        height: 100%;
        width: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;

        .price-filter {
          height: 180px;
          h5 {
            font-size: 22px;
          }

          .tour-range-detail {
            input[type="text"] {
              font-size: 20px;
            }
          }
        }
        .province {
          padding-top: 50px;
          h5 {
            font-size: 22px;
          }

          label {
            font-size: 18px;
          }
        }
      }

      .sidebar-filter-toggle {
        background: #fff url(../img/filter_icon.svg) no-repeat 50%;
        background-size: 45%;
        box-shadow: 0px 0px 2px 0px #edbfbf;
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: calc(50% - 25px);
        right: -48px;
        border-radius: 0 5px 5px 0;
      }

      .hide-filter-btn {
        transform: translateX(-60px);
        transition: 0.4s linear;
      }
    }

    .show-sidebar {
      // width: calc(100vw - 60px) !important;
      width: 350px !important;
      padding: 30px 30px 0;
      visibility: visible !important;
      opacity: 1 !important;
      transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;
    }

    .category-and-sorting {
      .category-btns {
        width: 350px;
        li {
          font-size: 15px;
        }
      }

      .sorting {
        .dropholder {
          h5 {
            font-size: 15px !important;
          }
          .dropdown {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #tours {
    padding: 50px 0px 50px;
    .sidebar-area {
      padding: 0;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 9999;
      .filters {
        height: 100%;
        width: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;

        .price-filter {
          height: 180px;
          h5 {
            font-size: 22px;
          }

          .tour-range-detail {
            input[type="text"] {
              font-size: 20px;
            }
          }
        }
        .province {
          padding-top: 50px;
          h5 {
            font-size: 22px;
          }

          label {
            font-size: 18px;
          }
        }
      }

      .sidebar-filter-toggle {
        background: #fff url(../img/filter_icon.svg) no-repeat 50%;
        background-size: 45%;
        box-shadow: 0px 0px 2px 0px #edbfbf;
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: calc(50% - 25px);
        right: -48px;
        border-radius: 0 5px 5px 0;
      }

      .hide-filter-btn {
        transform: translateX(-60px);
        transition: 0.4s linear;
      }
    }

    .show-sidebar {
      // width: calc(100vw - 60px) !important;
      width: 350px !important;
      padding: 30px 30px 0;
      visibility: visible !important;
      opacity: 1 !important;
      transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;
    }

    .category-and-sorting {
      padding: 0 10px;
      margin: 0px 10px 15px;
      height: 48px;
      .category-btns {
        width: 280px;
        li {
          font-size: 13px;
          a{
            padding: 3px 12px;
          }
        }
      }

      .sorting {
        .dropholder {
          padding: 0;
          height: 28px;

          h5 {
            font-size: 13px !important;
            line-height: 28px;
          }
          .dropdown {
            margin-left: 7px;
            width: 135px;
            padding: 0 0 0 10px;

            p {
              line-height: 28px;
              font-size: 13px;
            }

            i {
              top: 0px;
              right: 10px;
              &::before {
                font-size: 11px;
              }
            }
          }

          .menu {
            top: 29px;
            width: 135px;

            li {
              font-size: 13px;
            }
          }
        }
      }
    }

    .tour-holder{
      .item {
        .info {
          .tour-name {
            i {
              font-size: 14px !important;
              margin: 4px 7px 0 0 !important;
            }
          }
          .slide-links {
            a {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #tours {
    padding: 50px 30px 50px;
    .sidebar-area {
      padding: 0;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 9999;
      .filters {
        height: 100%;
        width: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;

        .price-filter {
          height: 180px;
          h5 {
            font-size: 22px;
          }

          .tour-range-detail {
            input[type="text"] {
              font-size: 20px;
            }
          }
        }
        .province {
          padding-top: 50px;
          h5 {
            font-size: 22px;
          }

          label {
            font-size: 18px;
          }
        }
      }

      .sidebar-filter-toggle {
        background: #fff url(../img/filter_icon.svg) no-repeat 50%;
        background-size: 45%;
        box-shadow: 0px 0px 2px 0px #edbfbf;
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: calc(50% - 25px);
        right: -48px;
        border-radius: 0 5px 5px 0;
      }

      .hide-filter-btn {
        transform: translateX(-60px);
        transition: 0.4s linear;
      }
    }

    .show-sidebar {
      width: calc(100vw - 60px) !important;
      padding: 30px 30px 0;
      visibility: visible !important;
      opacity: 1 !important;
      transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;
    }

    .category-and-sorting {
      height: 110px;
      align-items: normal;
      padding: 16px 20px;
      .category-btns {
        height: 44px;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        li {
          font-size: 15px;
          margin-right: 10px;
        }
      }

      .sorting {
        justify-content: flex-start !important;
        .dropholder {
          height: 32px;
          padding: 0;
          h5 {
            font-size: 15px !important;
          }
          .dropdown {
            margin-left: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 575.98px) {
  .item {
    .img-box {
      height: 300px !important;
    }
    .info {
      padding: 20px 30px 30px 30px !important;
      .tour-name {
        h4 {
          font-size: 20px !important;
        }
      }
      .slide-links {
        a {
          font-size: 13px !important;
        }
      }
    }
  }
}

@media (max-width: 434px) {
  #tours {
    .category-and-sorting {
      height: 165px;

      .category-btns {
        height: 82px;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 500px) {
  #tours {
    padding: 50px 0px 50px !important;
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #tours {
    padding: 50px 0px 50px;
    .sidebar-area {
      padding: 0;
      height: 100%;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 9999;
      .filters {
        height: 100%;
        width: 0;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;

        .price-filter {
          height: 180px;
          h5 {
            font-size: 22px;
          }

          .tour-range-detail {
            input[type="text"] {
              font-size: 20px;
            }
          }
        }
        .province {
          padding-top: 50px;
          h5 {
            font-size: 22px;
          }

          label {
            font-size: 18px;
          }
        }
      }

      .sidebar-filter-toggle {
        background: #fff url(../img/filter_icon.svg) no-repeat 50%;
        background-size: 45%;
        box-shadow: 0px 0px 2px 0px #edbfbf;
        display: block;
        width: 48px;
        height: 48px;
        position: absolute;
        top: calc(50% - 25px);
        right: -48px;
        border-radius: 0 5px 5px 0;
      }

      .hide-filter-btn {
        transform: translateX(-60px);
        transition: 0.4s linear;
      }
    }

    .show-sidebar {
      width: calc(100vw - 60px) !important;
      padding: 30px 30px 0;
      visibility: visible !important;
      opacity: 1 !important;
      transition: 0.4s cubic-bezier(1, 0, 0, 1) !important;
    }

    .category-and-sorting {
      align-items: normal;
      padding: 16px 20px;
      .category-btns {
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        height: 75px !important;
        li {
          font-size: 13px;
          margin-right: 10px;
        }
      }

      .sorting {
        justify-content: flex-start !important;
        .dropholder {
          height: 32px;
          padding: 0;
          h5 {
            font-size: 13px;
          }
          .dropdown {
            width: 140px;
            margin-left: 12px;
            p {
              font-size: 13px;
            }
            i {
              top: 2px;
              &::before {
                font-size: 10px;
              }
            }
          }

          .menu {
            width: 140px;
            li {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 315px) {
  .item {
    .img-box {
      height: 230px !important;
    }
    .info {
      padding: 10px 10px 24px 10px !important;
      .tour-date {
        span,
        i {
          font-size: 11px !important;
        }
      }
      .tour-name {
        i {
          font-size: 14px !important;
        }
        h4 {
          font-size: 17px !important;
        }
      }
      .slide-links {
        a {
          .top-info-box {
              font-size: 10px !important;
            }

          i {
            &::before {
              font-size: 22px !important;
            }
          }
          &:first-child {
            padding: 8px 14px !important;
            font-size: 11px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 288px) {
  .category-and-sorting {
    height: 148px !important;
    padding: 12px 10px 10px !important;
    .sorting {
      margin-bottom: 15px;
      .dropholder {
        h5 {
          font-size: 11px !important;
        }

        .dropdown {
          padding: 0 0 0 8px !important;
          width: 130px !important;
          margin-left: 10px !important;

          i {
            right: 9px !important;
          }
        }

        .menu {
          width: 130px !important;
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
