@import "../scss/partials/extends";
@import "../scss/partials/variables";
@import "../scss/reused_sections/header";
@import "../scss/reused_sections/footer";
@import "../scss/reused_sections/preloader";
@import "../scss/reused_sections/subscribe";
@import "../scss/reused_sections/back-to-top";
@import "../scss/reused_sections/intro-page_caption";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ludicrous";
  src: url(../WOFF-web-fonts/Ludicrous.woff);
  font-weight: 100;
}

.stop-scroll {
  height: 100vh;
  overflow: hidden;
}


// ======= Intro Section Start ======= //
#intro {
  background-image: url(../img/bg-images/wood.jpg);
  text-align: center;
}
// ======= Intro Section End ======= //

// ======= Tour Section Start ======= //
#tour {
  padding: 70px 0;
  background-color: $light-background;

  .tourPics-and-basicInfo {
    padding-bottom: 50px;
    border-bottom: $light-line;

    img {
      object-fit: cover;
    }

    .tour-img-box {
      margin: 0 5px 20px;
      height: 350px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        filter: brightness(85%);
        &:hover {
          transform: scale(1.3);
        }
      }
    }

    .small-img-box {
      transition: 0.4s linear;
      border: 2px solid rgb(237, 237, 237);
      height: 80px;
      margin: 5px;
      padding: 2px;

      img {
        height: 100%;
        width: 100%;
      }

      &:hover {
        border: 2px solid rgb(58, 59, 116);
      }
    }

    .active-img {
      border: 2px solid rgb(58, 59, 116);
    }

    .tour-info {
      padding: 0 0 0 10px;
      .top-part {
        width: 448px;
        justify-content: space-between;
        padding-right: 130px;
        .caption {
          h2 {
            margin-bottom: 0;
            font-weight: 700;
          }
        }
        .rating {
          width: 110px;
          align-items: center;
          i {
            color: rgb(58, 59, 116);
            font-size: 15px;
          }
        }
      }

      .location {
        padding: 20px 0 7px;
        h6 {
          color: rgb(98, 107, 114);
          margin: 0;
        }
      }

      .basic-info {
        height: 65px;
        width: 460px;
        // padding: 22px 0 17px;
        justify-content: space-between;
        align-items: center;

        i {
          &::before {
            font-size: 26px;
            margin: 0 10px 0 0;
          }
        }

        h6 {
          margin-bottom: 0;
          font-size: 18px;
        }

        .price {
          i {
            &::before {
              margin: 0;
              font-size: 25px;
            }
          }
          h5 {
            font-size: 24px;
            span {
              font-size: 18px;
              font-weight: 500;
            }
            margin-bottom: 0;
            font-weight: 600;
          }
        }
      }

      .text-part {
        padding: 0;
        text-align: justify;
        @extend %paragraph;
      }
    }

    .addToCart {
      padding: 20px 10px;
      .addToCartBtnBig {
        @extend %website-button;
        text-transform: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        font-size: 14px;
        height: 36px;
        width: 134px;
        padding: 0 12px;
        &:focus {
          outline: none;
        }

        .spinner {
          @extend %spinner;
          width: 16px;
          height: 16px;
        }

        .successIcon {
          @extend %successIcon;
          color: white;
          font-size: 14px;
        }

        @keyframes rotate {
          0% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .descAndReviews-wrapper {
    padding: 50px 0 0;
    .tour-tabs {
      padding-right: 40px;
      li {
        height: 47px;
        line-height: 45px;
        border-bottom: $light-line;
        a {
          font-size: 17px;
          color: #64736b;
          transition: 0.3s linear;
          font-weight: 700;
          &:hover {
            text-decoration: none;
            color: black;
          }
        }

        .active-tabBtn {
          color: black;
        }
      }
    }

    .tab-items {
      padding-top: 8px;
      h4,
      h6 {
        font-weight: 700;
      }
      p {
        @extend %paragraph;
        padding-top: 0 !important;
      }

      .description {
        .read-more {
          display: none;
        }

        .show-more-text {
          display: block;
          animation: fadeEffect 0.7s;
        }

        .readMoreBtn-wrapper {
          margin-top: 15px;
          a {
            display: inline-block;
            padding: 8px 30px;
            font-size: 15px;
            font-weight: 200;
            color: white;
            background-color: rgb(58, 59, 116);
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .reviews {
        p {
          margin-bottom: 25px;
        }
        .rating-caption {
          margin-bottom: 6px;
        }

        .rating {
          width: 110px;
          margin-bottom: 25px;
          align-items: center;
          a {
            font-size: 15px;
            color: black;
          }
        }

        #review-form {
          .input-area {
            @extend %input;
            height: 80px;

            .review-area {
              @extend %msg-area;
            }
          }

          .review-area-holder {
            height: 155px;
            margin-bottom: 14px;
          }

          .bottom-links {
            padding-top: 22px;

            .review-btn {
              @extend %website-button;
              text-transform: none;
              padding: 8px 36px;
              cursor: pointer;
              &:hover {
                color: white !important;
              }
              &:focus {
                outline: none;
              }
            }
          }
        }
      }

      .tab-content {
        animation: fadeEffect 0.7s;
      }

      .tab-content:not(:first-of-type) {
        display: none;
      }
    }
  }

  @keyframes fadeEffect {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
// ======= Tour Section End ======= //


// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  .tourPics-and-basicInfo {
    .tour-info {
      .basic-info {
        width: 436px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .tourPics-and-basicInfo {
    .tour-img-box {
      height: 400px !important;
    }

    .small-img-box {
      height: 97px !important;
    }

    .tour-info {
      padding: 50px 20px 0 10px !important;
    }
  }

  .descAndReviews-wrapper {
    .tab-items {
      #review-form {
        .name-area,
        .email-area {
          margin-top: 15px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #tour {
    padding: 60px 0;
    .tourPics-and-basicInfo {
      .tour-img-box {
        height: 300px !important;
      }

      .small-img-box {
        height: 70px !important;
      }

      .tour-info {
        padding: 40px 20px 0 10px !important;
        .top-part {
          width: 407px;

          .caption {
            h2 {
              font-size: 26px;
            }
          }

          .rating {
            width: 90px !important;
            i {
              font-size: 13px !important;
            }
          }
        }
      }
    }

    .descAndReviews-wrapper {
      .tab-items {
        padding-top: 30px !important;
        .reviews {
          p,
          .rating {
            margin-bottom: 27px !important;
          }

          #review-form {
            .name-area,
            .email-area {
              margin-top: 15px;
              input {
                height: 45px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #tour {
    padding: 50px 0;
    .tourPics-and-basicInfo {
      .tour-img-box {
        height: 270px !important;
        margin: 0 3px 20px;
      }

      .small-img-box {
        height: 75px !important;
        margin: 3px;
      }

      .tour-info {
        padding: 40px 20px 0 10px !important;

        .top-part {
          width: 305px;
          padding: 0;
          .caption {
            h2 {
              font-size: 29px !important;
            }
          }

          .rating {
            width: 100px;
            i {
              font-size: 14px;
            }
          }
        }

        .basic-info {
          height: 172px;
          width: 156px;
          padding: 16px 0 26px;
          flex-direction: column;
          align-items: flex-start;

          .price {
            i {
              &::before {
                font-size: 27px;
              }
            }

            h5 {
              font-size: 26px;
            }
          }
        }
      }
    }

    .descAndReviews-wrapper {
      .tab-items {
        padding-top: 30px !important;
        .description {
          .readMoreBtn-wrapper {
            a {
              font-size: 14px;
            }
          }
        }
        .reviews {
          p,
          .rating {
            margin-bottom: 27px !important;
          }

          #review-form {
            .name-area,
            .email-area {
              margin-top: 15px;
              input {
                height: 45px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #tour {
    padding: 50px 0;
    .tourPics-and-basicInfo {
      .tour-img-box {
        height: 200px !important;
        margin: 0 1px 20px;
      }

      .small-img-box {
        height: 50px !important;
        margin: 1px;
      }

      .tour-info {
        padding: 30px 0 0 !important;
        .top-part {
          width: 180px;
          height: 55px;
          flex-direction: column;
          padding: 0;

          .caption {
            h2 {
              font-size: 24px !important;
            }
          }

          .rating {
            width: 90px;
            i {
              font-size: 12px;
            }
          }
        }

        .location {
          padding: 28px 0 7px;
          h6 {
            font-size: 13px;
          }
        }

        .basic-info {
          height: 150px;
          width: 156px;
          padding: 15px 0 15px;
          flex-direction: column;
          align-items: flex-start;

          i {
            &::before {
              font-size: 22px;
            }
          }

          h6 {
            font-size: 16px;
          }

          .price {
            i {
              &::before {
                font-size: 25px;
              }
            }

            h5 {
              font-size: 24px;
            }
          }
        }
      }

      .addToCart {
        padding: 20px 0px !important;
        .addToCartBtnBig {
          font-size: 13px !important;
        }
      }
    }

    .descAndReviews-wrapper {
      .tour-tabs {
        li {
          a {
            font-size: 15px !important;
          }
        }
      }

      .tab-items {
        padding-top: 30px !important;
        h4 {
          font-size: 20px;
        }
        h6 {
          font-size: 15px;
        }

        .description {
          .readMoreBtn-wrapper {
            a {
              font-size: 13px;
              padding: 7px 26px;
            }
          }
        }
        .reviews {
          p,
          .rating {
            margin-bottom: 27px !important;
          }

          .rating {
            a {
              font-size: 14px;
            }
          }

          #review-form {
            .name-area,
            .email-area {
              margin-top: 7px;
              input {
                height: 42px !important;
                padding: 0 15px;
              }
            }

            .bottom-links {
              button {
                font-size: 14px !important;
                padding: 7px 32px !important;
              }
            }
          }
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
