%nav-links {
  color: white !important;
  font-weight: 200;
  font-size: 15px;
  &:hover {
    text-decoration: none;
  }
}

%nav-li-line {
  position: absolute;
  bottom: 7px;
  left: 0;
  margin: 0;
  height: 1%;
  width: 0px;
  background-color: white !important;
}

%nav-li-hover {
  &:hover hr {
    width: 100% !important;
    transition: 0.2s linear;
  }
}

%nav-link-properties {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    transition: transform 0.2s;
    position: relative;
    @extend %nav-li-hover;
    hr {
      @extend %nav-li-line;
    }
    a {
      @extend %nav-links;
    }
  }
}

%carousel-control {
  .carousel-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    position: relative;
    z-index: -1;
    i {
      &::before {
        font-size: 20px !important;
        line-height: 47px;
        margin-left: 0;
      }
    }

    &:hover{
      border: 2px solid #d7613f;
    }
  }
}


%website-button {
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  color: white;
  border: 2px solid white;
  text-align: center;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    border-radius: 3px;
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;

    background-color: #3A3B74;
    border: 2px solid #3A3B74;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover {
    color: white;
    text-decoration: none;
    &::before {
      transform: scaleX(1);
    }
  }

  transition: color 300ms ease-in-out;
  z-index: 1;
}
