// %nav-links {
//   color: white !important;
//   font-weight: 300;
//   font-size: 15px;
//   letter-spacing: 1px;
//   &:hover {
//     text-decoration: none;
//   }
// }

%nav-li-line {
  position: absolute;
  bottom: 7px;
  left: 0;
  margin: 0;
  height: 0.5px;
  width: 0px;
  background-color: white !important;
}

%nav-li-hover {
  &:hover hr {
    width: 100% !important;
    transition: 0.2s linear;
  }
}

%nav-link-properties {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    transition: transform 0.2s;
    position: relative;
    @extend %nav-li-hover;
    hr {
      @extend %nav-li-line;
    }
    a {
      color: white !important;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 1px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

%search-box {
  width: 300px;
  height: 50px;
  position: fixed;
  top: 122px;
  right: 192px;
  transition: 0.5s;
  opacity: 0;
  input[type="text"] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding-left: 15px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }

  a {
    position: absolute;
    top: 12px;
    right: 15px;
    transition: 0.5s;
    i {
      &::before {
        color: white;
        font-size: 16px;
      }
    }
  }
}

%carousel-control {
  .carousel-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    position: relative;
    z-index: -1;
    i {
      &::before {
        font-size: 20px !important;
        line-height: 47px;
        margin-left: 0;
      }
    }

    &:hover {
      border: 2px solid #d7613f;
      i {
        &::before {
          color: #d7613f;
        }
      }
    }
  }
}

%website-button {
  padding: 10px 24px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  color: white;
  text-align: center;
  background-color: #3a3b74;
  position: relative;
  text-transform: uppercase;
  &::before {
    content: "";
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-color: #769484;

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
  }
  &:hover {
    color: white;
    text-decoration: none;
    &::before {
      transform: scaleX(1);
    }
  }

  transition: color 300ms ease-in-out;
  z-index: 1;
}

%section-caption {
  font-size: 46px;
  font-family: ludicrous;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(58, 59, 116);
}

%section-caption-bottom-line {
  margin: 8px 0;
  height: 0.7px;
  width: 60px;
  background-color: rgb(58, 59, 116);
}

%paragraph {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

%owl-dots {
  margin-top: 20px;
  .owl-dot {
    outline: none !important;
    span {
      border-radius: 2px !important;
      height: 2px;
      width: 25px;
    }
  }
}

%add-to-cart-icon {
  i {
    &::before {
      color: rgb(27, 27, 27);
      font-size: 25px;
      transition: 0.2s linear;
    }
  }
  &:hover {
    text-decoration: none;
    i {
      &::before {
        color: #769484;
      }
    }
  }
}

%price-box {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 12px 15px 12px;
  line-height: 3px;
  text-align: center;
  border-radius: 4px;
  z-index: 11;
  h5 {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
  }
  span {
    font-size: 12px;
  }

  @media (min-width: 250px) and (max-width: 315px) {
    padding: 7px 7px 12px 7px !important;
    h5 {
      font-size: 22px !important;
    }
    span {
      font-size: 11px;
    }
  }
}

%footer-captions {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 10px;
}

%footer-links {
  color: white;
  font-weight: 200;
  font-size: 15px;
  transition: 0.3s linear;
  &:hover {
    text-decoration: none;
    color: rgb(245, 192, 95);
  }
}