$paragraph-size: 16px;
$paragraph-weight: 300;
$section-caption-size: 46px;
$section-caption-font-family: ludicrous;
$item-caption-size: 20px;
$item-caption-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;