$paragraph-size: 16px;
$paragraph-weight: 400;
$item-caption-size: 20px;
$item-caption-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$icon-color: black;
$big-icon-size: 60px;
$light-line: 1px solid #dbc5c5;
$light-background: rgb(237,237,237);