// ======= Footer Start ======= //
footer {
    padding: 100px 0px 30px;
    background-color: rgb(27, 27, 27);
    color: white;
    overflow-x: hidden;
  
    .footer-top {
      padding-bottom: 30px;
      h4 {
        @extend %footer-captions;
      }
      a {
        @extend %footer-links;
      }
      .about-us {
        padding-right: 10%;
        p {
          color: white;
          font-weight: 200;
          font-size: 15px;
        }
      }
  
      .quick-links {
        padding-left: 18%;
        li {
          padding-bottom: 5px;
        }
      }
  
      .legal {
        padding-left: 44%;
        li {
          padding-bottom: 5px;
        }
      }
  
      .contact {
        padding-left: 35%;
        li {
          padding-bottom: 5px;
          color: white;
          font-weight: 200;
          font-size: 15px;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  
    .footer-bottom {
      padding-top: 40px;
      border-top: 0.1px solid rgb(158, 157, 157);
      .copyright-holder {
        p {
          font-size: 15px;
          font-weight: 200;
        }
      }
      .social-media {
        justify-content: flex-end;
        ul {
          justify-content: space-between;
          width: 40%;
          li {
           @extend %social-media;
          }
        }
      }
    }
}
// ======= Footer End ======= //