// ======= Main Tour Item Design - Start ======= //
.main-tourItem-design {
  padding: 1px;
  margin: 10px 10px 10px;
  background-color: white;
  position: relative;
  transition: 1s ease !important;
  &:hover{
    box-shadow: 0 1px 10px 1px #cbc7c7;
    transition: 0.2s linear !important;
  }

  .price-info {
    @extend %price-box;
  }

  .img-box {
    height: 270px;
    margin: 2px;
    overflow: hidden;
    filter: brightness(90%);
    @media (min-width: 250px) and (max-width: 315px) {
      height: 280px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s;
    }
  }

  &:hover img {
    transform: scale(1.3);
  }

  .info {
    padding: 20px 20px 30px 20px;
    .tour-date-and-rating {
      .tour-date {
        span,
        i {
          color: rgb(98, 107, 114);
          font-size: 13px;
          font-weight: 400;
        }
      }
      .rating {
        span {
          display: flex;
          align-items: center;
          font-size: 19px;
          color: rgb(98,107,114);
          i {
            font-size: 14px;
            margin: 0 0 2px 3px;
          }
        }
      }
    }
    .tour-name {
      padding: 12px 0 20px 0;
      i {
        font-size: 15px;
        margin: 3px 5px 0 0;
        color: rgb(98, 107, 114);
      }
      h4 {
        font-size: 18px;
        font-family: $item-caption-font-family;
        letter-spacing: 1px;
        color: rgb(37, 43, 45);
        font-weight: 500;
      }
    }
    .slide-links {
      height: 37px;
      justify-content: space-between;
      align-items: center;
      a {
        @extend %add-to-cart-icon;
        position: relative;
        &:first-child {
          @extend %website-button;
          padding: 9px 16px;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1px;
        }

        @extend %top-info-box;
      }

      .spinner {
        @extend %spinner;
      }

      .successIcon {
        @extend %successIcon;
      }

      @keyframes rotate {
        0% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
// ======= Main Tour Item Design - End ======= //


// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-tourItem-design {
    .img-box {
      height: 220px !important;
    }

    .tour-date-and-rating {
      .rating {
        span {
          i {
            margin: 0 0 1px 3px !important;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-tourItem-design {
    .info {
      .tour-name {
        i {
          font-size: 17px !important;
          margin: 7px 7px 0 0 !important;
        }

        h4{
          font-size: 23px !important;
        }
      }
      .slide-links {
        a {
          font-size: 10px !important;
        }
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 575.98px) {
  .main-tourItem-design {
    .img-box {
      height: 300px !important;
    }
    .info {
      padding: 20px 30px 30px 30px !important;
      .tour-name {
        h4 {
          font-size: 20px !important;
        }
      }
      .slide-links {
        a {
          font-size: 13px !important;
        }
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 315px) {
  .main-tourItem-design {
    .img-box {
      height: 230px !important;
    }
    .info {
      padding: 10px 10px 24px 10px !important;
      .tour-date {
        span,
        i {
          font-size: 11px !important;
        }
      }
      .rating {
        span {
          font-size: 16px !important;
          i{
            font-size: 12px !important;
          }
        }
      }
      .tour-name {
        i {
          font-size: 14px !important;
        }
        h4 {
          font-size: 17px !important;
        }
      }
      .slide-links {
        a {
          .top-info-box {
            font-size: 10px !important;
          }

          i {
            &::before {
              font-size: 22px !important;
            }
          }
          &:first-child {
            padding: 8px 14px !important;
            font-size: 11px !important;
          }
        }
      }
    }
  }
}
// ======= Responsive Design End ======= //
