// ======= Our Advantages Section Start ======= //
#our-advantages {
  position: relative;
  overflow: hidden;
  padding: 60px 0 80px 0;
  background-color: rgba(118, 148, 132, 1);

  .caption {
    height: 115px;
    h1 {
      @extend %section-caption;
      text-align: center;
      padding: 30px 0 0 !important;
    }
    hr {
      @extend %section-caption-bottom-line;
    }
  }

  .main-holder {
    .holder {
      padding: 40px 10px 0 10px;
      height: 265px;
      transition: 0.4s ease-in-out;

      &:hover {
        padding-top: 15px !important;
        transition: 0.4s ease-in-out !important;
      }
      .icon-holder {
        i {
          color: $icon-color;
          &::before {
            font-size: $big-icon-size;
            margin-left: 0;
          }
        }
      }

      h4 {
        font-size: $item-caption-size;
        font-family: $item-caption-font-family;
        padding-top: 20px;
        font-weight: 400;
        color: white;
      }

      hr {
        height: 0.5px !important;
        display: inline-block;
        width: 26px;
        margin: 10px 0 0 0;
        background-color: white;
      }

      p {
        position: relative;
        padding-top: 22px;
        @extend %paragraph;
      }

      @media (min-width: 250px) and (max-width: 315px) {
        h4 {
          font-size: 17px !important;
        }
      }

      @media (min-width: 315px) and (max-width: 374.98px) {
        padding: 32px 55px 0 55px !important;
      }
    }
  }
}
// ======= Our Advantages Section End ======= //


// ======= Responsive Design Start ======= //
@media (min-width: 992px) and (max-width: 1199.98px) {
  #our-advantages {
    padding: 50px 0 90px 0 !important;
    .holder {
      h4 {
        font-size: 22px !important;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #our-advantages {
    padding: 60px 0 70px 0 !important;

    .holder {
      padding: 40px 40px 0 40px !important;
      height: 245px !important;
      margin: 20px 0;
      font-size: 17px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #our-advantages {
    padding: 60px 0 75px 0 !important;
    .caption {
      padding-bottom: 40px;
    }

    .holder {
      padding: 40px 0 !important;
      height: 270px !important;
      .icon-holder {
        i {
          &::before {
            font-size: 60px !important;
          }
        }
      }
      hr {
        height: 1px !important;
        width: 40px !important;
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 575.98px) {
  #our-advantages {
    padding: 65px 0 95px 0 !important;

    .holder {
      padding: 40px 50px 0 50px !important;
      height: 245px !important;
      font-size: 17px;
      i {
        &::before {
          font-size: 60px !important;
        }
      }

      hr {
        width: 25px !important;
      }
      p {
        font-size: 16px !important;
        width: 250px;
      }
    }
  }
}

@media (min-width: 250px) and (max-width: 374.98px) {
  #our-advantages {
    padding: 40px 0 70px 0 !important;
    .caption {
      height: 110px !important;
    }

    .holder {
      height: 215px !important;
      padding: 32px 35px 0 35px !important;
      i {
        &::before {
          font-size: 50px !important;
        }
      }

      h4 {
        font-size: 20px !important;
        padding-top: 10px !important;
      }

      hr {
        width: 24px !important;
      }
    }
  }
}
// ======= Responsive Design End ======= //
