.sticky {
  position: fixed;
  top: 0;
}

// ======= Top Header ======= //
#top-header {
  background-color: black;
  border-bottom: 1px solid #6c6e70;
  padding: 0 93px;
  height: 34px;

  .top-header-items {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .phone,
    .social-media,
    .langs {
      height: 34px;
    }

    .phone {
      padding-top: 5px;
      span {
        i {
          margin-right: 4px;
        }
        font-size: 13px;
      }
    }
    .social-media {
      display: flex;
      justify-content: center;
      width: 235px;
      padding-right: 63px;
      ul {
        justify-content: space-between;
        list-style: none;
        width: 100%;
        margin-bottom: 0;
        li {
          @extend %social-media;
          display: flex;
          align-items: center;
          a {
            font-size: 13px;
            width: 25px;
            height: 25px;
            line-height: 26px;
          }
        }
      }
    }
    .langs {
      height: 100%;
      ul {
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        height: 100%;
        li {
          font-size: 14px;
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 13px;
          a {
            color: white;
            &:hover {
              color: #aac5b7 !important;
              text-decoration: none;
            }
          }
          &:first-of-type {
            border-right: 1px solid rgb(184, 182, 182);
          }
        }
      }
    }
  }
}

// ======= Main Header ======= //
header {
  width: 100%;
  z-index: 9979;
  position: absolute;

  .navbarBg-lightBlack {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .navbarBg-darkBlack {
    background-color: black;
  }

  nav {
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s linear;
    padding: 0 70px 2px 70px !important;
    height: 75px;
    z-index: 7;

    img {
      width: 90px;
    }
    .navbar-items {
      width: 60% !important;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 55px;

      .links {
        @extend %nav-link-properties;
      }

      .social-media {
        display: none;
      }
    }

    .account {
      width: 165px;
      @extend %nav-link-properties;
      align-items: center;

      li {
        height: 20px;
        width: 33%;
        position: relative !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;

        a {
          padding: 0;
          i {
            z-index: 11;
            position: relative;
            sup {
              font-size: 10px;
              font-style: normal;
              position: absolute;
              top: 0px;
              right: -6px;
            }
            &::before {
              font-size: 17px;
              margin-left: 0;
            }
          }
          &:hover {
            color: #aac5b7 !important;
          }
        }

        .search-area-holder {
          width: 300px;
          height: 50px;
          position: fixed;
          top: 112px;
          right: 192px;
          border-radius: 4px;
          animation: fadeEffect 0.7s;
          display: none;
          box-shadow: 0 2px 6px 0 rgba(46, 45, 45, 7%);

          input[type="text"] {
            background-color: white;
            color: black;
            width: 100%;
            height: 100%;
            border: 0;
            padding-left: 15px;
            border-radius: 5px;
            &:focus {
              outline: 0;
              border: 1px solid black;
            }
          }

          a {
            position: absolute;
            top: 15px;
            right: 15px;
            i {
              &::before {
                color: black;
                font-size: 18px;
              }
            }
          }
        }

        .login-box-holder {
          width: 420px;
          background: #5c755e;
          box-shadow: 0 2px 8px 0 rgba(5, 5, 5, 7%);
          border-radius: 5px;
          position: fixed;
          top: 114px;
          right: 139px;
          padding: 35px 40px 50px;
          overflow: hidden;
          animation: fadeEffect 0.7s;
          display: none;

          .same-style-input-area {
            width: 100%;
            .input-area {
              @extend %input;
            }

            .alert {
              @extend %form-alert;
              color: black;
              font-size: 14px;

              @media (min-width: 250px) and (max-width: 374.98px) {
                font-size: 12px !important;
              }
            }

            .forgot-area {
              text-align: right;
              margin: 10px 0 20px 0;
              a {
                font-size: 14px;
                font-weight: 200;
                color: white;
                &:hover {
                  color: #e4e0e0 !important;
                }
              }
            }

            .bottom-links {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sign-up {
                color: white;
                font-weight: 300;
                font-size: 15px;
                &:hover {
                  color: rgb(224, 218, 218) !important;
                }
              }

              .sign-in {
                @extend %website-button;
                cursor: pointer;
                &:hover {
                  color: white !important;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }

          #reset-form {
            .reset-password {
              p {
                color: white;
              }
              .alert {
                @extend %form-alert;
                color: black;
              }
              .bottom-links {
                padding-top: 20px !important;
                .go-back {
                  color: white;
                  font-weight: 300;
                  font-size: 15px;
                  &:hover {
                    color: rgb(224, 218, 218) !important;
                  }
                }
                .reset {
                  @extend %website-button;
                  cursor: pointer;
                  &:hover {
                    color: white !important;
                  }
                  &:focus {
                    outline: none;
                  }
                }
              }
            }

            .hidden {
              display: none !important;
            }

            .success {
              flex-direction: column;
              height: 165px;
              justify-content: space-between;
              i {
                font-size: 60px;
                color: rgb(42, 176, 111);
              }
              h4 {
                margin: 7px 0 0;
                font-weight: 400;
                color: white;
              }
              p {
                margin-bottom: 0;
                font-weight: 100;
                color: white;
              }
            }
          }
        }

        .visible {
          display: block;
        }
      }
      .user {
        border-left: 1px solid rgb(184, 182, 182);
        border-right: 1px solid rgb(184, 182, 182);
      }

      @media (min-width: 280px) and (max-width: 374.98px) {
        right: 60px !important;
      }

      @keyframes fadeEffect {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .hamburger {
      display: none;
      position: absolute;
      top: 23px;
      .hamburger-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        .middle-line {
          width: 24px;
          height: 2px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          transition: all 0.5s ease-in-out;
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 2px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
            transition: all 0.5s ease-in-out;
          }
          &::before {
            transform: translateY(-8px);
          }
          &::after {
            transform: translateY(8px);
          }
        }
      }

      .change {
        .middle-line {
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
          &::before {
            transform: rotate(45deg) translate(35px, -35px);
          }
          &::after{
            transform: rotate(-45deg) translate(35px, 35px);
          }
        }
      }
    }

    .active-link {
      hr {
        width: 100% !important;
      }
    }
  }
}


// ======= Responsive Design ======= //
@media screen and (max-width: 991.98px) {
  #top-header {
    padding: 0 36px 0 42px;
    .social-media {
      display: none !important;
    }
  }

  header {
    .navbar {
      height: 75px;
      img {
        width: 90px !important;
        position: absolute;
        top: 14px !important;
        left: 40px;
        z-index: 99;
      }

      .navbar-items {
        width: 355px !important;
        height: 97%;
        padding-left: 0;
        background-color: rgba(0, 0, 0, 1) !important;
        padding: 125px 0 130px 64px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        top: 33px;
        right: -100%;
        transition: right 0.5s cubic-bezier(1, 0, 0, 1);

        .links {
          height: 280px;
          padding-left: 15px;
          width: 100%;
          display: flex;
          flex-direction: column;
          li {
            width: fit-content;
            a {
              font-size: 20px;
            }
          }
        }

        .social-media {
          width: 210px;
          margin-top: 70px;
          padding-left: 20px;
          display: flex !important;
          justify-content: center;
          ul {
            justify-content: space-between;
            list-style: none;
            width: 100%;
            margin-bottom: 0;
            li {
              display: flex;
              align-items: center;
              a {
                font-size: 17px;
                color: white;
                &:hover {
                  color: rgb(190, 185, 185);
                }
              }
            }
          }
        }
      }

      .active {
        right: 0 !important;
      }

      .account {
        width: 180px !important;
        flex-direction: row;
        position: absolute;
        top: 26px;
        right: 120px;
        li {
          height: 24px;
          a {
            i {
              &::before {
                font-size: 20px !important;
              }
              sup {
                top: -3px;
                right: -8px;
                font-size: 13px;
              }
            }
          }

          .search-area-holder {
            right: 236px;
          }

          .login-box-holder {
            right: 178px;
          }
        }
      }

      .hamburger {
        display: block !important;
        right: 40px !important;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  header {
    .account {
      width: 124px !important;
      top: 30px;
      right: 50px;
      li {
        .search-area-holder {
          width: calc(100% - 27px) !important;
          height: 45px !important;
          position: fixed !important;
          left: 12px !important;
          a {
            top: 12px !important;
          }
        }

        .login-box-holder {
          right: 14px !important;
          width: calc(100% - 27px) !important;
          padding: 38px 20px !important;
          .same-style-input-area {
            .forgot-area {
              a {
                font-size: 11px !important;
              }
            }

            .bottom-links {
              .sign-up {
                font-size: 13px !important;
              }
              .sign-in {
                font-size: 13px !important;
                padding: 7px 20px !important;
              }
            }
          }

          .reset-password {
            .bottom-links {
              .go-back {
                font-size: 13px !important;
              }
              .reset {
                font-size: 13px !important;
                padding: 7px 20px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  #top-header {
    padding: 0 14px 0 21px;
    .phone {
      padding-top: 4px;
      span {
        font-size: 13px !important;
      }
    }
    .langs {
      ul {
        li {
          width: 38px !important;
          font-size: 15px !important;
        }
      }
    }
  }

  header {
    .navbar {
      img {
        top: 13px !important;
        left: 23px;
      }

      .navbar-items {
        .middle-links {
          padding-left: 48px !important;
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }

      .account {
        right: 75px;
      }

      .hamburger {
        right: 21px !important;
      }
    }
  }
}

@media screen and (max-width: 374.98px) {
  #top-header {
    padding: 0 7px 0 14px !important;
  }

  header {
    .navbar {
      img {
        width: 63px !important;
        top: 20px !important;
        left: 12px;
      }

      .navbar-items {
        width: 100% !important;
        height: 98%;
        justify-content: space-around;
        align-items: center;
        padding: 90px 0 130px 0px !important;

        .links {
          padding-left: 0 !important;
          height: 370px;
          align-items: center;
          justify-content: space-evenly;
          li {
            a {
              font-size: 17px;
            }
          }
        }

        .social-media {
          width: 170px;
          ul {
            li {
              a {
                font-size: 15px;
              }
            }
          }
        }
      }

      .account {
        width: 124px !important;
        top: 30px;
        right: 50px;
        li {
          height: 18px;
          a {
            i {
              &::before {
                font-size: 15px !important;
              }
              sup {
                top: 1px;
                right: -6px;
                font-size: 9px;
              }
            }
          }
        }
      }

      .hamburger {
        top: 23px !important;
        right: 8px !important;
        .middle-line {
          width: 20px !important;
          &::before,
          &::after {
            width: 20px !important;
          }
        }
      }
    }
  }
}