$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a9c85ba09824df22fa58307fec521126") format("truetype"),
url("./flaticon.woff?a9c85ba09824df22fa58307fec521126") format("woff"),
url("./flaticon.woff2?a9c85ba09824df22fa58307fec521126") format("woff2"),
url("./flaticon.eot?a9c85ba09824df22fa58307fec521126#iefix") format("embedded-opentype"),
url("./flaticon.svg?a9c85ba09824df22fa58307fec521126#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "add-to-basket": "\f101",
    "bike": "\f102",
    "binoculars": "\f103",
    "call": "\f104",
    "camera-1": "\f105",
    "camera": "\f106",
    "camping-tent": "\f107",
    "clock": "\f108",
    "close": "\f109",
    "community": "\f10a",
    "compass": "\f10b",
    "down-arrow": "\f10c",
    "envelope": "\f10d",
    "filter": "\f10e",
    "hotel": "\f10f",
    "left-arrow": "\f110",
    "map": "\f111",
    "medal": "\f112",
    "minus-sign": "\f113",
    "national-park": "\f114",
    "phone-call": "\f115",
    "pin": "\f116",
    "pointed-star": "\f117",
    "public-transport": "\f118",
    "remove": "\f119",
    "right-arrow-angle": "\f11a",
    "schedule": "\f11b",
    "search-interface-symbol": "\f11c",
    "shopping-bag": "\f11d",
    "steering-wheel": "\f11e",
    "street-sign": "\f11f",
    "traveller": "\f120",
    "upload": "\f121",
    "user": "\f122",
);

.flaticon-add-to-basket:before {
    content: map-get($flaticon-map, "add-to-basket");
}
.flaticon-bike:before {
    content: map-get($flaticon-map, "bike");
}
.flaticon-binoculars:before {
    content: map-get($flaticon-map, "binoculars");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-camera-1:before {
    content: map-get($flaticon-map, "camera-1");
}
.flaticon-camera:before {
    content: map-get($flaticon-map, "camera");
}
.flaticon-camping-tent:before {
    content: map-get($flaticon-map, "camping-tent");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-close:before {
    content: map-get($flaticon-map, "close");
}
.flaticon-community:before {
    content: map-get($flaticon-map, "community");
}
.flaticon-compass:before {
    content: map-get($flaticon-map, "compass");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon-map, "down-arrow");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-filter:before {
    content: map-get($flaticon-map, "filter");
}
.flaticon-hotel:before {
    content: map-get($flaticon-map, "hotel");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-map:before {
    content: map-get($flaticon-map, "map");
}
.flaticon-medal:before {
    content: map-get($flaticon-map, "medal");
}
.flaticon-minus-sign:before {
    content: map-get($flaticon-map, "minus-sign");
}
.flaticon-national-park:before {
    content: map-get($flaticon-map, "national-park");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-pointed-star:before {
    content: map-get($flaticon-map, "pointed-star");
}
.flaticon-public-transport:before {
    content: map-get($flaticon-map, "public-transport");
}
.flaticon-remove:before {
    content: map-get($flaticon-map, "remove");
}
.flaticon-right-arrow-angle:before {
    content: map-get($flaticon-map, "right-arrow-angle");
}
.flaticon-schedule:before {
    content: map-get($flaticon-map, "schedule");
}
.flaticon-search-interface-symbol:before {
    content: map-get($flaticon-map, "search-interface-symbol");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-steering-wheel:before {
    content: map-get($flaticon-map, "steering-wheel");
}
.flaticon-street-sign:before {
    content: map-get($flaticon-map, "street-sign");
}
.flaticon-traveller:before {
    content: map-get($flaticon-map, "traveller");
}
.flaticon-upload:before {
    content: map-get($flaticon-map, "upload");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
