@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?a9c85ba09824df22fa58307fec521126") format("truetype"),
url("./flaticon.woff?a9c85ba09824df22fa58307fec521126") format("woff"),
url("./flaticon.woff2?a9c85ba09824df22fa58307fec521126") format("woff2"),
url("./flaticon.eot?a9c85ba09824df22fa58307fec521126#iefix") format("embedded-opentype"),
url("./flaticon.svg?a9c85ba09824df22fa58307fec521126#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-add-to-basket:before {
    content: "\f101";
}
.flaticon-bike:before {
    content: "\f102";
}
.flaticon-binoculars:before {
    content: "\f103";
}
.flaticon-call:before {
    content: "\f104";
}
.flaticon-camera-1:before {
    content: "\f105";
}
.flaticon-camera:before {
    content: "\f106";
}
.flaticon-camping-tent:before {
    content: "\f107";
}
.flaticon-clock:before {
    content: "\f108";
}
.flaticon-close:before {
    content: "\f109";
}
.flaticon-community:before {
    content: "\f10a";
}
.flaticon-compass:before {
    content: "\f10b";
}
.flaticon-down-arrow:before {
    content: "\f10c";
}
.flaticon-envelope:before {
    content: "\f10d";
}
.flaticon-filter:before {
    content: "\f10e";
}
.flaticon-hotel:before {
    content: "\f10f";
}
.flaticon-left-arrow:before {
    content: "\f110";
}
.flaticon-map:before {
    content: "\f111";
}
.flaticon-medal:before {
    content: "\f112";
}
.flaticon-minus-sign:before {
    content: "\f113";
}
.flaticon-national-park:before {
    content: "\f114";
}
.flaticon-phone-call:before {
    content: "\f115";
}
.flaticon-pin:before {
    content: "\f116";
}
.flaticon-pointed-star:before {
    content: "\f117";
}
.flaticon-public-transport:before {
    content: "\f118";
}
.flaticon-remove:before {
    content: "\f119";
}
.flaticon-right-arrow-angle:before {
    content: "\f11a";
}
.flaticon-schedule:before {
    content: "\f11b";
}
.flaticon-search-interface-symbol:before {
    content: "\f11c";
}
.flaticon-shopping-bag:before {
    content: "\f11d";
}
.flaticon-steering-wheel:before {
    content: "\f11e";
}
.flaticon-street-sign:before {
    content: "\f11f";
}
.flaticon-traveller:before {
    content: "\f120";
}
.flaticon-upload:before {
    content: "\f121";
}
.flaticon-user:before {
    content: "\f122";
}
